﻿@model  BoardsXpress.Models.MeetingTypeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";

    var meetingName = (Model.useAbbreviation) ? @Model.meetingAbbreviation : @Model.meetingType;
}

@*admin page*@
<div id="admin-container">
    <span class="btn btn-xs btn-default" data-toggle="tooltip" data-original-title="Takes you to the meeting types" data-placement="top" onclick="location.href = '/MeetingTypes'"><< Go Back to Meeting Types</span>
    <h3 style="text-align:center;"><span id="spanMeetingTypeName">@meetingName</span> <a class="btn btn-sm btn-default" data-action="edit" data-toggle="modal" data-target="#editMeetingType" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a></h3><br />
    <div class="row admin-buttons">
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/UserManagement/UserInRoleManagement?id=@Model.meetingTypeId'"><span class="glyphicon glyphicon-user"></span><br>Set Up Users</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/Meetings?id=@Model.meetingTypeId'"><span class="glyphicon glyphicon-calendar"></span><br>Meeting Calendar</button>
        </div>
        <div class="col-sm-3 col-md-3" data-toggle="modal" data-target="#modalAgendaItem" role="button">
            <button class="bigButtons"><span class="glyphicon glyphicon-list-alt"></span><br>Meeting Agenda</button>
        </div>
        <div class="col-sm-3 col-md-3" data-toggle="modal" data-target="#modalUploadReviewPublish" role="button">
            <button class="bigButtons"><span class="glyphicon glyphicon-phone"></span><br>Upload, Review and Publish Documents</button>
        </div>
    </div>

    <div class="row admin-buttons" style="margin-top:20px;">
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/RefDocs?id=@Model.meetingTypeId'"><span class="glyphicon glyphicon-file"></span><br>Manage Reference Documents and Resources</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/FeedManager/ManageFeed?id=@Model.meetingTypeId'"><span class="glyphicon glyphicon-comment"></span><br>Manage RSS Feed</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons"><span class="glyphicon glyphicon-briefcase"></span><br>Manage Archives</button>
        </div>
    </div>
    <br>
</div>

<div class="modal fade" id="editMeetingType" data-meetingtypeid="@Model.meetingTypeId" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="editMeetingType">
    <form class="form-horizontal" name="frmMeetingType" id="frmMeetingType">
        <input type="hidden" id="hdnMeetingTypeId" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="createMeetingType"><span id="meetingTypeLabel">Edit</span> Meeting Type</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="meetingType-input" class="col-sm-4 control-label">Enter Meeting Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control auto-focus" id="meetingTypeName" name="meetingTypeName" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="meetingType-input" class="col-sm-4 control-label">Enter Abbreviation</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="meetingAbbreviation" name="meetingAbbreviation" maxlength="50" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="meetingType-input" class="col-sm-4 control-label">Use Abbreviation?</label>
                        <div class="col-sm-8">
                            <div class="checkbox">
                                <label class="checkbox-bootstrap checkbox-lg">
                                    <input type="checkbox" id="useAbbreviation" name="useAbbreviation" checked="checked" /><span class="checkbox-placeholder"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="meeting-submit" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Pop-up for agenda item selection-->
<div class="modal fade" id="modalAgendaItem" data-meetingtypeid="@Model.meetingTypeId" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalAgendaItem">
    <form class="form-horizontal" name="frmOpenAgendaItem" id="frmOpenAgendaItem" method="post" action="AgendaItems/Index">
        <input type="hidden" name="meetingTypeId" id="meetingTypeId" value="@Model.meetingTypeId" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Select Meeting Date for @meetingName</h4>
                </div>
                <div class="modal-body">
                    <select name="selectMeetingDate" class="form-control" id="selectMeetingDate">
                        <option id="meetingselection-default" value="" selected>Select</option>
                        @foreach (var item in Model.MeetingsList.OrderBy(x => DateTime.ParseExact(x.MeetingDate, "dd/MM/yyyy", null)))
                        {
                        <option value="@item.MeetingId">@String.Format("{0:d MMM, yyyy}", DateTime.ParseExact(@item.MeetingDate, "dd/MM/yyyy", null))</option>
                        }
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" id="btnSubmit" value="Ok" disabled>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Pop-up for Review and Publish selection-->
<div class="modal fade" id="modalUploadReviewPublish" data-meetingtypeid="@Model.meetingTypeId" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalUploadReviewPublish">
    <form class="form-horizontal" name="frmUploadReviewPublish" id="frmUploadReviewPublish" method="post" action="Publish/Index">
        <input type="hidden" name="meetingTypeId" id="meetingTypeId" value="@Model.meetingTypeId" />
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Select Meeting Date for @meetingName</h4>
                </div>
                <div class="modal-body">
                    <select id="meetingdate-selection" name="meetingId" class="form-control">
                        <option id="meetingselection-default" value="" selected>Select</option>
                        @foreach (var item in Model.MeetingsList.OrderBy(x => DateTime.ParseExact(x.MeetingDate, "dd/MM/yyyy", null)))
                        {
                        <option value="@item.MeetingId">@String.Format("{0:d MMM, yyyy}", DateTime.ParseExact(@item.MeetingDate, "dd/MM/yyyy", null))</option>
                        }
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" id="meetingdate-submit" value="Ok" disabled>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="~/Scripts/Custom/dashboardlayout.js"></script>

<script>
    $('#meetingdate-selection').change(function () {
        $('#meetingselection-default').hide();
                            var meetingTypeId = '@Model.meetingTypeId';
                            var meetingId = $('#meetingdate-selection option:selected').next().val();
                            var meetingDate = $('#meetingdate-selection option:selected').val();
        $('#meetingTypeId').val(meetingTypeId);
        $('#meetingId').val(meetingId);
        $('#meetingDate').val(meetingDate);
                            updateFormEnabled();
                        })
    $('#selectMeetingDate').change(function () {
                            updateFormForAgenda();
                        })

    //enable disable submit unless meeting date selected
   // $('#meetingdate-submit').attr('disabled', 'disabled');
    function updateFormEnabled() {
                            if (verifyAdSettingsForReview()) {
            $('#meetingdate-submit').prop("disabled", false);
                            } else {
            $('#meetingdate-submit').attr('disabled', 'disabled');
                            }
                        }
                        function updateFormForAgenda() {
                            if (verifyAdSettings()) {
            $('#btnSubmit').prop("disabled", false);
                            } else {
            $('#btnSubmit').attr('disabled', 'disabled');
                            }
                        }
                        function verifyAdSettings() {
                            if ($('#selectMeetingDate').val() != '') {
                                return true;
                            } else {
                                return false
                            }
                        }
                        function verifyAdSettingsForReview() {
                            if ($('#meetingdate-selection').val() != '') {
                                return true;
                            } else {
                                return false
                            }
                        }
                        //$('#meetingdate-selection').change(updateFormEnabled);
</script>

