﻿@model  List<BoardsXpress.Models.CalendarView>
@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li>Calendar</li>
</ol>
<style type="text/css">
    .panel-heading .accordion-toggle:after {
        font-family: 'Glyphicons Halflings';
        content: "\e114";
        float: right;
        color: grey;
    }

    .panel-heading .accordion-toggle.collapsed:after {
        content: "\e080";
    }
</style>
<div class="container main-container" id="calenderForm">
    <h3 class="text-center">Meeting Calendar</h3><br />

    <div class="container">


        <div class="panel-group" id="accordion">
            <!-- ko foreach: responseSetUpData().MeetingTypeList -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"  data-bind="attr : {href: '#'+meetingTypeId}">
                            <span data-bind="text: meetingType"></span>
                        </a>
                    </h4>
                </div>
                <div  class="panel-collapse collapse" data-bind="attr: {id : meetingTypeId}">
                    <div class="panel-body">
                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th>Meeting Date</th>
                                <th>Meeting Venue</th>
                                <th>Start Time - End Time</th>
                            </tr>
                            </thead>
                            <tbody>

                            <!-- ko foreach: ListMeetings -->
                            <tr>
                                @*<td></td>*@
                                <td><a data-toggle="modal" href="#meetingsModal" data-bind="text: FCreateDate , attr: {mId : meetingId}, click: $root.meetingTypeCLick"></a></td>
                                <td data-bind="text: meetingVenue"></td>
                                <td data-bind="text: startTime + ' - ' + finishTime"></td>
                            </tr>
                            <!-- /ko -->
                            <tr data-bind="if: ListMeetings.length == 0" class="text-center"><td colspan="3" class="text-center">No Records</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>


    </div> <!-- end container -->
    <div class="modal fade" id="meetingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title col-lg-8">Meeting Attendees</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">User Name</th>
                                <th scope="col" class="text-center">Response</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: responseMeetingsData().ListMeetings -->
                            <tr>
                                <td data-bind="text: FirstName"></td>
                                <td>
                                    <div class="text-center">
                                        <span class="glyphicon " data-bind="css: {'glyphicon-ok': UserResponse, 'glyphicon-remove': !UserResponse, 'glyphicon-question-sign' :  UserResponse == null }, style: { color: UserResponse ? 'green' : 'red' }"></span>
                                    </div>
                                </td>
                            </tr>
                            <!-- /ko -->
                            <!--<tr data-bind="if: responseMeetingsData().ListMeetings.length == 0" class="text-center"><td colspan="3" class="text-center">No Records</td></tr>-->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <div class="text-center">
        <ul class="pagination">
            <li class="page-item" data-bind="css:{'disabled' : $root.responseSetUpData().Pager.CurrentPage == $root.responseSetUpData().Pager.EndPage} , attr: { id: $root.responseSetUpData().Pager.CurrentPage - 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <!-- ko foreach: $root.pagination() -->
            <li class="page-item" data-bind="css:{'active' : pageNo == $root.responseSetUpData().Pager.CurrentPage}"><a style="cursor: pointer;" class="page-link" data-bind="text: pageNo, attr: { id: pageNo}, click: $root.paginationClick"></a></li>
            <!-- /ko -->

            <li class="page-item" data-bind="css:{'disabled' : $root.responseSetUpData().Pager.CurrentPage == $root.responseSetUpData().Pager.EndPage}, attr: { id: $root.responseSetUpData().Pager.CurrentPage + 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
</div>




<script src="~/Scripts/Custom/ViewModel/CalenderVM.js"></script>