﻿@model List<BoardsXpress.Models.SearchResultViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li>Search Result</li>
</ol>

<div class="main-container">
    <h4 style="text-align:center;">Search Results</h4>
    @if (Model != null)
    {
        <ul>
            @foreach (var item in Model)
            {

                <li class="list-group-item">
                    <h4>
                        <span class="label label-primary ">@item.agendaItem -  @item.meetingType - @item.meetingDate.Value.ToString("d/MMMM/yyyy")</span>
                    </h4><br /> @item.HtmlContent
                    @Html.ActionLink("..read more", "DisplayMeeting", "Home", new { meetingId = item.meetingId, meetingType = item.meetingType, htmlId = item.htmlId }, null)
                </li>


            }
        </ul>

    }
    else
    {
        <p> search Result not found </p>
    }

</div>

