﻿<div id="formMembership">


    <a class="btn btn-danger" href="#filterMembership" data-toggle="modal" style="float: right;" title="Filter Membership Report"><i class="glyphicon glyphicon-filter"></i></a>
    <br><br>

    <!-- Modal -->
    <div class="modal fade" id="filterMembership" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Filter Membership Criteria</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline text-center">

                        <div class="form-group">
                            <select class="form-control" data-bind="options: responseSetUpData().MeetingTypes,optionsText: 'meetingType',value: SelectedRoleId,optionsValue:'meetingTypeId',optionsCaption: '-- All Meeting Types --'"></select>
                        </div>
                        <div class="form-group">
                            <input type="text" id="startDateReport" class="form-control" placeholder="Start Date">
                        </div>

                        <div class="form-group">
                            <input type="text" id="endDateReport" class="form-control" placeholder="End Date">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: $root.searchClick">Apply</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Meeting Type</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
            </tr>
        </thead>
        <tbody>

            <!-- ko foreach: responseSetUpData().ListUsers -->
            <tr>
                <td data-bind="text: FirstName"></td>
                <td data-bind="text: MeetingType"></td>
                <td data-bind="text: ExtFormatStartDate"></td>
                <td data-bind="text: ExtFormatEndDate"></td>
            </tr>
            <!-- /ko -->
            <tr data-bind="if: responseSetUpData().ListUsers.length == 0" class="text-center"><td colspan="3" class="text-center">No Records</td></tr>
        </tbody>
    </table>
    <br/><br /><br />
    <div class="text-center">
        <ul class="pagination">
            <li class="page-item" data-bind="css:{'disabled' : $root.responseSetUpData().Pager.CurrentPage == $root.responseSetUpData().Pager.EndPage} , attr: { id: $root.responseSetUpData().Pager.CurrentPage - 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <!-- ko foreach: $root.pagination() -->
            <li class="page-item" data-bind="css:{'active' : pageNo == $root.responseSetUpData().Pager.CurrentPage}"><a style="cursor: pointer;" class="page-link" data-bind="text: pageNo, attr: { id: pageNo}, click: $root.paginationClick"></a></li>
            <!-- /ko -->

            <li class="page-item" data-bind="css:{'disabled' : $root.responseSetUpData().Pager.CurrentPage == $root.responseSetUpData().Pager.EndPage}, attr: { id: $root.responseSetUpData().Pager.CurrentPage + 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>




</div>
<script src="~/Scripts/Custom/ViewModel/Report/_partialMembership.js"></script>