﻿<div id="attendance">

    @*<form class="form-inline text-center">

            <div class="form-group">
                <select class="form-control" data-bind="options: responseSetUpData().MeetingTypes,optionsText: 'meetingType',value: SelectedRoleId,optionsValue:'meetingTypeId',optionsCaption: '-- Select Meeting Type --'"></select>
            </div>
            <div class="form-group">
                <input type="text" id="startDateReport" class="form-control" placeholder="Start Date">
            </div>

            <div class="form-group">
                <input type="text" id="endDateReport" class="form-control" placeholder="End Date">
            </div>

            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon btn btn-primary height: 34px;" data-bind="click: searchClick">&nbsp;&nbsp;<span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;</div>
            </div>

        </form>

        <br><br><br>*@
    <a class="btn btn-danger" href="#filterAttendance" data-toggle="modal" style="float: right;" title="Filter Attendance Report"><i class="glyphicon glyphicon-filter"></i></a>
    <br />
    <!-- Modal -->
    <div class="modal fade" id="filterAttendance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Filter Attendance</h4>
                </div>
                <div class="modal-body">

                    <form class="form-inline">
                        <div class="form-group mb-2">

                            <label class="" style="top: 10px; left: 12px;">User Name</label>
                            <div class="">
                                <select class="form-control" data-bind="options: responseSetUpData().UserList,optionsText: 'firstName',value: SelectedUserId,optionsValue:'userId',optionsCaption: '-- Select User --'"></select>
                            </div>

                        </div>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="col-sm-2"></div>
                        <div class="form-group mx-sm-3 mb-2">

                            <label class="" style="top: 10px; left: 28px">Meeting Type</label>
                            <div class="">
                                <select class="form-control" data-bind="options: responseSetUpData().MeetingTypes,optionsText: 'meetingType',optionsValue:'meetingTypeId',value: SelectedMeetingTypeId,optionsCaption: '-- Select Meeting Type --'"></select>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: $root.filterAuditClick">Apply</button>
                </div>
            </div>
        </div>
    </div>




    <br /><br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Meeting Type</th>
                <th scope="col">Meeting Date</th>
                <th scope="col">Response</th>
            </tr>
        </thead>
        <tbody>

            <!-- ko foreach: responseSetUpData().ListUsers -->
            <tr>
                <td data-bind="text: FirstName"></td>
                @*<td><a data-toggle="modal" href="#meetingsModal" data-bind="text: MeetingType , attr: {mId : MeetingTypeId, id : UserId}, click: $root.meetingTypeCLick"></a></td>*@
                <td data-bind="text: MeetingType"></td>
                <td data-bind="text: ExtFormatStartDate"></td>
                <td>
                    <span class="glyphicon " data-bind="css: {'glyphicon-ok': UserResponse, 'glyphicon-remove': !UserResponse, 'glyphicon-question-sign' :  UserResponse == null }, style: { color: UserResponse ? 'green' : 'red' }"></span>
                </td>
            </tr>
            <!-- /ko -->
            <tr data-bind="if: responseSetUpData().ListUsers.length == 0" class="text-center"><td colspan="3" class="text-center">No Records</td></tr>
        </tbody>
    </table>

    <div class="text-center">
        <ul class="pagination">
            <li class="page-item" data-bind="css:{'disabled' : $root.responseSetUpData().Pager.CurrentPage == $root.responseSetUpData().Pager.EndPage} , attr: { id: $root.responseSetUpData().Pager.CurrentPage - 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <!-- ko foreach: $root.pagination() -->
            <li class="page-item" data-bind="css:{'active' : pageNo == $root.responseSetUpData().Pager.CurrentPage}"><a style="cursor: pointer;" class="page-link" data-bind="text: pageNo, attr: { id: pageNo}, click: $root.paginationClick"></a></li>
            <!-- /ko -->

            <li class="page-item" data-bind="css:{'disabled' : $root.responseSetUpData().Pager.CurrentPage == $root.responseSetUpData().Pager.EndPage}, attr: { id: $root.responseSetUpData().Pager.CurrentPage + 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>



    <div class="modal fade" id="meetingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-lg-4">Meetings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Meeting Date</th>
                                <th scope="col">Start - End Time</th>
                                <th scope="col">Venue</th>
                                <th scope="col">Response</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: responseMeetingsData">
                            <tr>
                                <td data-bind="text: FCreateDate"></td>
                                <td data-bind="text : startTime + ' - ' + finishTime"></td>
                                <td data-bind="text: Venue"></td>
                                <td><div class="text-center"><span class="glyphicon " data-bind="css: {'glyphicon-ok': UserResponse, 'glyphicon-remove': !UserResponse, 'glyphicon-question-sign' :  UserResponse == null }, style: { color: UserResponse ? 'green' : 'red' }"></span></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Custom/ViewModel/Report/_partialAttendanceVM.js"></script>