﻿<div role="tabpanel" class="tab-pane active" id="audit">
    
    <a class="btn btn-danger" href="#filterAudit" data-toggle="modal" style="float: right;" title="Filter Audit Report"><i class="glyphicon glyphicon-filter"></i></a>
    
    @* Filter Option *@
    
    <!-- Modal -->
    <div class="modal fade" id="filterAudit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Filter Audit</h4>
                </div>
                <div class="modal-body">
                    <form id="filterAuditForm">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-5 col-form-label">Meeting Type</label>
                            <div class="col-sm-7">
                                <select name="meetingType" class="form-control" data-bind="options: listMeetingTypeId(),optionsText: 'meetingType',value: SelectedMeetingTypeId,optionsValue:'meetingTypeId',optionsCaption: '-- Select Meeting Type --'"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-5 col-form-label">Meeting Date</label>
                            <div class="col-sm-7">
                                <select name="meetingDate" class="form-control" data-bind="options: listMeetingId(),optionsText: 'FCreateDate', value: SelectedMeetingId,optionsValue:'meetingId',optionsCaption: '-- Select Meeting Date --'"></select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: $root.filterAuditClick">Apply</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Audit Trails Reports-->
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">User Name</th>
                @*<th scope="col">User Id</th>*@
                <th scope="col">Email</th>
                @*<th scope="col">URL</th>*@
                @*<th scope="col">IP Address</th>*@
                @*<th scope="col">Session Id</th>*@
                <th scope="col">Date & Time</th>
                @*<th scope="col">Before Value</th>*@
                @*<th scope="col">After Value</th>*@
                <th scope="col">Document Name</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody data-bind="foreach: responseAuditData().AuditTrailList">

            <tr>
                <td data-bind="text: Name"></td>
                @*<td data-bind="text: UserId"></td>*@
                <td data-bind="text: UserName"></td>
                @*<td data-bind="text: UrlAccess"></td>*@
                @*<td data-bind="text: IpAddress"></td>*@
                @*<td data-bind="text: SessionId"></td>*@
                <td data-bind="text: FTimeAccessed"></td>
                @*<td><textarea class="form-control" rows="3" data-bind="text: BeforeData" style="min-height: 92px; min-width: 372px;"></textarea></td>
                <td><textarea class="form-control" data-bind="text: AfterData" style="min-height: 92px; min-width: 372px;"></textarea></td>*@
                <td data-bind="text: ChangedData"></td>
                <td data-bind="text: ActionPerform"></td>

            </tr>

            </tbody>
        </table>
    </div>
    <div class="text-center">
        <ul class="pagination">
            <li class="page-item" data-bind="css:{'disabled' : $root.responseAuditData().Pager.CurrentPage == $root.responseAuditData().Pager.EndPage} , attr: { id: $root.responseAuditData().Pager.CurrentPage - 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <!-- ko foreach: $root.pagination() -->
            <li class="page-item" data-bind="css:{'active' : pageNo == $root.responseAuditData().Pager.CurrentPage}"><a style="cursor: pointer;" class="page-link" data-bind="text: pageNo, attr: { id: pageNo}, click: $root.paginationClick"></a></li>
            <!-- /ko -->

            <li class="page-item" data-bind="css:{'disabled' : $root.responseAuditData().Pager.CurrentPage == $root.responseAuditData().Pager.EndPage}, attr: { id: $root.responseAuditData().Pager.CurrentPage + 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<script src="~/Scripts/Custom/ViewModel/Report/_partialAuditReportVM.js"></script>