﻿<style>
    .results tr[visible='false'],
    .no-result {
        display: none;
    }

    .results tr[visible='true'] {
        display: table-row;
    }
</style>
<div id="userProfileForm">
    <!-- Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabeltitle"></h4>
                </div>
                <div class="modal-body">


                    <form>
                        <div class="form-group row">
                            <img src="~/Media/avatar/avatar.png" style="width: 144px; height: 144px; left: 203px; position: relative" alt="" class="img-rounded img-responsive img-thumbnail" id="imgSrcProf"/>
                        </div>
                        <div style="left: 36px;position: relative;">


                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Name</label>
                                <div class="col-sm-6">
                                    <label readonly class="form-control" id="nametext"></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Email</label>
                                <div class="col-sm-6">
                                    <label readonly class="form-control" id="emailtext"></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Phone</label>
                                <div class="col-sm-6">
                                    <label readonly class="form-control" id="phoneText"></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Position</label>
                                <div class="col-sm-6">
                                    <label readonly class="form-control" id="positionText"></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Type of Member</label>
                                <div class="col-sm-6">
                                    <label readonly class="form-control" id="memberType"></label>
                                </div>
                            </div>
                            <!-- <div class="form-group row">
         <label for="staticEmail" class="col-sm-5 col-form-label">University Id</label>
         <div class="col-sm-6">
             <label  readonly class="form-control" id="universityIdText"></label>
         </div>
     </div>-->
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Executive Assistant Name</label>
                                <div class="col-sm-6">
                                    <label readonly class="form-control" id="execAssiName"></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Executive Assistant Email</label>
                                <div class="col-sm-6">
                                    <label readonly class="form-control" id="execAssisEmail"></label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Postal Address</label>
                                <div class="col-sm-6">
                                    <textarea readonly class="form-control" id="postAddress" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-5 col-form-label">Dietary Requirement</label>
                                <div class="col-sm-6">
                                    <textarea readonly class="form-control" id="diesReq" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        </form>
                    



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="Search ..">
    </div>

    <table class="table results">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
                @*<th scope="col" style="min-width: 38%">Phone Number</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Position</th>
                    <th scope="col" style="min-width: 13%">Member Type</th>
                    <th scope="col" style="min-width: 17%">University Id </th>
                    <th scope="col" style="min-width: 14%">Executive Assistant Name</th>
                    <th scope="col" style="min-width: 14%">Executive Assistant Email</th>*@
            </tr>
        </thead>
        <tbody>

            <!-- ko foreach: responseSetUpData().UserProfileList -->
            <tr>
                <td data-bind="text: Username"></td>
                <td data-bind="text: Email"></td>
                <td><button class="btn btn-default" data-bind="click: $root.profileDetailsCLick , attr: { id: Id}">Profile Detail</button></td>
                @*<td data-bind="text: PhoneNumber"></td>
                    <td data-bind="text: Gender"></td>
                    <td data-bind="text: Designation"></td>
                    <td data-bind="text: TypeOfMemberSelected"></td>
                    <td data-bind="text: UniversityId"></td>
                    <td data-bind="text: ExecutiveAssistantName"></td>
                    <td data-bind="text: ExecutiveAssistantemail"></td>*@
            </tr>
            <!-- /ko -->
            <tr data-bind="if: responseSetUpData().UserProfileList.length == 0" class="text-center"><td colspan="3" class="text-center">No Records</td></tr>
        </tbody>
    </table>

    <div class="text-center">
        <ul class="pagination">
            <li class="page-item" data-bind="css:{'disabled' : $root.responseSetUpData().Pager.CurrentPage == $root.responseSetUpData().Pager.EndPage} , attr: { id: $root.responseSetUpData().Pager.CurrentPage - 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <!-- ko foreach: $root.pagination() -->
            <li class="page-item" data-bind="css:{'active' : pageNo == $root.responseSetUpData().Pager.CurrentPage}"><a style="cursor: pointer;" class="page-link" data-bind="text: pageNo, attr: { id: pageNo}, click: $root.paginationClick"></a></li>
            <!-- /ko -->

            <li class="page-item" data-bind="css:{'disabled' : $root.responseSetUpData().Pager.CurrentPage == $root.responseSetUpData().Pager.EndPage}, attr: { id: $root.responseSetUpData().Pager.CurrentPage + 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>



</div>

<script src="~/Scripts/Custom/ViewModel/Report/_partialUserProfileVM.js"></script>