﻿<div id="inductionTrainning">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User Name</th>
                <th scope="col">Training Date</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

            <!-- ko foreach: responseSetUpData().InductionTrainingList -->
        <tr>
            <td data-bind="text: UserName"></td>
            <td data-bind="text: FInductionTranningdateTime"></td>
            <td><span class="glyphicon " data-bind="css: {'glyphicon-ok': TrainingStatus, 'glyphicon-remove': !TrainingStatus, 'glyphicon-question-sign' :  TrainingStatus == null }, style: { color: TrainingStatus ? 'green' : 'red' }"></span></td>

        </tr>
        <!-- /ko -->
        </tbody>
    </table>



    <div class="text-center">
        <ul class="pagination">
            <li class="page-item" data-bind="css:{'disabled' : $root.responseSetUpData().Pager.CurrentPage == $root.responseSetUpData().Pager.EndPage} , attr: { id: $root.responseSetUpData().Pager.CurrentPage - 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <!-- ko foreach: $root.pagination() -->
            <li class="page-item" data-bind="css:{'active' : pageNo == $root.responseSetUpData().Pager.CurrentPage}"><a style="cursor: pointer;" class="page-link" data-bind="text: pageNo, attr: { id: pageNo}, click: $root.paginationClick"></a></li>
            <!-- /ko -->

            <li class="page-item" data-bind="css:{'disabled' : $root.responseSetUpData().Pager.CurrentPage == $root.responseSetUpData().Pager.EndPage}, attr: { id: $root.responseSetUpData().Pager.CurrentPage + 1}, click: $root.paginationClick">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>


</div>
<script src="~/Scripts/Custom/ViewModel/Report/_partialInductionTrainingVM.js"></script>