﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";
}
<style>
    .nav-tabs {
        border-bottom: 2px solid #DDD;
    }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            border-width: 0;
        }

        .nav-tabs > li > a {
            border: none;
            color: #666;
        }

            .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
                border: none;
                color: #4285F4 !important;
                background: transparent;
            }

            .nav-tabs > li > a::after {
                content: "";
                background: #4285F4;
                height: 2px;
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: -1px;
                transition: all 250ms ease 0s;
                transform: scale(0);
            }

        .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
            transform: scale(1);
        }

    .tab-nav > li > a::after {
        background: #21527d none repeat scroll 0% 0%;
        color: #fff;
    }

    .tab-pane {
        padding: 15px 0;
    }

    .tab-content {
        padding: 20px
    }

    .card {
        background: #FFF none repeat scroll 0% 0%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 30px;
    }

    body {
        background: #EDECEC;
        padding: 50px
    }
</style>

<div id="userReportForm">

    <div class="col-md-12">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#audit" aria-controls="home" role="tab" data-toggle="tab">Audit</a></li>
            <!--<li role="presentation"><a href="#user" aria-controls="profile" role="tab" data-toggle="tab">Attendance</a></li>-->
            <li role="presentation"><a href="#membership" aria-controls="profile" role="tab" data-toggle="tab">Membership</a></li>
            <li role="presentation"><a href="#userProfile" aria-controls="profile" role="tab" data-toggle="tab">User Profiles</a></li>
            <!--<li role="presentation"><a href="#inductionTraining" aria-controls="profile" role="tab" data-toggle="tab">Induction Training</a></li>-->
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            @Html.Partial("_partialAuditReport")
            <div role="tabpanel" class="tab-pane" id="user">
                @Html.Partial("_partialAttendance")
            </div>
            <div role="tabpanel" class="tab-pane" id="membership">
                @Html.Partial("_partialMembership")
            </div>
            <div role="tabpanel" class="tab-pane" id="userProfile">
                @Html.Partial("_partialUserProfile")
            </div>
            <div role="tabpanel" class="tab-pane" id="inductionTraining">
                @Html.Partial("_partialInductionTraining")
            </div>
        </div>

    </div>
</div>
