﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boards Express</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome.min.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img id="logo" src="~/Media/assets/Boards_bb_white.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "HomeIndex", "Home")</li>*@
                    <li><a href="/home">Home</a></li>
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>@Html.ActionLink("Calendar", "Index", "Home")</li>
                    <li>@Html.ActionLink("Resources", "Index", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
                <div class="nav navbar-nav navbar-right">
                    @*upload using bootstrap modal*@
                    @*<div class="pull-left" id="file-upload">
                        <button class="btn btn-lg btn-primary" id="upload-file" data-toggle="tooltip"  data-original-title="File upload" data-placement="bottom">
                        <i class="glyphicon glyphicon-upload"></i></button>
                    </div>*@
                   @*Upload using custom modal*@
                    <div class="pull-left" id="file-upload">
                        <button class="btn btn-lg btn-warning" data-popup-open="popup-1" href="#" data-toggle="tooltip" data-original-title="File upload" data-placement="bottom">
                            <i class="glyphicon glyphicon-upload"></i>
                        </button>
                    </div>
                    <div id="rightnav-menu" class="pull-left">
                        <div class="btn-group">
                            <a data-toggle="tooltip"  data-original-title="Fullscreen" data-placement="bottom"
                               class="btn btn-default btn-sm" onclick="toggleFullScreen()" id="go-fullscreen">
                                <i class="glyphicon glyphicon-fullscreen"></i>
                            </a>
                            <a data-toggle="tooltip" data-original-title="Exit Fullscreen" data-placement="bottom"
                               class="btn btn-default btn-sm" onclick="toggleFullScreen()" id="hide-fullscreen" style="display:none;">
                                <i class="glyphicon glyphicon-resize-small"></i>
                            </a>
                            <a data-toggle="tooltip" data-original-title="Search"  data-placement="bottom" 
                               class="btn btn-default btn-sm" id="search">
                                <i class="glyphicon glyphicon-search"></i>
                            </a>
                            <a data-toggle="tooltip"  data-original-title="Notification" data-placement="bottom"
                               class="btn btn-default btn-sm">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">5</span>
                            </a>
                            <a data-toggle="tooltip" data-original-title="Help" data-placement="bottom"
                               class="btn btn-default btn-sm">
                                <i class="fa fa-question"></i>
                            </a>
                        </div>
                    </div>
                    @*search input*@
                    <div id="rightnav-search" class="pull-left" hidden>                     
                        <input placeholder="search"/>
                        <i class="glyphicon glyphicon-remove" id="cancel-search"></i>
                    </div>

                    @*user profile*@
                    <div id="user-profile" class="pull-right">
                        <ul>
                            <li class="dropdown">
                                <img src="~/Media/userProfile/pawan.png" />
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Pawan Bhandari
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li> @Html.ActionLink("My Profile", "HomeIndex", "Home")</li>
                                    <li class="divider"></li>
                                    <li> @Html.ActionLink("My Documents", "HomeIndex", "Home")</li>
                                    <li class="divider"></li>
                                    <li id="logout"><a><span >Logout</span><i class="fa fa-power-off"></i></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>                
                </div>
            </div>
           
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer class="navbar-default navbar-fixed-bottom">
           <img src="~/Media/assets/logo1.png" class="pull-right"/>
        </footer>
    </div>

    @*Modal*@
    <!--To make modal of select committee and upload file-->
    <!--select committee-->
    @*<div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="login">
                <h1 style="text-align:center;color:white">WordFlow</h1>
                <div class="login-triangle"></div>
                <h2 class="login-header">Select Meeting</h2>
                <div class="login-container">
                    <p>
                        <select id="committeeSelection">
                            <option>Board</option>
                            <option>Committee</option>
                        </select>
                    </p>
                    <p><input type="submit" value="Continue" id="continue"></p>
                </div>
            </div>
        </div>
    </div>*@


    @*Custom modal*@
    @*<a class="btn" data-popup-open="popup-1" href="#">Open Popup #1</a>*@
    <div class="popup" data-popup="popup-1">
        <div class="popup-inner">
            @*tabs*@
            <ul class="nav nav-tabs" id="tabContent">
                <li class="active"><a href="#upload-meeting" data-toggle="tab">Upload Meeting Document</a></li>
                <li><a href="#upload-refdoc" data-toggle="tab">Upload Reference Document</a></li>
                <li><a href="#upload-reflink" data-toggle="tab">Upload Reference Weblink</a></li>
            </ul>

            <div class="tab-content">
                @*Upload meeting Document*@
                <br />
                <div class="tab-pane active" id="upload-meeting">
                    <div class="form-group row">
                        <label for="message-text" class="col-md-3 col-form-label">Meeting Type:</label>
                        <div class="col-md-9">
                            <select type="text" class="form-control">
                                <option></option>
                                <option>Board</option>
                                <option>Committee</option>
                            </select>
                        </div>
                      </div>
                    <div class="form-group row">
                        <label for="message-text" class="col-md-3 col-form-label">Meeting Date:</label>
                        <div class="col-md-9">
                            <select type="date" class="form-control">
                                <option></option>
                                <option>1 May, 2017</option>
                                <option>10 August, 2017</option>
                            </select>
                        </div>
                     </div>
                    <div class="form-group row">
                        <label for="message-text" class="col-md-3 col-form-label">Agenda:</label>
                        <div class="col-md-9">
                            <select type="text" class="form-control">
                                <option></option>
                                <option>CEO Report</option>
                                <option>Finance</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="message-text" class="col-md-3 col-form-label">Attachment?</label>
                        <div class="col-md-9">
                            <select type="text" class="form-control">
                                <option></option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="message-text" class="col-md-3 col-form-label">Upload File:</label>
                        <div class="col-md-9">
                            @*<label class="input-group-btn">
                                <span class="btn btn-primary" style="height:50px;padding-top:12px;">
                                    Browse&hellip; <input type="file" name="file" style="display: none;" multiple>
                                    <input type="hidden" name="eventId" />
                                </span>
                            </label>*@
                            <input type="file" name="file" multiple>                          
                        </div>
                    </div>
                </div>

                @*Upload reference Document*@
                <div class="tab-pane" id="upload-refdoc">
                    <div class="form-group row">
                        <label for="message-text" class="col-md-4 col-form-label">Enter Document Name:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="message-text" class="col-md-4 col-form-label">Upload File:</label>
                        <div class="col-md-8">
                            <input type="file" name="file" multiple>
                        </div>
                    </div>
                </div>

                @*Upload reference weblink*@
                <div class="tab-pane" id="upload-reflink">
                    <div class="form-group row">
                        <label for="message-text" class="col-md-3 col-form-label">Enter Link Name:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="message-text" class="col-md-3 col-form-label">Insert Link:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            @*Action buttons*@
            <div id="custom-modalfooter">
                <br />
                <button data-popup-close="popup-1" class="btn btn-default pull-left">Cancel</button>
                <button class="btn btn-primary pull-right">Ok</button>
            </div>
            <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
        </div>
    </div>
   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Custom/main.js"></script>
</body>
</html>
