﻿@model BoardsXpress.Models.FeedsViewModel
@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li>RSS Feed</li>
</ol>

<div class="container main-container">
    <h4 style="text-align:center;">Live Rss Feed</h4>
    @foreach (var item in Model.Feeds)
    {
        if (item.Key != null)
        {
            <div class="panel panel-primary">
                <div class="panel-heading">Live Feeds From @item.Key</div>
                <div class="panel-body">@Html.Raw(item.Value)</div>
            </div>
        }
    }

</div>
<br /><br />