﻿@model BoardsXpress.Models.ManageFeedViewModel

@{
    ViewBag.Title = "Manage Your RSS Feeds";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";
}

<div>
    <span class="btn btn-xs btn-default" data-toggle="tooltip" data-original-title="Takes you to the admin panel" data-placement="top" onclick="location.href = '/MeetingAdministration?id=@Model.MeetingTypeId'"><< Go Back to Admin Panel</span>
    <h4 style="text-align:center;">Manage RSS Feed</h4>
    
    <button data-toggle="modal" data-action="add" data-target="#addFeed" class="btn btn-primary pull-right btnFeed">Add Feed</button>

    <div data-meetingtypeid="@Model.MeetingTypeId" id="manageFeedList"></div>

    <div class="modal fade" id="addFeed" tabindex="-1" role="dialog" aria-labelledby="addFeedLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="addFeedLabel"><span id="feedTitle">Add new</span> Feed for @Model.MeetingName </h4>
                </div>
                <form class="form" name="frmFeed" id="frmFeed">
                    <div class="modal-body">
                        <div class="well">
                            <input type="hidden" id="feedId">
                            <input type="hidden" id="meetingTypeId" value="@Model.MeetingTypeId">
                            <div class="form-group">
                                <label for="txtFeedProvider">Feed Provider</label>
                                <input type="text" class="form-control auto-focus" name="txtFeedProvider" id="txtFeedProvider" required />
                            </div>
                            <div class="form-group">
                                <label for="txtFeedURL">Feed URL</label>
                                <input type="url" class="form-control" name="txtFeedURL" id="txtFeedURL" required />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="btnSubmit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">Delete Feed <span id="deleteFeedName"></span></h4>
            </div>
            <div class="modal-body">
                <p id="deleteBodyText">Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="yes">Yes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Custom/feed.js"></script>