﻿@model BoardsXpress.Models.UserRoleAssignmentViewModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";
    //var meetingTypeId = Model.Select(s => s.MeetingTypeId).FirstOrDefault();
    var meetingTypeId = Model.MeetingTypeId;
}

<link rel="stylesheet" href="~/Content/bootstrap-select.min.css" />
<script src="~/Scripts/bootstrap-select.min.js"></script>

<div id="rightdash-container">
    <span class="btn btn-xs btn-default" data-toggle="tooltip" data-original-title="Go back to Meeting Types " data-placement="top" onclick="location.href = '/MeetingAdministration?id=@meetingTypeId'"><< Go Back</span>
    @*Tabs*@
    <h4 style="text-align:center;">Manage Roles for @Model.MeetingType</h4>
    <ul class="nav nav-tabs" id="userManagementTabs">
        <li><a href="/UserManagement?id=@meetingTypeId">Manage Users</a></li>
        <li class="active" id="manage-attendees"><a href="/MeetingAttendees?id=@meetingTypeId">Manage Roles</a></li>

    </ul>
    <div class="tab-content">
        <br />
        @*<button class="btn btn-warning pull-right defaultUserConfig">Set Default</button>*@
        @if (Model != null)
        {
            using (Html.BeginForm("Save", "MeetingAttendees", FormMethod.Post, new { id = "frmSaveRoles" }))
            {
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th style="display:none">ID</th>
                            <th>Full Name</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.userList.Count(); i++)
                    {
                            @*@Html.HiddenFor(item=>item.UserId)*@
                            <tr>
                                <td style="display:none">@Html.HiddenFor(m => m.userList[i].UserId)</td>
                                <td style="display:none">@Html.HiddenFor(m => m.MeetingTypeId)</td>
                                <td>@Html.DisplayFor(m => m.userList[i].FirstName)</td>
                                <td>@Html.DropDownListFor(m => m.userList[i].userRoleSelected, Model.userList[i].userRole, "Select", new { @class = "" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input type="submit" class="btn btn-warning pull-right" value="Save" style="margin-left:10px;">
                @*<input type="button" class="btn btn-warning pull-right" value="Save and Send Invitations" id="SaveAndSend">*@
                //create and assign a input type variable for send invite, access from controller(Check) if set, save and invoke
                //send action

                <!--Mail Modal-->
                <div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="checkModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="checkModal">Invitation to attend</h4>
                            </div>
                            <div class="modal-body">
                                <p id="mailBodyText">
                                    <textarea name="txtMessageBody" style="width:530px;height:200px;">Dear Mr Attendee:&#13 &#13;I am pleased to invite you to participate on our @Model.MeetingType Meeting.&#13;Date: 20/05/17 &#13;Venue: WordFlow Global Headquarters &#13 &#13 Sincerely, &#13 @User.Identity.Name
                                    </textarea>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="send" id="sendInvite">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>

<script>
    $(document).ready(function (e) {
        $('.selectpicker').selectpicker({
            style: 'btn-default'
        });
        $('.filter-option').css('color', '#333333');
    });


    $('#SaveAndSend').click(function () {
        $('#mailModal').modal('show');
    });
    $('#sendInvite').click(function () {
        var mailBody = $('#mailBodyText').text();
        $('#frmSaveRoles').append('<input type = "text" name = "isInvite" id = "isInvite" style="Display:none;"/>');
        //$('#isInvite').val(mailBody);
        $('#frmSaveRoles').submit();
    });
</script>
