﻿@model BoardsXpress.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot My Password";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div style="margin-bottom:100px;">
    <div style="text-align:center;margin-top:50px;margin-bottom:-24px;"><img src="~/Media/assets/@Resources.customerLogo" style="height:140px;" /></div><br />
    <div class="login form-module">
        <div class="login-triangle"></div>
        <h4 class="login-header">Reset Password</h4>
        @using (Html.BeginForm("ForgotPassword", "UserManagement", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-container", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Enter your email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group m-5">
                <div>
                    <input type="submit" value="Send a Link to New Password" class="btn btn-default" />
                </div>
            </div>
        }

    </div>
</div>