﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";
}
<script src="~/Scripts/phoneNumberMasking.js"></script>
<div id="userManagementForm">
    <br />
    <button data-toggle="modal" data-bind="click: $root.AddModelClick" class="btn btn-primary pull-right addButton">Add New User</button>
    <table class="table table-striped table-hover table-responsive">
        <thead>
            <tr>
                <th>Title</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Position</th>
                <th>Email Address</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: responseSetUpData().userListViewModel">
            <tr>
                <td data-bind="text: SelectTitle"></td>
                <td data-bind="text: FirstName"></td>
                <td data-bind="text: UserName"></td>
                <td data-bind="text: Designation"></td>
                <td data-bind="text: Email"></td>
                <td class="text-nowrap text-center">
                    <a class="btn btn-sm btn-default editRecord" data-target="#addUserModal" data-bind="attr: { id: UserId}, click: $root.EditUserCLick" data-toggle="modal" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                    <a class="btn btn-sm btn-default delete" data-toggle="modal" data-bind="attr: { id: UserId}, click: $root.DeleteUserCLick" role="button"><span class="glyphicon glyphicon-trash"></span> Remove</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!--Add modal-->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUSerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="addUserForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="addUSerModalLabel">Add new user</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Title &nbsp;<strong style="color: red">*</strong></label>
                            <select class="form-control" name="titleSelect" data-bind="options: responseSetUpData().UserTitle, optionsText: 'Title',value: Title, ,optionsValue:'Title', optionsCaption: '-- Select Title --'"></select>
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="form-control-label" id="modal-scope">Full Name &nbsp; <strong style="color: red">*</strong></label>
                            <input type="text" class="form-control" name="fullName" id="fullName" data-bind="textInput: FirstName" />
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label" id="modal-scope">Email &nbsp; <strong style="color: red">*</strong></label>
                            <input type="email" class="form-control" name="email" id="email" data-bind="textInput: Email">
                            @*<i class="fa fa-circle-o-notch fa-spin" id="loading" style="font-size: 24px; position: absolute;top: 193px;right: 26px; display: none"></i>*@
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Phone Number &nbsp;<strong style="color: red">*</strong></label>
                            <input type="text" class="form-control interPhone" name="phone" id="phone" data-bind="textInput: PhoneNumber">
                        </div>
                        @*<div class="form-group">
            <label for="message-text" class="form-control-label">Organisation</label>
            <input type="text" class="form-control" name="organisation" data-bind="textInput: Organisation">
        </div>*@
                        <!--<div class="form-group">
        <label for="message-text" class="form-control-label">University ID</label>
        <input type="text" class="form-control" name="organisation" data-bind="textInput :UniversityId ">
    </div>-->
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Profile Picture</label>
                            <input type="file" class="form-control" name="avatar" id="addAvatar">
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Position</label>
                            <input type="text" class="form-control" name="designation" data-bind="textInput: Designation">
                        </div>

                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Type of Member</label>
                            <select class="form-control" name="titleSelect" data-bind="options: responseSetUpData().TypeOfMember, optionsText: 'Title',value: typeOfMemberSelected, ,optionsValue:'Title', optionsCaption: '-- Select Member --'"></select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Executive Assistant Name</label>
                            <input type="text" class="form-control" data-bind="textInput: ExecutiveAssistantName">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Executive Assistant email</label>
                            <input type="text" class="form-control" name="eaEmail" data-bind="textInput: ExecutiveAssistantemail">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Postal Address</label>
                            <textarea class="form-control" rows="2" data-bind="textInput: PostalAddress"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Dietary Requirements</label>
                            <textarea class="form-control" rows="3" data-bind="textInput: DietaryRequirements"></textarea>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-bind="click: AddEditUserSave">Done</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!--Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="deleteModal">Delete the selected user</h4>
                </div>
                <div class="modal-body">
                    <p id="deleteBodyText">Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" data-bind="click: $root.ConfirmDeleteUserCLick">Yes</button>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="~/Scripts/Custom/ViewModel/UserManagementVM.js"></script>