﻿@using BoardsXpress.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div style="margin-bottom:100px;">
    <div style="text-align:center;margin-top:50px;margin-bottom:-24px;"><img src="~/Media/assets/@Resources.customerLogo" /></div><br />
    <div class="login form-module">
        <div class="login-triangle"></div>
        <h4 class="login-header">Login</h4>
        @using (Html.BeginForm("Login", "UserManagement", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-container", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Username", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group m-5">
                <div>
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group m-5">
                <div>
                    <input type="submit" value="Log in" class="btn btn-default" />
                </div>
            </div>

            //Enable this once you have account confirmation enabled for password reset functionality
            <p style="text-align:center;">
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>
        }

    </div>
</div>