﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";
    var meetingTypeId = ViewBag.meetingTypeId;
    var meetingTypeName = ViewBag.meetingTypeName;
}

<div id="rightdash-container">
    <span class="btn btn-xs btn-default" data-toggle="tooltip" data-original-title="Takes you to the admin panel" data-placement="top" onclick="location.href = '/MeetingAdministration?id=@meetingTypeId'"><< Go Back to Admin Panel</span>

    <h3 style="text-align:center;">
        <span>Users in </span><span>@meetingTypeName</span>
    </h3><br />
    <div class="tab-pane active" id="manage-users">
        <br />

        <button data-toggle="modal" data-bind="click: addUserToRoleCLick" class="btn btn-primary pull-right addButton">Assign User</button>
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Role</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: responseSetUpData().userListViewModel">
                <tr>
                    <td data-bind="text: FirstName"></td>
                    <td data-bind="text: userInRole.Name"></td>
                    <td data-bind="text: FormatStartDate"></td>
                    <td data-bind="text: FormatEndDate"></td>
                    <td class="text-nowrap text-center">
                        <a class="btn btn-sm btn-default editRecord" data-bind="attr: { id: UserId, rId: userInRole.Id, meetTyId: MeetingTypeId}, click: $root.editUserToRoleCLick" data-action="edit" data-toggle="modal" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                        <a class="btn btn-sm btn-default delete" data-bind="attr: { id: UserId, rId: userInRole.Id, AspNetUserRoleId : AspNetUserRoleId}, click: $root.userToDeleteClick" data-toggle="modal" data-target="#deleteModal" role="button"><span class="glyphicon glyphicon-trash"></span> Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

   




    <!--Add modal-->
    <div class="modal fade" id="addUserRolesModal" tabindex="-1" role="dialog" aria-labelledby="addUSerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width: 724px !important">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addUSerModalLabel">Assign Role for @meetingTypeName</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col" width="30%" style="position: relative; left: 11px;">Users</th>
                                    <th scope="col" width="35%">Role</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                </tr>
                            </thead>

                            <tbody data-bind="foreach: responseUserSetUpData().userListViewModel">
                            <tr>
                                <td style="top: 6px; position: relative;"><input class="form-check-input" type="checkbox" data-bind="checked: SelectedUser, visible: !SelectedUser">&nbsp;&nbsp;<span data-bind="text: FirstName"></span></td>
                                <td><select class= "form-control" data-bind="options: Roles,optionsText: 'Name',value: SelectedRoleId,optionsValue:'Id',optionsCaption: '-- Select Role --'"></select></td>
                                <td><input type="text" class="datepicker form-control"  data-bind="datePicker: ko.observable(new Date(FormatStartDate)) , textInput : FormatStartDate , attr: {id: UserId}, datePickerOptions: {startDate: new Date()}"></td>
                                <td><input type="text" class="datepicker form-control" data-bind="datePicker: ko.observable(new Date(FormatEndDate)), textInput: FormatEndDate , attr :{id: UserId}, , datePickerOptions: {startDate: new Date()}" ></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bind="click: saveRolesClick">Done</button>
                </div>
            </div>
        </div>
    </div>


    <!--Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="deleteModal">Delete the selected user</h4>
                </div>
                <div class="modal-body">
                    <p id="deleteBodyText">Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" data-bind="click: deleteUserRole">Yes</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/Custom/ViewModel/listOfUserRolesVM.js"></script>

