﻿@model  BoardsXpress.Models.MeetingViewModels
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li>My Profile</li>
</ol>
<div class="main-container container">
    <div class="row">
            <div class="col-md-3 col-md-offset-2">
                @if (Model.userProfile.Avatar != null)
            {
                    <img id="edit-profilepic" src="@Model.userProfile.Avatar" />
                }
                else

                {
                    <img id="edit-profilepic" src="~/Media/avatar/avatar.png" />
                }
            </div>

            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        @String.Format("{0} {1} {2}", Model.userProfile.FirstName, Model.userProfile.MiddleName, Model.userProfile.LastName)
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Telephone</label>
                    <div class="col-sm-9">
                        @Model.userProfile.PhoneNumber
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        @Model.userProfile.Email
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Organisation</label>
                    <div class="col-sm-9">
                        @Model.userProfile.Organisation
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Designation</label>
                    <div class="col-sm-9">
                        @Model.userProfile.Designation
                    </div>
                </div>
                @*<button class="btn btn-small btn-default pull-right">Edit Profile</button>*@
            </div>
        </div>
    </div>
 
