﻿@model BoardsXpress.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_Login.cshtml";
}



<div style="margin-bottom:100px;">
    <div style="text-align:center;margin-top:50px;margin-bottom:-24px;"><img src="~/Media/assets/egenda_logo_color.png" style="height:140px;" /></div><br />
    <div class="login form-module">
        <div class="login-triangle"></div>
        <h4 class="login-header">Set Your Password</h4>

        @using (Html.BeginForm("ConfirmEmail", "Account", new { userId = ViewBag.userId, code = ViewBag.code }, FormMethod.Post, new { @class = "login-container", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="panel panel-success small">
                <div class="panel-heading">Your password should have all of the following criteria:</div>
                <div class="panel-body">
                    <ol>
                        <li>Upper Case Letters (ABCD…)</li>
                        <li>Lower Case Letters (abcd…)</li>
                        <li>Numbers (1,2,3,4,…..)</li>
                        <li>Special Characters (!@@#$....)</li>
                        <li>Minimum 6 Characters</li>
                    </ol>

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
                <div>
                    @Html.PasswordFor(m => m.NewPassword, new { placeholder= "New Password", @class = "form-control", value = ""})
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new {placeholder="Confirm New Password", @class = "form-control", value = "" })
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" class="btn btn-default" value="Set Password" />
                </div>
            </div>
        }
        </div>
</div>