﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container main-container text-center">
    <div class="panel panel-success">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body" style="text-wrap:normal">
            <p>Thank you for your Request to reset your Egenda password.</p>
            <p>Your new password has been sent to your email address. <strong>Please check your email.</strong></p>
        </div>
    </div>
</div>
