﻿@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container main-container">
    <h2>@ViewBag.Title.</h2>
    <h4>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "UserManagement")
    </h4>
</div>
