﻿@model BoardsXpress.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Set password";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container main-container">
    @using (Html.BeginForm("resetFirstTimeLogin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        
        <h2 style="text-align:center;">Set Up Your Password</h2>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Combination of Upper and Lower case, Numbers, Special Characters required." })
                @*@Html.ValidationMessageFor(m => m.Password)*@
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Set Your Password" />
            </div>
        </div>
    }
</div>

@Scripts.Render("~/bundles/jqueryval")

