﻿@{
    ViewBag.Title = "Password confirmation";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container main-container">
    <hgroup class="title">
        <h2>@ViewBag.Title.</h2>
    </hgroup>
    <h4>
        Your password has been set. Please @Html.ActionLink("click here to log in", "Login", "UserManagement", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h4>
</div>
