﻿@model BoardsXpress.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div style="margin-bottom:100px;">
    <div style="text-align:center;margin-top:50px;margin-bottom:-24px;"><img src="~/Media/assets/@Resources.customerLogo" style="height:140px;" /></div><br />
    <div class="login form-module">
        <div class="login-triangle"></div>
        <h4 class="login-header">Reset your password</h4>

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "login-container", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.userId)

            <div class='panel panel-success small'>
                <div class='panel-heading'>Your password should have 3 of the 4 following criteria:</div>
                <div class='panel-body'>
                    <ol>
                        <li>Upper Case Letters (ABCD…)</li>
                        <li>Lower Case Letters (abcd…)</li>
                        <li>Numbers (1,2,3,4,…..)</li>
                        <li>Special Characters (!@@#$....)</li>
                        <li>Minimum 6 Characters</li>
                    </ol>
                </div>
            </div>

            <div class="text-danger small">
                @Html.ValidationSummary("", new { DisplayMode = "BulletList" })
            </div>

            <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "small" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autocomplete = "off" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "small" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New Password", autocomplete = "off" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "small" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password", autocomplete = "off" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Reset" />
            </div>
        }

    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

