﻿@model List<BoardsXpress.Models.RoleViewModels>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Display("Name")
        </th>
        <th>
            @Html.Display("Desription")
        </th>
        <th>
            @Html.Display("ReadAccess")
        </th>
        <th>
            @Html.Display("write Access")
        </th>
        <th>
            @Html.Display("full Access")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model ) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.readAccess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.writeAccess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullAccess)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
