﻿@model IEnumerable<BoardsXpress.tblDocumentLibrary>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.docName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.docCreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.docPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblAgendaItem.agendaItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblMeeting.meetingVenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblUserProfile.UserFullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.docName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.docCreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.docPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblAgendaItem.agendaItem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblMeeting.meetingVenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblUserProfile.UserFullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.docId }) |
            @Html.ActionLink("Details", "Details", new { id=item.docId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.docId })
        </td>
    </tr>
}

</table>
