﻿@model List<BoardsXpress.Models.MyDocumentsViewModel>
@{
    ViewBag.Title = "MyDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li>My Documents</li>
</ol>
<div class="main-container container">
    <h4 style="text-align:center; margin-top:30px;">My Documents</h4>
    <table class="table table-striped" id="sort">
        <thead class="thead-inverse">
            <tr>
                <th style="display:none">docId</th>
                <th>Meeting Type</th>
                <th>Meeting Date</th>
                <th>Agenda Item</th>
                <th>Document Name</th>
                <th>Date Submitted</th>
                @*<th>Action</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">@item.docId</td>
                    <td>@item.meetingType</td>
                    <td>@item.meetingDate.Value.ToString("dd/MM/yyyy")</td>
                    <td>@item.agendaItem</td>
                    <td><a href="@item.docPath">@item.docName</a></td>
                    <td><a href="@item.docPath">@item.dateSubmitted.Value.ToString("dd/MM/yyyy")</a></td>
                    @*<td>
                            <span class="glyphicon glyphicon-trash deleteMyDoc" id="#delete" data-toggle="modal" data-target="#deleteMyDoc"></span>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
<!--Delete Modal-->
<div class="modal fade" id="deleteMyDoc" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">Delete the selected document</h4>
            </div>
            <div class="modal-body">
                <p id="deleteBodyText">Are you sure you want to delete? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="deleteMyDocConfirm">Yes</button>
            </div>
        </div>
    </div>
</div>
<!--Message Modal-->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="jsonResult"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Custom/document.js"></script>