﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Dashboard.css")
@Styles.Render("~/Content/font-awesome.css")

<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="/MeetingTypes">Admin</a></li>
    <li>Meeting Administration</li>
</ol>
<div class="row main-container">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-body dashboard-leftmenu">
                <ul class="nav">
                    <li id="administration">
                        <a href="/MeetingTypes"><i class="fa fa-meetup"></i><span>&nbsp;Meeting Administration</span></a>
                        @*@if (User.IsInRole("Super Admin"))
                            {*@
                        <ul>
                            <li data-toggle="modal" data-target="#createMeetingType"><i class="fa fa-calendar-plus-o"></i>&nbsp; Create Meeting Types</li>
                            <li id="delete-meeting"><i class="fa fa-calendar-minus-o"></i>&nbsp; Delete Meeting Types</li>
                        </ul>
                        @* } *@
                    </li>
                    <li class="nav-divider"></li>
                    <li id="documents"><a href="/DocumentLibraries/MyDocuments"><i class="fa fa-file"></i><span>&nbsp;My Documents</span></a></li>
                    @if (User.IsInRole("Super Admin"))
                    {
                        <li><a href="@Url.Action("Index","UserManagement")"><i class="fa fa-file"></i><span>&nbsp;All Users</span></a></li>
                        <li><a href="@Url.Action("Index","UserReportManagement")"><i class="fa fa-file"></i><span>&nbsp;Reports</span></a></li>
                    }
                    <li class="nav-divider"></li>
                    @*<li id="profile"><a href="#"><i class="fa fa-user"></i><span>&nbsp;My Profile</span></a></li>*@
                    @*<li id="profile"><a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#load-partial" href="/Dashboard/UserProfile"><i class="fa fa-user"></i><span>&nbsp;My Profile</span></a></li>*@
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                @*default load*@
                @RenderBody()
            </div>@*end of panel body*@
        </div>@*end of panel*@
    </div>@*end of right col*@
</div>@*end of page row*@

<div class="modal fade" id="createMeetingType" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="createMeetingType">
    <form class="form-horizontal" name="frmCreateMeetingType" id="frmCreateMeetingType">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="createMeetingType"><span id="meetingTypeLabel">Create</span> a Meeting Type</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="meetingType-input" class="col-sm-4 control-label">Enter Meeting Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="meetingType-input" name="meetingType-input" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="meetingType-input" class="col-sm-4 control-label">Enter Abbreviation</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="meetingAbbreviation-input" name="meetingAbbreviation-input" maxlength="30" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="meetingType-input" class="col-sm-4 control-label">Use Abbreviation?</label>
                        <div class="col-sm-8">
                            <input type="checkbox" class="form-control" id="useAbbreviation" name="useAbbreviation-input" value="1" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" id="meeting-submit" class="btn btn-primary">OK</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--Delete Meeting Type Modal-->
<div class="modal fade" id="deleteMtypeModal" tabindex="-1" role="dialog" aria-labelledby="deleteMtypeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="tileMtypeModal">Delete Meeting Type?</h4>
            </div>
            <div class="modal-body alert-danger">
                <p id="deleteMtypeBody">
                    Deleting a Meeting Type will <strong>permanently delete</strong> all the documents and reference materials associated with this meeting type.
                    <br />
                    <br />
                    Are you sure you want to delete this meeting type?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="deleteMtype">Yes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Custom/dashboardlayout.js"></script>


