﻿<!--To make modal of select committee and upload file-->
<!--select committee-->
<div class="modal fade" id="committeeModal" tabindex="-1" role="dialog" aria-labelledby="committeeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="login">
            <h1 style="text-align:center;color:white">WordFlow</h1>
            <div class="login-triangle"></div>
            <h2 class="login-header">Select Meeting</h2>
            <div class="login-container">
                <p>
                    <select class="committeeSelection">
                        <option>Executive</option>
                        <option>Senate</option>
                        <option>Academic Board</option>
                        <option>Committee Member</option>
                        <option>Cotent Provider</option>
                    </select>
                </p>
                <p><input type="submit" value="Continue" id="#uploadModal" data-toggle="modal" data-target="#updateModal" onclick="fileModal();"></p>
            </div>
        </div>
    </div>
</div>
