﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egenda</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome.min.css")
    <link rel="stylesheet" href="~/Content/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/jquery.timepicker.css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src=""></script>
    <script type="text/javascript">
        function ApplicationRootUrl(actionName, controllerName) {
            var userEditPath = "@Url.Action("LoginAuthentication", "Account")";
            return userEditPath.replace("LoginAuthentication", actionName).replace("Account", controllerName);
        }
    </script>

    <link href="~/Content/WCAG/accessibilitymenu.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" style="background-color:#ffffff;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img id="logo" src="~/Media/assets/egenda_logo_color.png" class="img-responsive" style="margin:12px;" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav main-nav">
                    <li><a href="/home">Home</a></li>
                    @if (User.IsInRole("Meeting Administrator") || User.IsInRole("Super Admin"))
                    {
                        <li>@Html.ActionLink("Admin", "Index", "MeetingTypes")</li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Calendar", "Index", "Calendar")</li>
                        <li>@Html.ActionLink("Directory", "Index", "Directory")</li>
                        <li>@Html.ActionLink("Reference Documents", "getRefNavItem", "RefDocs")</li>
                        <li>@Html.ActionLink("Rss Feeds", "Index", "FeedManager")</li>
                        <li><a href='@Url.Action("ShowUserGuide", "Help")' target="_blank">Help</a></li>
                    }
                </ul>

                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right mt-10">
                        <li id="rightnav-search" class="mr-5">
                            @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { enctype = "multipart/form-data", @class = "searchForm" }))
                            {
                                <div class="form-group normalsearch-container pull-left">
                                    <input type="text" name="searchPlaceholder">
                                    <i class="glyphicon glyphicon-search" id="normal-search"></i>
                                    <i class="glyphicon glyphicon-filter" id="advanced-search" data-toggle="modal" data-original-title="Advanced Search" data-placement="left" data-target="#advancedSearchModal" onclick="getMeetingTypesForSearch();"></i>
                                </div>
                            }
                        </li>
                        <li class="mr-15 mt-7">
                            <div class="btn-group">
                                <button class="btn btn-warning" data-toggle="modal" data-target="#uploadFileModal" onclick="getMeetingTypes();">
                                    Upload Document
                                </button>
                            </div>
                            <div class="btn-group">
                                <a class="btn btn-warning dropdown-toggle" href="/Home/Index">My Profile</a>
                                <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <!--<li>@Html.ActionLink("Induction Training", "InductionTraining", "Training")</li>-->
                                    <li>@Html.ActionLink("My Documents", "MyDocuments", "DocumentLibraries")</li>
                                    <li>@Html.ActionLink("Reset Password", "ChangePassword", "Manage")</li>
                                    <li role="separator" class="divider"></li>
                                    <li id="logout"><a href="/UserManagement/LogOff"><span>Logout</span><i class="fa fa-power-off"></i></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                }
            </div><!--end of navbar collapse section-->
        </div><!--end of the container-fluid section-->
    </div><!--end of navigation section-->

    <div class="container-fluid">
        @RenderBody()
    </div>

    @*Custom modal file upload*@
    <div id="uploadFileModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <form name="frmUploadDocument" id="frmUploadDocument" enctype="multipart/form-data">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Upload Meeting Document</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="mtypes" class="col-md-3 col-form-label">Meeting Type:</label>
                            <div class="col-md-9">
                                <select class="form-control" id="mtypes" name="mtypes" required autofocus></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="mdates" class="col-md-3 col-form-label">Meeting Date:</label>
                            <div class="col-md-9">
                                <select class="form-control" id="mdates" name="mdates" required></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="magendaItem" class="col-md-3 col-form-label">Agenda:</label>
                            <div class="col-md-9">
                                <select class="form-control" id="magendaItem" name="magendaItem" required></select>
                            </div>
                        </div>
                        <div class="form-group row" id="agendaItemRelatedSelectRow" hidden>
                            <label for="agendaItemRelated" class="col-md-3 col-form-label">Related Item:</label>
                            <div class="col-md-9">
                                <select class="form-control" id="agendaItemRelated" name="agendaItemRelated"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="file" class="col-md-3 col-form-label">Upload File:</label>
                            <div class="col-md-9">
                                <input type="file" id="file" name="file" accept=".doc, .docx, .ppt, .pptx, .pdf, .xls, .xlsx, .png, .jpg, .jpeg" autocomplete="off" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="file" class="col-md-3 col-form-label" style="top: 14px;">Restrict Printing</label>
                            <div class="col-md-9">
                                <div class="checkbox">
                                    <label class="checkbox checkbox-bootstrap checkbox-lg">
                                        <input type="checkbox" id="printRestriction" name="printRestriction">
                                        <span class="checkbox-placeholder"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" id="uploadFileProgressBar" hidden>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                Uploading file...
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCloseUploadDocument" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="btnUploadDocument" class="btn btn-primary" value="Upload" />
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </form>
    </div><!-- /.modal -->

    <div id="advancedSearchModal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Advanced Search</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="searchAdvanced-text" class="col-md-3 col-form-label">Search Text:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="searchAdvanced-text" name="searchAdvanced-text" autofocus>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="meetingTypeAdvanced" class="col-md-3 col-form-label">Meeting Type:</label>
                            <div class="col-md-9">
                                <select type="text" class="form-control" id="meetingTypeAdvanced" name="meetingTypeAdvanced"></select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="meetingDateAdvanced" class="col-md-3 col-form-label">Meeting Date:</label>
                            <div class="col-md-9">
                                <select type="date" class="form-control" id="meetingDateAdvanced" name="meetingDateAdvanced"></select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="agendaAdvanced" class="col-md-3 col-form-label">Agenda:</label>
                            <div class="col-md-9">
                                <select type="text" class="form-control" id="agendaAdvanced" name="agendaAdvanced"></select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCloseAdvancedSearch" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnAdvancedSearch" class="btn btn-primary">Search</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        }
    </div><!-- /.modal -->
    <!--Success Modal-->
    <div class="modal fade" id="sucessUploadModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="sucessUploadModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="sucessUploadModal">Message</h4>
                </div>
                <div class="modal-body">
                    <p id="successBodyText" class="text-center">The file has been successfully uploaded.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnSuccessUploadModal" data-success="false" class="btn btn-primary successful">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/accessibilitymenu.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/Custom/main.js"></script>
    <script src="~/Scripts/moment.min.js"></script>

    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>

</body>
</html>
<script>
    var meetingTypeId;
    //populate meeting type in the drop-down list
    function getMeetingTypes() {

        $.ajax({
            url: '/MeetingTypes/getMeetingTypes',
            async: false,
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            error: function (data) {
            },
            success: function (data) {
                $("#mtypes").html(""); // Remove all <option> child tags.

                $.each(data, function (i, item) {
                    $("#mtypes").append(
                        $('<option></option>').val(item.meetingTypeId).html(item.meetingType));

                    if (item.meetingTypeId == sessionStorage.selectedMeetingTypeId)
                        $("#mtypes").val(sessionStorage.selectedMeetingTypeId);
                });

                if (typeof sessionStorage.selectedMeetingTypeId != "undefined" &&
                    sessionStorage.selectedMeetingTypeId != "null" &&
                    sessionStorage.selectedMeetingTypeId != "")
                    $("#mtypes").val(sessionStorage.selectedMeetingTypeId);
                else
                    sessionStorage.selectedMeetingTypeId = $("#mtypes").val();

                $("#mtypes").change();
            }
        });
    }
    $(function () {
        $("#mtypes").change(function () {

            sessionStorage.selectedMeetingTypeId = $(this).val()

            //if (typeof sessionStorage.selectedMeetingTypeId != "undefined" &&
            //    sessionStorage.selectedMeetingTypeId != "null" &&
            //    sessionStorage.selectedMeetingTypeId != $(this).val())
            //    sessionStorage.selectedMeetingTypeId = $(this).val();

            $.ajax({
                url: '/AgendaItems/getDatesForMeeting',
                async: false,
                type: "GET",
                data: { meetingTypeID: $(this).val() },
                dataType: "json",
                contentType: "application/json",
                error: function (data) { },
                success: function (data) {
                    $("#mdates").html(""); // clear before appending new list

                    $.each(data, function (i, item) {
                        if (item.RotaryResolution == true) {
                            $("#mdates").append(
                                $('<option></option>').val(item.MeetingId).html(item.MeetingDate + " (Rotary Resolution)"));
                        }
                        else {
                            $("#mdates").append(
                                $('<option></option>').val(item.MeetingId).html(item.MeetingDate));
                        }

                        if (item.MeetingId == sessionStorage.selectedMeetingId)
                            $("#mdates").val(sessionStorage.selectedMeetingId);
                    });

                    $("#mdates").change();
                }
            });
        });

    });
    $(function () {
        $("#mdates").change(function () {

            sessionStorage.selectedMeetingId = $(this).val();

            $.ajax({
                url: '/AgendaItems/getAgendaForMeeting',
                async: false,
                type: "GET",
                data: { meetingID: $(this).val() },
                dataType: "json",
                contentType: "application/json",
                error: function (data) {
                },
                success: function (data) {
                    $("#magendaItem").html(""); // clear before appending new list

                    $.each(data, function (i, item) {
                        $("#magendaItem").append(
                            $('<option></option>').val(item.AgendaItemId).html(item.AgendaName));
                    });

                    $("#magendaItem").change();
                }
            });
        });

    });
    function NormalSearch() {

        var searchText = $("#searchPlaceholder").val();
        $.ajax({
            url: 'Search/Index',// the method we are calling
            type: "POST",
            data: JSON.stringify({ "searchText": searchText }),
            dataType: 'html',

            contentType: "application/json",
            success: function (result) {
            },
            error: function (error) {
                alert(error[1]);
            }
        });
    }
    function getMeetingTypesForSearch() {
        $.ajax({
            url: 'MeetingTypes/getMeetingTypes',
            async: false,
            type: "POST",
            //data: JSON.stringify({ "id": id }),
            dataType: "json",
            contentType: "application/json",
            error: function (data) {

            },
            success: function (data) {
                $("#meetingTypeAdvanced option").remove(); // Remove all <option> child tags.
                $("#meetingDateAdvanced option").remove(); // Remove all <option> child tags.
                $("#meetingTypeAdvanced").append( // Append an object to the inside of the select box
                    $("<option></option>") // Yes you can do this.
                        .text("Select Meeting Type")
                        .val("")
                );
                $.each(data.meetingTypes, function (index, item) { // Iterates through a collection
                    $("#meetingTypeAdvanced").append( // Append an object to the inside of the select box
                        $("<option></option>") // Yes you can do this.
                            .text(item.MeetingType)
                            .val(item.MeetingTypeId)
                    );
                });
            }
        });
    }
    $(function () {
        $("#meetingTypeAdvanced").change(function () {
            var selectedValue = $(this).val();
            meetingTypeId = selectedValue;
            $.ajax({
                url: 'AgendaItems/getDatesForMeeting',
                async: false,
                type: "POST",
                data: JSON.stringify({ "meetingID": selectedValue }),
                dataType: "json",
                contentType: "application/json",
                error: function (data) {
                },
                success: function (data) {
                    $("#agendaAdvanced option").remove(); // Remove all <option> child tags.
                    $("#meetingDateAdvanced option").remove();
                    $("#meetingDateAdvanced").append( // Append an object to the inside of the select box
                        $("<option></option>") // Yes you can do this.
                            .text("Select Meeting Date")
                            .val("")
                    );
                    $.each(data.meetingTypes, function (index, item) { // Iterates through a collection
                        var itemDate = item.MeetingDate;
                        var itemDateFormat = itemDate.substring(0, itemDate.lastIndexOf(" ") + 1);
                        itemDateFormat = moment(itemDateFormat, 'MMMM Do YYYY').format('DD-MMMM-YYYY');
                        $("#meetingDateAdvanced").append( // Append an object to the inside of the select box
                            $("<option></option>") // Yes you can do this.
                                .text(itemDateFormat)
                                .val(item.MeetingId)
                        );

                    });
                }
            });
        });

    });
    $(function () {
        $("#meetingDateAdvanced").change(function () {
            var selectedValue = $(this).val();
            $.ajax({
                url: 'AgendaItems/getAgendaForMeeting',
                async: false,
                type: "POST",
                data: JSON.stringify({ "meetingID": selectedValue }),
                dataType: "json",
                contentType: "application/json",
                error: function (data) {
                },
                success: function (data) {
                    $("#agendaAdvanced option").remove();
                    $("#agendaAdvanced").append( // Append an object to the inside of the select box
                        $("<option></option>") // Yes you can do this.
                            .text("Select Agenda")
                            .val("")
                    );
                    $.each(data.agendaItems, function (index, item) { // Iterates through a collection
                        $("#agendaAdvanced").append( // Append an object to the inside of the select box
                            $("<option></option>") // Yes you can do this.
                                .text(item.agendaItem)
                                .val(item.agendaId)
                        );
                        //$("#meetingDateAdvanced").append( // Append an object to the inside of the select box
                        //    $("<option></option>") // Yes you can do this.
                        //        .text(item.MeetingDate)
                        //        .val(item.MeetingId)
                        //);

                    });
                }
            });
        });

    });

    //on click to the search icon submit the form
    $(document).on('click', '#normal-search', function () {
        $('.searchForm').submit();
    })
</script>
