﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egenda</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" style="background-color:#ffffff;height:68px;">
                <a href='@Url.Action("Index", "Home")'>
                    <img id="logo" src="~/Media/assets/@Resources.egendaLogo" class="img-responsive" style="margin:12px;"/>
                </a>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer class="navbar-default navbar-fixed-bottom">
        <img src="~/Media/assets/logo.png" class="pull-right" />
    </footer>
</body>
</html>
