﻿@model List<BoardsXpress.Models.LoggedUserRolesModels>

<li><a href="/home">Home</a></li>

@if (Model.Where(w => w.RoleName == "Super Admin").Count() == 1 || Model.Where(w => w.RoleName == "Admin").Count()>0)
{
    <li>@Html.ActionLink("Admin", "Index", "MeetingTypes")</li>

}
                   
                    <li>@Html.ActionLink("Calendar", "Index", "Home")</li>
                    <li>@Html.ActionLink("Directory", "Index", "Directory")</li>
                    <li style="word-break:break-all;
    width:180px;text-align:center;">@Html.ActionLink("Reference Documents and Resources", "Index", "Home")</li>
    <li>@Html.ActionLink("Help", "Index", "Home")</li>