﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";

}

<div class="row m-25">
    <div class="alert alert-danger text-center" role="alert">
        <p><strong>Error</strong></p>
        <p>An error occurred while processing your request.</p>
        <div>@Model.Exception.Message</div>
        <p><a href="/">Go back to the home page</a></p>
    </div>
</div>


