﻿@model BoardsXpress.Models.RightPanelContentModel

@if (Model.ShowContent)
{
    if (Model.ShowLogo)
    {
        <img src="~/Media/assets/@Resources.customerLogo" class="img-responsive text-center" alt="Logo" />
    }
    <div class="text-center">
        <h2 style="color: red">@Model.ProtectiveMarking</h2>
        <p style="margin-top: 15px;">@Model.ReasonForSensitivity</p>
    </div>
}