﻿@model BoardsXpress.Models.DisplayMeetingViewModel
@{
    ViewBag.Title = "Egenda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Scripts/Custom/annotator-1.2.10/pkg/annotator.min.css" />
<script src="~/Scripts/Custom/annotate.js"></script>
<script src="https://js.pusher.com/4.1/pusher.min.js"></script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- Modal -->
<div id="modalPrintDocument" data-backdrop="static" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Print Document</h4>
            </div>
            <div id="modalPrintDocumentContent" class="modal-body">
            </div>
            <div class="modal-footer">

                <!-- Progress bar section -->
                <div class="progress mt-10" aria-hidden="true">
                    <div class="progress-bar progress-bar-striped active" aria-valuenow="100" style="width: 100%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="/Home/DisplayMeeting?meetingId=@Model.MeetingViewModel.meetingId">@Model.MeetingTypeViewModel.meetingType</a></li>
    <li>@Model.MeetingViewModel.meetingDate.ToString("dd/MM/yyyy")</li>
    <div id="google_translate_element" class="pull-right"></div>
    @if (!Model.Print)
    {
        using (Html.BeginForm("PrintSelectedDocument", "Home", FormMethod.Post, new { id = "frmPrintDocument", @class = "pull-right mr-5" }))
         {
             <input type="hidden" id="_meetingId" name="_meetingId" value="@Model.MeetingViewModel.meetingId" />
             <input type="hidden" id="_docId" name="_docId" value=""/>
             <button type="submit" id="btnPrintDocument" data-toggle="tooltip" data-target="#modalPrintDocument" class="btn btn-default btn-sm">
                 <span class="fa fa-print"></span>
                 Print
             </button>  
         }   
    }
    
</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            @if (Model.Environment == "Staging")
            {
                <h4>
                    <span style="color: white;">Staging Environment</span>
                    @using (Html.BeginForm("Index", "Publish", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                            <input id="meetingId" type="text" name="meetingId" hidden value="@Model.MeetingViewModel.meetingId" />
                            <input id="meetingTypeId" type="text" name="meetingTypeId" hidden value="@Model.MeetingViewModel.meetingTypeId" />
                            <input id="meetingDate" type="text" name="meetingDate" hidden value="@Model.MeetingViewModel.meetingDate" /><br />
                            <input type="submit" value="Publish to Website" class="btn btn-sm btn-primary" />
                    }
                </h4>
            }
            <div id="treeView" class="treeview" data-key="@Model.MeetingViewModel.meetingId.ToString()">

            </div>
        </div>
        
        <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main-container">
            <div class="panel doc-content">
                <div class="panel-body" id="mainContent">
                    
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-2 sidebar-right" id="rightPanelContent">
            @if (Model.MeetingViewModel.meetingId.ToString() == "09c089c7-b89e-4260-9e74-837ffce391a0")
            {
            <div style="width: 90%; position: absolute; bottom: 0;">
                <div class='list-group'>
                    <div class='list-group-item comment_container'>
                        <ul class='list-group comment_list'>
                            <li class='list-group-item'>
                                <div class='comment-header'>
                                    <div class='bold text-uppercase'>
                                        Anand
                                    </div>
                                    <div class=“clearfix”></div>
                                </div>
                                <div class='comment'>Test Review.</div>
                            </li>
                            <li class='list-group-item'>
                                <div class='comment-header'>
                                    <div class='bold text-uppercase'>
                                        Anand
                                    </div>
                                    <div class=“clearfix”></div>
                                </div>
                                <div class='comment'>Test 2</div>
                            </li>
                            <li class='list-group-item'>
                                <div class='comment-header'>
                                    <div class='bold text-uppercase'>
                                        Anand
                                    </div>
                                    <div class=“clearfix”></div>
                                </div>
                                <div class='comment'>Testing</div>
                            </li>
                        </ul>
                    </div>
                    <div class=“list-group-item”>
                        <form>
                            <textarea class='comment_textarea form-control' rows='1'
                                      id='comment_text'
                                      name='comment_text'
                                      placeholder='Post a comment'></textarea>
                            <a type='button' href='#' data-rotary-id='@Model.MeetingViewModel.meetingId.ToString()'
                               class='btn btn-primary submit_comment img-circle'><i class='fa fa-send'></i></a>
                        </form>
                        <div class=“clearfix”></div>
                    </div>
                </div>

            </div>
            }
        </div>
    </div>
</div>

@*<script src="~/Scripts/Custom/annotator-1.2.10/pkg/annotator.min.js"></script>
    <script src="~/Scripts/Custom/annotator-1.2.10/pkg/annotator.store.min.js"></script>*@
<script type=“text/javascript”>
    var rotary_channel = 'rotary_comments_@Model.MeetingViewModel.meetingId.ToString()';
</script>
<script src="~/Scripts/Custom/home.js"></script>
<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en-au', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
    }
</script>