﻿@{
    ViewBag.Title = "Home Page";
    string tempMeetingType = string.Empty;
}


@Styles.Render("~/Content/jsTree/themes/default/style.min.css")

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="well sidebars">
            @*<ul class="nav nav-list tree">
                @foreach (var kvp in Model.navDataFields)
                {
                    <li>
                        @kvp.Key
                        <ul class="nav nav-list tree">
                            @foreach (var item in kvp.Value)
                            {
                                <li>
                                    @if (item.meetingId != null)
                                    {
                                        <a href="@Url.Action("DisplayMeeting", "Home", new { meetingId = @item.meetingId, meetingType = @kvp.Key})"> @item.meetingDate.ToString("dd MMMM, yyyy")</a>
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ul>*@
            
            <div id="hometree"></div>
        </div>
    </div>

    <div class="col-md-9 main-container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="home-content">
                    <div class="m-25"><img src="~/Media/assets/@Resources.customerLogo" class="img-responsive center-block" /></div>
                    <h1 style="text-align:center;">Welcome To Egenda</h1><br />
                    <p>
                        Egenda is the new web based solution for meeting papers that transforms papers into fully-interactive and totally secure websites - available to authorised users anywhere, any time and on any device.
                    </p>
                    <p>With Egenda your papers are:</p>
                    <ul>
                        <li>
                            <strong>Searchable</strong><br />
                            <p>Enabling you to easily query a topic across multiple meetings with keyword search and cross referencing</p>
                        </li>
                        <li>
                            <strong>Mobile Optimised</strong><br />
                            <p>Easily navigate content on a mobile device with no scrolling through long PDFs</p>
                        </li>
                        <li>
                            <strong>Accessible</strong> <br />
                            <p>All papers from current and past meetings are easily accessible from the website, and offline with a tablet app option</p>
                        </li>
                        <li>
                            <strong>Enriched</strong><br />
                            <p>As a website you can enrich with real time information – RSS feeds, stock prices, company announcements</p>
                        </li>
                        <li>
                            <strong>Completely Secure</strong><br />
                            <p>Iron clad physical security and robust encryption</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jstree.min.js"></script>
<script src="~/Scripts/Custom/home.js"></script>

