﻿
@{
    ViewBag.Title = "User Guide";
}

<style>
    h3,h4, .guide_highlight {
        color: cornflowerblue;
    }

    .guideImages {
        text-align: center;
    }

        .guideImages > img {
            max-width: 650px;
        }

    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">User Guide</a></li>
    <li class="active"><a href="#">Accessing Reference Documents and Resources</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("Welcome to Egenda", "ShowUserGuide", "Help", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Logging in to Egenda", "ShowUserGuide", "Help", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("The System Administrator Role", "ShowUserGuide", "Help", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Setting Up Meeting Types", "ShowUserGuide", "Help", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Set Up and Manage Users", "ShowUserGuide", "Help", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Manage Meeting Calendar", "ShowUserGuide", "Help", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "ShowUserGuide", "Help", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Review and Publish Documents", "ShowUserGuide", "Help", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Publishing Documents to the Egenda Website", "ShowUserGuide", "Help", new { pageNumber = 8 }, "")</li>
                            <li class="active">@Html.ActionLink("Manage Reference Documents & Resources", "ShowUserGuide", "Help", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("RSS Feed", "ShowUserGuide", "Help", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3 id="question10">Manage Reference Documents & Resources</h3>
                <p>This repository is for documents that are not current meeting agenda items but are resources to which the meeting members require access. This repository caters for documents as well as Web links.</p>
                <h4>Upload a Reference Document</h4>
                <p>To add an item to reference documents, select <strong class="guide_highlight">Upload</strong>. In the text box, enter the type of document being uploaded – i.e. Word, PDF, Excel.</p>
                <p>Insert a web link or select a file, and choose <strong class="guide_highlight">Upload</strong>.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_ref.png" />
                </div>
                <br />
                <p>Enter the name of the document as you would like it to appear in the Reference Document list, then upload the file. When reference documents are uploaded, select publish and these documents will then be available from the Reference item on the main navigation.</p>
                <h4>Upload a Reference Weblink</h4>
                <p>Select Upload Reference Weblink and enter the following details</p>
                <ol>
                    <li>The name of the weblink as you would like it to appear on the Reference List.</li>
                    <li>The address of the weblink beginning with https://www.</li>
                </ol>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/ref_web.png" />
                </div>
                <br />
                <h4>View Reference Documents</h4>
                <p>To view your reference documents, select References from the top navigation</p>
                <p>The left hand navigation will display the reference documents.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/view_ref.png" />
                </div>
                <br />
            </div>
        </div>
    </div>
</div>