﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3,h4, .guide_highlight {
        color: cornflowerblue;
    }
     .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">User Guide</a></li>
    <li class="active"><a href="#">Annotating Your Board Papers</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("Welcome to Egenda", "ShowUserGuide", "Help", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Logging in to Egenda", "ShowUserGuide", "Help", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("The System Administrator Role", "ShowUserGuide", "Help", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Setting Up Meeting Types", "ShowUserGuide", "Help", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Set Up and Manage Users", "ShowUserGuide", "Help", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Manage Meeting Calendar", "ShowUserGuide", "Help", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "ShowUserGuide", "Help", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Review and Publish Documents", "ShowUserGuide", "Help", new { pageNumber = 7 }, "")</li>
                            <li class="active">@Html.ActionLink("Publishing Documents to the Egenda Website", "ShowUserGuide", "Help", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Manage Reference Documents & Resources", "ShowUserGuide", "Help", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("RSS Feed", "ShowUserGuide", "Help", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3 id="question9">Publishing Documents to the Egenda Website</h3>
                <p>Once all documents are approved (as evidenced by the <strong class="guide_highlight">Review and Approval Buttons</strong> being at <strong class="guide_highlight">Completed</strong> status for all documents), the documents are ready for publishing to the website for viewing by Board members.</p>
                <p>When all documents have been reviewed and approved, select <strong class="guide_highlight"> Publish</strong>.</p>
                <p>Selecting this option will release the documents for uploading to the Egenda website.</p>
                <p>Select the <strong class="guide_highlight"> Publish button</strong>. You will be asked to confirm that you are ready to publish.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/publish_confirm.png" />
                </div>
                <br />
                <p>When the documents have been published to the website you will see a confirmation message:</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/publish_msg.png" />
                </div>
                <br />
                <h4>Notification to Meeting Participants</h4>
                <p>When documents are published to the website, all meeting participants will receive an email notification advising that the meeting documents have been published.</p>
            </div>
        </div>
    </div>
</div>