﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3,h4, .guide_highlight {
        color: cornflowerblue;
    }
    .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">User Guide</a></li>
    <li class="active"><a href="#">Forgotten Password</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("Welcome to Egenda", "ShowUserGuide", "Help", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Logging in to Egenda", "ShowUserGuide", "Help", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("The System Administrator Role", "ShowUserGuide", "Help", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Setting Up Meeting Types", "ShowUserGuide", "Help", new { pageNumber = 3 }, "")</li>
                            <li class="active">@Html.ActionLink("Set Up and Manage Users", "ShowUserGuide", "Help", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Manage Meeting Calendar", "ShowUserGuide", "Help", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "ShowUserGuide", "Help", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Review and Publish Documents", "ShowUserGuide", "Help", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Publishing Documents to the Egenda Website", "ShowUserGuide", "Help", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Manage Reference Documents & Resources", "ShowUserGuide", "Help", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("RSS Feed", "ShowUserGuide", "Help", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3 id="question5">Set Up and Manage Users</h3>
                <p>The Administrator has authority to set up and manage users for their meeting types.</p>

                <p>Select <strong class="guide_highlight">Set up and Manage Users</strong> from the Admin Screen.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/create_user.png" />
                </div>
                <br />
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/create_user_tab.png" />
                </div>
                <br />

                <p>Select the Add User Button.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/add_user.png" />
                </div>
                <br />
                <h4>Add User</h4>
                <p>Clicking the Add User button will allow you to create the new user. You will be presented with the following screen:</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/add_user_form.png" />
                </div>
                <br />
                <p>The following information is required:</p>
                <table>
                <tbody>
                    <tr>
                        <td>Full Name</td>
                        <td>The User’s first name and surname We recommend a standardized policy relevant to your organisation, as this will affect any searches for users.</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>The email address to which all system notifications and reset password details will be sent.</td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>The User’s phone number</td>
                    </tr>
                    <tr>
                        <td>Organisation</td>
                        <td>The organisation the user represents</td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>The user’s Position title</td>
                    </tr>
                    <tr>
                        <td>Profile Photo</td>
                        <td>An identifying photo.( Optional)</td>
                    </tr>
                </tbody>
                </table>
                <br />
                <p>Once the User’s full details have been entered click “Done” to register the New User.</p>
                <h4>Manage Role</h4>
                <p>Each user must be assigned a role for the Meeting Type. The role determines what the user can see and actions they can take in Egenda.</p>
                <h4>Meeting Chair</h4>
                <p>Full rights to upload and view published documents, review unpublished documents and publish documents.</p>
                <h4>Administrator</h4>
                <p>Full rights to upload and view published documents, review unpublished documents and publish documents. Additional rights to add or remove users from meeting and change existing user roles.</p>
                <h4>Meeting Participant</h4>
                <p>Rights to upload documents to meeting chair for review, and view all documents published as complete by meeting chair.</p>
                <h4>Content Provider</h4>
                <p>Able to upload documents for review. No rights to view published documents or documents uploaded.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_doc.png" />
                </div>
                <br />
                <p>Select the role and click Save.</p>
                <h4>Edit User</h4>
                <p>From the Manage Users page select the <strong class="guide_highlight">Edit button</strong>. The pop up box will display all the User’s information. Edit the information that requires changing and select <strong class="guide_highlight">Done</strong>.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/edit_user.png" />
                </div>
                <br />
                <h4>Delete User</h4>
                <p>From the Manage Users page select the <strong class="guide_highlight">Remove Button</strong> in the Action column associated with the specific user.</p>
                <p>You will be asked to confirm that you wish to delete this user.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/delete_user.png" />
                </div>
                <br />
                <strong>This will remove the User’s details from and access to the Egenda system.</strong>
            </div>
        </div>
    </div>
</div>