﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3,h4, .guide_highlight {
        color: cornflowerblue;
    }
     .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">User Guide</a></li>
    <li class="active"><a href="#">Annotating Your Board Papers</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("Welcome to Egenda", "ShowUserGuide", "Help", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Logging in to Egenda", "ShowUserGuide", "Help", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("The System Administrator Role", "ShowUserGuide", "Help", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Setting Up Meeting Types", "ShowUserGuide", "Help", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Set Up and Manage Users", "ShowUserGuide", "Help", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Manage Meeting Calendar", "ShowUserGuide", "Help", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "ShowUserGuide", "Help", new { pageNumber = 6 }, "")</li>
                            <li class="active">@Html.ActionLink("Review and Publish Documents", "ShowUserGuide", "Help", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Publishing Documents to the Egenda Website", "ShowUserGuide", "Help", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Manage Reference Documents & Resources", "ShowUserGuide", "Help", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("RSS Feed", "ShowUserGuide", "Help", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3 id="question8">Review and Publish Documents</h3>
                <p>All documents uploaded to Egenda will reside in the Document Repository, from where they can be reviewed prior to approval and publishing.</p>
                <p>Select Review and Publish Documents from the Admin Panel.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/review_btn.png" />
                </div>
                <br />
                <p>Select the Meeting date.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/meeting_date.png" />
                </div>
                <br />
                <p>Documents will appear in Agenda Order in the repository.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/meetings_details.png" />
                </div>
                <br />
                <h4>Reviewing and Approving Documents</h4>
                <ol>
                    <li>Select the document from the Document name list.</li>
                    <li>Open the document. At this point the document will open in its native format.</li>
                    <li>
                        If the document is <strong>ready for approval</strong>, close the document and select the review and approval buttons. Change from Pending status to Approved.
                        <div class="guideImages img-responsive">
                            <img src="~/Media/assets/ceo_review.png" />
                        </div>
                        <br />
                    </li>
                    <li>If the document is <strong>not ready for approval</strong>, go back to the owner of the document to discuss the required changes. Delete the document from the repository. </li>
                </ol>
                <p><strong class="guide_highlight">Note: Egenda manages version control by allowing only one version of a document for an agenda item to be held in the repository. The repository will not accept two versions of a document for an agenda item.</strong></p>
                <p>The document owner can then submit a revised version of the document for review.</p>
                <h4>Viewing Documents in the Staging Environment</h4>
                <p>When documents are submitted to the document repository, they can be viewed on the website in a staging environment, prior to their final publishing to the Egenda.</p>
                <p>The value of the Staging Environment is that this enables the Administrator to see how the Meeting Papers will look in the Egenda website before they are published and available to all the meeting participants.</p>
                <p>To view the documents in the staging environment select <strong class="guide_highlight">Home</strong> from the top navigation. This will display all the dates for the Meeting Type.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/view_docs.png" />
                </div>
                <br />
                <p>Select the date of the meeting for which you wish to view the documents.</p>
                <p>Click on the meeting date to show the list of documents in the staging environment. </p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/staging.png" />
                </div>
                <br />
                <p>From the staging environment you can view how the documents will be dispayed on the website.</p>
                <p>If the Agenda Item does not have a related document you will see the following message.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/no_doc.png" />
                </div>
                <br />
            </div>
        </div>
    </div>
</div>