﻿
@{
    ViewBag.Title = "User Guide";
}

<style>
    h3,h4, .guide_highlight {
        color: cornflowerblue;
    }
     .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">User Guide</a></li>
    <li class="active"><a href="#">Egenda Navigation</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("Welcome to Egenda", "ShowUserGuide", "Help", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Logging in to Egenda", "ShowUserGuide", "Help", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("The System Administrator Role", "ShowUserGuide", "Help", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Setting Up Meeting Types", "ShowUserGuide", "Help", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Set Up and Manage Users", "ShowUserGuide", "Help", new { pageNumber = 4 }, "")</li>
                            <li class="active">@Html.ActionLink("Manage Meeting Calendar", "ShowUserGuide", "Help", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "ShowUserGuide", "Help", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Review and Publish Documents", "ShowUserGuide", "Help", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Publishing Documents to the Egenda Website", "ShowUserGuide", "Help", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Manage Reference Documents & Resources", "ShowUserGuide", "Help", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("RSS Feed", "ShowUserGuide", "Help", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3 id="question6">Manage Meeting Calendar</h3>
                <h4>Add, delete or amend forthcoming meeting dates and details.</h4>
                <h4>Add Meeting</h4>
                <p>Select <strong class="guide_highlight">Add Meeting</strong>. You will see the following:</p>
                    <table>
                        <tbody>
                            <tr>
                                <td>Meeting Date</td>
                                <td>Select the required date from the pop up calendar.</td>
                            </tr>
                            <tr>
                                <td>Meeting Start Time</td>
                                <td>Select a time from the drop-down list of available times.</td>
                            </tr>
                            <tr>
                                <td>Meeting Finish Date</td>
                                <td>This is an optional field if you wish to include a meeting finish time in your meeting calendar.</td>
                            </tr>
                            <tr>
                                <td>Meeting Venue</td>
                                <td>Enter Venue details.</td>
                            </tr>
                        </tbody>
                    </table>
                <h4>Edit Meeting</h4>
                <p>From the <strong class="highlight">Manage Meeting Calendar</strong> page select the <strong class="highlight">Edit Button</strong> in the Action column, shown below in red, associated with the specific meeting to be edited.  Select <strong class="highlight">Done</strong> once required changes are entered.</p>
                <p><strong class="highlight"> Note – Egenda will not allow changes to be made to meeting dates that have passed.</strong></p>
                <h4>Delete Meeting</h4>
                <p>From the Manage Meeting Calendar page select the trash can icon in the Action column, shown above in red, associated with the specific meeting to be deleted. This will remove the meeting details from the Egenda system.</p>
                <p><strong class="guide_highlight">Note – Egenda will only allow editing or deleting of meetings that have not yet been held. If the meeting date is in the past, and the meeting has been held, it can only be archived, not deleted.</strong></p>
                <h4>Meeting Agenda</h4>
                <p>Add, delete or amend the meeting agenda for a future meeting.</p>
                <p>This function enables you to create meeting agenda with multiple layers of agenda items.</p>
                <p>Select <strong class="highlight">Meeting Agenda</strong> from Admin page. The following screen and pop-up will appear:</p>
                <h4>Add Main Agenda Items</h4>
                <p>In the first step of creating your meeting agenda add the main agenda items only – i.e. do not add any items that are related to main agenda items.</p>
                <p>Select <strong class="highlight">Add Agenda Item</strong>.  Enter the title of the new Agenda Item.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/add_agenda.png" />
                </div>
                <br />
                <p>Many meetings have a core of agenda items that recur in every meeting.</p>
                <p>You have the option to select <strong class="highlight">Recurring Item</strong> If you retain the check, then this item will automatically appear in your next meeting agenda.</p>
                <p>This means as you add new meeting dates, any item that you designated as <strong class="highlight">Recurring Item</strong> will automatically appear in the Agenda for any subsequent meetings you create.</p>
                <p>You can delete a recurring time at any time.</p>
                <h4>Add Related Items</h4>
                <p>Open the Meeting Agenda option from the Admin Panel.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/add_item.png" />
                </div>
                <br />
                <p>For each agenda item, you can add as many related items as are required.</p>
                <p>This function is for adding items that are subordniate to the main agenda items</p>
                <p>Select Add Related Item.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/add_item_btn.png" />
                </div>
                <br />
                <p>Add the related item.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/add_item_dialog.png" />
                </div>
                <br />
                <p>When the related item is added, it will appear in the Meeting Agenda screen as subordinate to the main agenda item.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/action_item.png" />
                </div>
                <br />
                <h4>Reorder Agenda Items</h4>
                <p>Next to each agenda item are Up and Down arrows.</p>
                <p>If you wish to move an agenda item, simply select the arrow for the direction you wish to move it in.</p>
                <p>The agenda item will be moved one place up or down at a time. If you need to move the agenda items several places, click the direction for each place.</p>
                <p>If the agenda item has related items, these items will move along with the main item to which they are related.</p>
                <h4>Edit Agenda Item</h4>
                <p>From the Meeting Agenda page select the <strong class="highlight">Edit Button</strong> in the Action column, shown in the box below, associated with the specific agenda item to be edited. Amend the Agenda Item title.  Select <strong class="highlight">Done</strong> once required changes are entered.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/edit_agenda.png" />
                </div>
                <br />
                <h4>Delete Agenda Item</h4>
                <p>From the Meeting Agenda page select the <strong class="highlight">Remove Button</strong> in the Action column, associated with the specific agenda item to be deleted. This will remove the agenda item from the current meeting agenda.</p>
            </div>
        </div>
    </div>
</div>