﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3,h4 {
        color: cornflowerblue;
    }
    .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">User Guide</a></li>
    <li class="active"><a href="#">Logging In to Egenda</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("Welcome to Egenda", "ShowUserGuide", "Help", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Logging in to Egenda", "ShowUserGuide", "Help", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("The System Administrator Role", "ShowUserGuide", "Help", new { pageNumber = 2 }, "")</li>
                            <li class="active">@Html.ActionLink("Setting Up Meeting Types", "ShowUserGuide", "Help", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Set Up and Manage Users", "ShowUserGuide", "Help", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Manage Meeting Calendar", "ShowUserGuide", "Help", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "ShowUserGuide", "Help", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Review and Publish Documents", "ShowUserGuide", "Help", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Publishing Documents to the Egenda Website", "ShowUserGuide", "Help", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Manage Reference Documents & Resources", "ShowUserGuide", "Help", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("RSS Feed", "ShowUserGuide", "Help", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3 id="question4">Setting Up Meeting Types</h3>
                <p>The Administrator is responsible for setting up Meeting Types. Examples of Meeting Types are:</p>
      
                <ul>
                    <li>Board</li>
                    <li> Committees</li>
                    <li>Council</li>
                    <li>Etc</li>
                </ul>
                <p>Meeting type is freeform – there are no prescribed formats for describing your meeting types for your organisation.</p>
                <p>To set up a Meeting type:</p>
                <ol>
                    <li>In the top navigation bar, click Admin.</li>
                    <li>In the left sidebar, select Create Meeting Type</li>
                </ol>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/create_meeting.png" />
                </div>
                <br />
                <p>You have now created a meeting type.</p>
                <h4>Meeting Type Admin Panel</h4>
                <p>Each meeting type has its own Administration Panel.</p>
                <p>From here you manage users, calendars, agendas, documents, annotations and archives for that meeting type.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/meeting_type.png" />
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<script>
    $(document).ready(function () {
        $(".userGuide a").on('click', function () {
            var link = $(this).attr('href');
            $('html,body').animate({ scrollTop: ($(link).offset().top - 155) }, 'slow');
        });
    });
    $('label.tree-toggler').click(function () {
        $(this).parent().children('ul.tree').toggle(300);
    });
</script>




