﻿
@{
    ViewBag.Title = "User Guide";
}

<style>
    h3, h4, .guide_highlight {
        color: cornflowerblue;
    }

    .guideImages {
        text-align: center;
    }

        .guideImages > img {
            max-width: 650px;
        }

    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">User Guide</a></li>
    <li class="active"><a href="#">Accessing Reference Documents and Resources</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("Welcome to Egenda", "ShowUserGuide", "Help", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Logging in to Egenda", "ShowUserGuide", "Help", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("The System Administrator Role", "ShowUserGuide", "Help", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Setting Up Meeting Types", "ShowUserGuide", "Help", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Set Up and Manage Users", "ShowUserGuide", "Help", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Manage Meeting Calendar", "ShowUserGuide", "Help", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "ShowUserGuide", "Help", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Review and Publish Documents", "ShowUserGuide", "Help", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Publishing Documents to the Egenda Website", "ShowUserGuide", "Help", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Manage Reference Documents & Resources", "ShowUserGuide", "Help", new { pageNumber = 9 }, "")</li>
                            <li class="active">@Html.ActionLink("RSS Feed", "ShowUserGuide", "Help", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3>Create an RSS Feed</h3>
                <p>RSS (Rich Site Summary) is <strong>a format for delivering regularly changing web content</strong>. Many news-related sites, weblogs and other online publishers syndicate their content as an <strong>RSS Feed</strong> to whoever wants it.</p>
                <p>It allows you to <strong>easily stay informed</strong> by retrieving the latest content from the sites you are interested in. You <strong>save time</strong> by not needing to visit each site individually. You <strong>ensure your privacy</strong>, by not needing to join each site's email newsletter.</p>
                <p>Before you can add RSS feeds, you need to have selected a feed reader, such as http://www.feedreader.com/. From this location you can then add</p>
                <p>From the Admin panel, select Manage RSS Feed.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/create_rss.png" />
                </div>
                <br />
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/add_rss.png" />
                </div>
                <br />
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/msg_rss.png" />
                </div>
                <br />
            </div>
        </div>
    </div>
</div>