﻿
@{
    ViewBag.Title = "User Guide";
}

<style>
    h3,h4, .guide_highlight {
        color: cornflowerblue;
    }
     .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">User Guide</a></li>
    <li class="active"><a href="#">Accessing Your Board Papers</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("Welcome to Egenda", "ShowUserGuide", "Help", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Logging in to Egenda", "ShowUserGuide", "Help", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("The System Administrator Role", "ShowUserGuide", "Help", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Setting Up Meeting Types", "ShowUserGuide", "Help", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Set Up and Manage Users", "ShowUserGuide", "Help", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Manage Meeting Calendar", "ShowUserGuide", "Help", new { pageNumber = 5 }, "")</li>
                            <li class="active">@Html.ActionLink("Uploading Meeting Documents", "ShowUserGuide", "Help", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Review and Publish Documents", "ShowUserGuide", "Help", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Publishing Documents to the Egenda Website", "ShowUserGuide", "Help", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Manage Reference Documents & Resources", "ShowUserGuide", "Help", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("RSS Feed", "ShowUserGuide", "Help", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3 id="question7">Uploading Meeting Documents</h3>
                <p>From the Home page top navigation. <strong class="guide_highlight">Select Upload Document</strong>.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_btn.png" />
                </div>
                <br />
                <p>You will see the following screen.</p>
                <p>This will be automatically populated with the Meeting Type and the meeting date that you are working on.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_dialog.png" />
                </div>
                <br />
                <p>Select the specific Agenda Item (from the drop-down menu) associated with the document to be uploaded.</p>
                <p>If your document is for a related item, select this item from the menu.</p>
                <p>Select <strong class="guide_highlight">Browse</strong> and navigate to the location of the document to be uploaded.</p>
                <p>Select the document and select Upload.</p>
                <p>An upload progress bar will be presented.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_prog.png" />
                </div>
                <br />
                <p>When the document has been successfully uploaded you will see the message below.</p>
            </div>
        </div>
    </div>
</div>
