﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3,h4 {
        color: cornflowerblue;
    }
     .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">User Guide</a></li>
    <li class="active"><a href="#">Support</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("Welcome to Egenda", "ShowUserGuide", "Help", new { pageNumber = 0 }, "")</li>
                            <li class="active">@Html.ActionLink("Logging in to Egenda", "ShowUserGuide", "Help", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("The System Administrator Role", "ShowUserGuide", "Help", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Setting Up Meeting Types", "ShowUserGuide", "Help", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Set Up and Manage Users", "ShowUserGuide", "Help", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Manage Meeting Calendar", "ShowUserGuide", "Help", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "ShowUserGuide", "Help", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Review and Publish Documents", "ShowUserGuide", "Help", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Publishing Documents to the Egenda Website", "ShowUserGuide", "Help", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Manage Reference Documents & Resources", "ShowUserGuide", "Help", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("RSS Feed", "ShowUserGuide", "Help", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3 id="question2">Logging in to Egenda</h3>
                <h4>For System Administrators</h4>
                <p>Your User profile will be created by Egenda in the first instance.</p>
                <p>You will receive an email asking you to LOGIN AND SET UP YOUR PASSWORD.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/reset.png" />
                </div>
                <br />
                <p>When you have set up your password you will immediately be taken to the login screen.</p>
                <h4>Log In for the First Time</h4>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/login-scshot.png" />
                </div>
                <br />
                <p>Enter User Name – Your user name is the email address that your Set Up Password Message was sent to.</p>
                <p>Enter Your Password</p>
                <p>Click Log In.</p>
                <p>You are now logged in as the <strong>Administrator</strong>.</p>
                <h4>Forgotten Password</h4>
                <p>If you have forgotten your password, click on the Forgotten Password link and follow the prompts.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/forgotpsd-scshot.png" />
                </div>
                <br />
                <p>A new temporary password will be automatically sent to your email address. When entering the temporary password you will be prompted to reset the password before proceeding.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/forgot_reset.png" />
                </div>
                </div>
        </div>
    </div>
</div>