﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3,h4 {
        color: cornflowerblue;
    }
    .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">User Guide</a></li>
    <li class="active"><a href="#">Setting Up Your Password</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("Welcome to Egenda", "ShowUserGuide", "Help", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Logging in to Egenda", "ShowUserGuide", "Help", new { pageNumber = 1 }, "")</li>
                            <li class="active">@Html.ActionLink("The System Administrator Role", "ShowUserGuide", "Help", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Setting Up Meeting Types", "ShowUserGuide", "Help", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Set Up and Manage Users", "ShowUserGuide", "Help", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Manage Meeting Calendar", "ShowUserGuide", "Help", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "ShowUserGuide", "Help", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Review and Publish Documents", "ShowUserGuide", "Help", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Publishing Documents to the Egenda Website", "ShowUserGuide", "Help", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Manage Reference Documents & Resources", "ShowUserGuide", "Help", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("RSS Feed", "ShowUserGuide", "Help", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3 id="question3">The System Administrator Role</h3>
                <p>The Administrator has blanket authority to perform all tasks in Egenda.</p>
                <p>The administrator has full rights to:</p>
                <ul>
                    <li>Create meetings, calendars and agendas</li>
                    <li>Upload new documents to be approved</li>
                    <li>View, review and download all unpublished and unapproved documents, including those uploaded by the meeting administrator and all other meeting participants.</li>
                    <li>Publish reviewed and approved documents to the board meeting website.</li>
                    <li>Remove previously approved documents, removing them from the website.</li>
                    <li>Archive documents</li>
                    <li>Create RSS feeds</li>
                    <li>Manage the reference library.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<script>
    $(document).ready(function () {
        $(".userGuide a").on('click', function () {
            var link = $(this).attr('href');
            $('html,body').animate({ scrollTop: ($(link).offset().top - 155) }, 'slow');
        });
    });
    $('label.tree-toggler').click(function () {
        $(this).parent().children('ul.tree').toggle(300);
    });
</script>




