﻿
@{
    ViewBag.Title = "User Guide";
}

<style>
    h3 {
        color: cornflowerblue;
    }
     .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">User Guide</a></li>
    <li class="active"><a href="#">Welcome to Egenda</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li class="active">@Html.ActionLink("Welcome to Egenda", "ShowUserGuide", "Help", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Logging in to Egenda", "ShowUserGuide", "Help", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("The System Administrator Role", "ShowUserGuide", "Help", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Setting Up Meeting Types", "ShowUserGuide", "Help", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Set Up and Manage Users", "ShowUserGuide", "Help", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Manage Meeting Calendar", "ShowUserGuide", "Help", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "ShowUserGuide", "Help", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Review and Publish Documents", "ShowUserGuide", "Help", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Publishing Documents to the Egenda Website", "ShowUserGuide", "Help", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Manage Reference Documents & Resources", "ShowUserGuide", "Help", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("RSS Feed", "ShowUserGuide", "Help", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3 id="question1">Welcome to Egenda</h3>
                <p>Egenda by WordFlow is the new web based solution for board papers that transforms meeting papers into fully-interactive and totally secure websites - available to authorised users anywhere, any time and on any device.</p>
                <p>With Egenda your papers are easily accessible as web pages.</p>
                <ul>
                    <li>
                        <strong>Accessible</strong><br />
                        All papers from current and past meetings are easily accessible from the website
                    </li>
                    <li>
                        <strong>Searchable</strong><br />
                        Enabling you to easily query a topic across multiple meetings with keyword search and cross referencing.
                    </li>
                    <li>
                        <strong>Mobile Optimised</strong><br />
                        Easily navigate content on a mobile device with no scrolling through long PDFs
                    </li>
                    <li>
                        <strong>Enriched</strong><br />
                        As a website you can enrich with real time information – RSS feeds, stock prices, company announcements etc.
                    </li>
                    <li>
                        <strong>Completely Secure</strong><br />
                        Iron clad physical security and robust encryption
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




