﻿@model  List<BoardsXpress.Models.MeetingViewModels>

@*meeting types*@
 <div id="meeting-types">
     <h4>Meeting Types</h4>
     <hr />
     @foreach (var item in Model)
     {
         <button class="btn" id="@item.meetingTypeId">@item.meetingType</button>
     }
</div>

<div id="delete-meetingtype" hidden>
    <div>
        <span class="glyphicon glyphicon-remove pull-right" id="cancel-deletemeeting"></span>
        <h4>Select Meetings to delete and press delete button</h4>
    </div>
    <hr />
    @foreach (var item in Model)
    {
            <button class="btn meetings" id="@item.meetingTypeId">@item.meetingType <span class="tick-meeting" hidden>&#10004;</span></button>
     
    }
    <hr />
    <p style="text-align:center;"><button class="btn btn-warning" id="deletemeeting-button">Delete</button></p>
    <br />
</div>

@*end of meeting types*@


