﻿@model  BoardsXpress.Models.MeetingViewModels
<div class="row" id="profile-container">
    <div class="col-md-4">
        @if (Model.userProfile.Avatar != null)
        {
            <img id="edit-profilepic" src="@Model.userProfile.Avatar" />
        }
        else

        {
            <img id="edit-profilepic" src="~/Media/avatar/avatar.png" />
        }
    </div>

    <div class="col-md-7">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
               @String.Format("{0} {1} {2}", Model.userProfile.FirstName,Model.userProfile.MiddleName, Model.userProfile.LastName)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Telephone</label>
            <div class="col-sm-9">
                0424882307
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                @Model.userProfile.Email
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-9">
                Campsie, NSW
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Job Position</label>
            <div class="col-sm-9">
                Software Engineer
            </div>
        </div>
        <button class="btn btn-small btn-default pull-right">Edit Profile</button>
    </div>
</div>
