﻿@model  List<BoardsXpress.Models.MeetingViewModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";
    var MeetingId = @Model.Select(s => s.meetingTypeId).FirstOrDefault();
}
<div id="load-partial">
    @Html.Partial("_MeetingTypes")
</div>


@*<script>
        $(document).on('click', '#meeting-types>button', function () {
            $('#admin-container').find('h3').html($(this).html());
            var meetingId = $(this).context.id;
            $.ajax({
                url: 'Dashboard/MeetingAdministration/' + meetingId + '',
                cache: false,
                success: function (data) { $("#load-partial").html(data); }
            });
        })
        $(document).on('click', '#adminContainer-back', function () {
            var meetingId = getMeetingID();
            $.ajax({
                url: 'Dashboard/MeetingTypes/' + meetingId + '',
                cache: false,
                success: function (data) { $("#load-partial").html(data); }
            });
        })

        $(document).on('click', '#meeting-create', function () {
            $('#meetingType-inputForm').show();
        })

        $(document).on('click', '#meeting-submit', function () {
            $.ajax({
                url: '/MeetingTypes/Create',
                type: "POST",
                datatype: "json",
                data: getInfoAsJson(),
                contentType: "application/json",
                success: function (result) {
                    location.reload();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })

        function getInfoAsJson() {
            return JSON.stringify({
                meetingType: $('#meetingType-input').val()
            });
        }

    $(document).on('click', '#delete-meeting', function () {
        $('#meeting-types').hide();
        $('#delete-meetingtype').show();
    })

    $(document).on('click', '#delete-meetingtype>button', function () {
        $(this).find('.tick-meeting').css('border', '2px solid #f58220;');
        $(this).find('.tick-meeting').toggle();
    })

    $(document).on('click', '#cancel-deletemeeting', function () {
        $('#delete-meetingtype').hide();
        $('#meeting-types').show();
        $('.tick-meeting').hide();
    })

    $(document).on('click', '#deletemeeting-button', function () {
        var meetingID=[];
        $('.tick-meeting').each(function (i) {
            if ($(this).css('display') == 'block') {
                 meetingID[i] = $(this).parent().prop('id');
            }
        })
        $.ajax({
            url: 'MeetingTypes/DeleteConfirmed',
            async: false,
            type: "POST",
            data: JSON.stringify({ "meetingTypeId": meetingID}),
            dataType: "json",
            contentType: "application/json",
            error: function (data) {             
            },
            success: function (data) {
                //$('#editModal').modal('hide');
                //$('#ajaxModal').find('#ajaxModalBody')[0].innerHTML = data.Message;
                //$('#ajaxModal').modal();
                location.reload();
            }
        });
    })

    function getMeetingID() {
        var meetingId = '@Model.Select(s => s.meetingTypeId).FirstOrDefault()';
        return meetingId;
    }

    


 </script>*@








