﻿@model  List<BoardsXpress.Models.MeetingViewModels>
@{
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";
    var meetingType = @Model.Select(s => s.meetingType).FirstOrDefault();
    var meetingTypeId = @Model.Select(s => s.meetingTypeId).FirstOrDefault();
}

@*admin page*@
<div id="admin-container">
    <span class="glyphicon glyphicon-backward" id="adminContainer-back" data-toggle="tooltip" data-original-title="Go Back" data-placement="top" style="font-size:20px;cursor:pointer;"></span>
    <h3 style="text-align:center; margin-top:-2px;">@meetingType</h3><br />
    <div class="row">
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/UserManagement';"><span class="glyphicon glyphicon-user"></span></br>Set Up and Manage Users</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/Meetings?id=@meetingTypeId'"><span class="glyphicon glyphicon-calendar"></span></br>Manage Meeting Calendar</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/AgendaItems?id=@meetingTypeId'"><span class="glyphicon glyphicon-list-alt"></span></br>Create Meeting Agenda</button>
        </div>
        <div class="col-sm-3 col-md-3 " data-popup-open="popup-3">
            <button class="bigButtons"><span class="glyphicon glyphicon-phone"></span></br>Review and Publish Documents</button>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/uploadRefDoc';"><span class="glyphicon glyphicon-file"></span></br>Manage Reference Documents and Resources</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons"><span class="glyphicon glyphicon-comment"></span></br>Manage Annotations</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons"><span class="glyphicon glyphicon-briefcase"></span></br>Manage Archives</button>
        </div>
    </div>
    </br>
</div>


<div class="popup" data-popup="popup-3">
    <div class="popup-inner">
        @using (Html.BeginForm("Index", "Publish", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h4>Select Meeting Date for @meetingType </h4>
            <br />
            <div class="form-group row">
                <select class="col-md-12" id="meetingdate-selection">
                    <option id="meetingselection-default" selected>Select</option>
                    @foreach (var item in Model)
                    {
                        <option>@item.meetingDate.ToString("MMMM dd, yyyy")</option>
                        <option hidden>@item.meetingId</option>
                    }
                </select>
            </div>
            <input id="meetingId" type="text" name="meetingId" hidden />
            <input id="meetingTypeId" type="text" name="meetingTypeId" hidden />
            <input id="meetingDate" type="text" name="meetingDate" hidden />
            <br />
            @*Action buttons*@
            <div id="custom-modalfooter">
                <input type="submit" class="btn btn-primary" id="meetingdate-submit" value="Ok">
            </div>
            <br />
            <a class="popup-close" data-popup-close="popup-3" href="#">x</a>
        }
    </div>
</div>

<script>
    $('#meetingdate-selection').change(function () {
        $('#meetingselection-default').hide();
        var meetingTypeId = '@meetingTypeId';
        var meetingId = $('#meetingdate-selection option:selected').next().val();
        var meetingDate = $('#meetingdate-selection option:selected').val();
        $('#meetingTypeId').val(meetingTypeId);
        $('#meetingId').val(meetingId);
        $('#meetingDate').val(meetingDate);
        console.log(meetingTypeId);
        console.log(meetingId);
        console.log(meetingDate);
    })
</script>