﻿@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css")

<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
</ol>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Current Meetings
            </div>
            <div class="panel-body jsTree">
                <ul>
                    <li>
                        Board Meeting
                        <ul>
                            <li>1 January, 2017</li>
                            <li>11 October, 2016</li>
                        </ul>
                    </li>
                    <li>
                        Committee Meeting
                        <ul>
                            <li>1 January, 2017</li>
                            <li>11 October, 2016</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="home-content">
                    <h1 style="text-align:center;text-decoration:underline;">Welcome to Boards Express Release 2 from WordFlow</h1></br>
                    <p>
                        Boards Express presents our board meeting papers as searchable, mobile enabled webpages, and standardises on a web platform the capture, distribution and storage of board papers, minutes and actions from meetings.
                        Your board documents are:
                    </p>
                    <ul>
                        <li>Completely secure with dual factor authentication.</li>
                        <li>Searchable, enabling you to explore a board topic across multiple meetings, to cross reference and individually annotate your board materials.</li>
                        <li>Every page – text, images, spreadsheets – instantly available and cross-linked to related information.</li>
                        <li>Accessible. All your board papers from current and past meetings are easily accessible from the website, and archives make it simple to find past papers. They are also accessible offline via an eBook option.</li>
                        <li>Optimised for mobile.</li>
                    </ul>
                    <p>We look forward to your feedback.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js")
    <script>
    $('.jsTree').jstree({
        'core': {
            "themes": {
                "icons": false,
                "dots": false
            }
        }
    });

    /*deselect parent node if it has children*/
    //$('.jsTree').on('select_node.jstree', function (e, data) {
    //    if (data.node.children.length > 0) {
    //        $('.jsTree').jstree(true).deselect_node(data.node);
    //        $('.jsTree').jstree(true).toggle_node(data.node);
    //    }
    //})

    $(".jsTree").bind("before.jstree", function (e, data) {
        if (data.func === "select_node" && !data.inst.is_leaf(data.args[0])) {
            data.inst.toggle_node(data.args[0]);
            e.stopImmediatePropagation();
            return false;
        }
    });

    </script>
}