﻿@model BoardsXpress.tblDocumentLibrary

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblDocumentLibrary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.docName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.docName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.docCreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.docCreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.docPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.docPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblAgendaItem.agendaItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblAgendaItem.agendaItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblMeeting.meetingVenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblMeeting.meetingVenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblUserProfile.UserFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblUserProfile.UserFullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.docId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
