﻿@model  List<BoardsXpress.Models.MeetingViewModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";
}

@*meeting types*@
<div id="meeting-types">
    <h3 style="text-align:center;">Meeting Types</h3>
    <hr />
    @foreach (var item in Model)
    {
        <button class="btn btn-wrap-line" title="Created on: @item.createdDate" id="@item.meetingTypeId" onclick="location.href = '/MeetingAdministration?id=@item.meetingTypeId'"><span>@((@item.useAbbreviation) ? @item.meetingAbbreviation : @item.meetingType)</span></button>
    }
</div>

<div id="delete-meetingtype" hidden>
    <div>
        <span class="glyphicon glyphicon-remove pull-right" id="cancel-deletemeeting"></span>
        <h4>Select Meetings to delete and press delete button</h4>
    </div>
    <hr />
    @foreach (var item in Model)
    {
        <button class="btn meetings" id="@item.meetingTypeId">@((@item.useAbbreviation) ? @item.meetingAbbreviation : @item.meetingType)<span class="tick-meeting" hidden>&#10004;</span></button>

    }
    <hr />
    <p style="text-align:center;"><button class="btn btn-warning btn-block" id="deletemeeting-button">Delete</button></p>
    <br />
</div>

