﻿
/* *************************************** */
/* *   Style Switcher: biggest font size * */
/* *************************************** */



body {
    font-size: 2.1em;
}

h3 {
    font-size: 2.3em;
}

h2 {
    font-size: 2.5em;
}

h1 {
    font-size: 2.7em;
}
