﻿body {
    background-color: black !important;
    color: brown !important;
}

section {
    background-color: black !important;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
em {
    color: brown !important;
}

#slideout_inner button {
    color: #444;
}
