﻿/*a {
    color: #444 !important;
    background-color: yellow !important;
}

button {
    color: #444 !important;
    background-color: yellow !important;
}

    a:hover,
    a: active,
    button:hover,
    button:active,
    button:focus,
    a:focus {
        color: yellow !important;
        background-color: #444 !important;
        border: 1px solid yellow !important;
    }*/
