﻿@*@model IEnumerable<BoardsXpress.tblRefDoc>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";
    var meetingTypeId = ViewBag.meetingTypeId;
}

<div>
    <span class="btn btn-xs btn-default" data-toggle="tooltip" data-original-title="Takes you to the admin panel" data-placement="top" onclick="location.href = '/MeetingAdministration?id=@meetingTypeId'"><< Go Back to Admin Panel</span>
    <h4 style="text-align:center;">Manage Reference Documents and Resources</h4>
    @*<button class="btn btn-warning pull-right" id="#uploadReferenceModal" data-toggle="modal" data-target="#uploadReferenceModal">Upload</button>*@
    <button class="btn btn-warning pull-right" id="#uploadReferenceModal" data-popup-open="popup-5" href="#" data-toggle="tooltip" data-original-title="Reference document upload" data-placement="bottom">Upload</button>
    <table class="table table-striped" id="sort">
        <thead class="thead-inverse">
            <tr>
                <th style="display:none">ID</th>
                <th>Document Name</th>
                <th>Document Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="display:none">@item.refDocId</td>
                    @if (!string.IsNullOrEmpty(item.webLink))
                    {
                        <td><a href="@item.fileName" target="_blank">@item.fileName</a></td>
                    }
                    else
                    {
                        <td><a href="@item.filePath">@item.fileName</a></td>
                    }
                    <td>@item.refDocName</td>
                    <td>
                        <span class="glyphicon glyphicon-trash delete" id="#delete" data-toggle="modal" data-target="#deleteModal"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="publish-documents">
        <input type="button" class="btn btn-lg btn-warning" id="publish" value="Publish" style="margin:auto;display:block" data-toggle="modal" data-target="#sucessUploadModal">
    </div>
</div>
<!--Publish Success Modal-->
<div class="modal fade" id="sucessUploadModal" tabindex="-1" role="dialog" aria-labelledby="sucessUploadModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="sucessUploadModal">Message</h4>
            </div>
            <div class="modal-body">
                <p id="successBodyText">Reference Documents Published Successfully.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary successful" id="btnCloseModal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">Delete the selected document</h4>
            </div>
            <div class="modal-body">
                <p id="deleteBodyText">Are you sure you want to delete? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="deleteRefDoc">Yes</button>
            </div>
        </div>
    </div>
</div>
</br>
</br>

@*Custom modal*@
@*@using (Html.BeginForm("uploadRefDocument", "RefDocs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {*@
<form class="form" name="refDocUpload" id="refDocUpload">
    <div class="popup" data-popup="popup-5" id="popup-5">
        <div class="popup-inner">
            @*tabs*@
            <ul class="nav nav-tabs" id="tabContent">
                <li class="active"><a href="#upload-refdoc" data-toggle="tab">Upload Reference Document</a></li>
                <li><a href="#upload-reflink" data-toggle="tab">Upload Reference Weblink</a></li>
            </ul>

            @*Upload reference Document*@
            <div class="tab-content">
                <br />
                <div class="tab-pane active" id="upload-refdoc">
                    <div class="form-group row">
                        <label for="message-text" class="col-md-4 col-form-label">Enter Document Name:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="refInput" name="pegionHoleName" placeholder="Enter name of the document to appear on your reference list." />
                            <input type="hidden" name="meetingTypeId" id="meetingTypeId" value="@meetingTypeId" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="message-text" class="col-md-4 col-form-label">Upload File:</label>
                        <div class="col-md-8">
                            <input type="file" name="file" id="refUploadFile" multiple autocomplete="off">
                        </div>
                    </div>
                </div>

                @*Upload reference weblink*@
                <div class="tab-pane" id="upload-reflink">
                    <div class="form-group row">
                        <label for="message-text" class="col-md-3 col-form-label">Enter Link Name:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="LinkName" placeholder="Enter name of the link to appear on your reference list." />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="message-text" class="col-md-3 col-form-label">Insert Link:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="weblinkTitle" placeholder="Insert the link to the site (starting with https://www.)" />
                        </div>
                    </div>
                </div>
            </div>

            @*Action buttons*@
            <div id="custom-modalfooter">
                <!--Progress bar section-->
                <br />
                <div class="progress" style="display:none; margin-top:10px;">
                    <div class="progress-bar progress-bar-striped">Uploading file...</div>
                </div>
                <div id="status"></div>

                <br />
                <button data-popup-close="popup-5" class="btn btn-default pull-left">Cancel</button>
                <button type="submit" class="btn btn-primary pull-right" value="Upload" id="startUpload">Upload</button>
            </div>
            <a class="popup-close" data-popup-close="popup-5" href="#">x</a>
        </div>
    </div>
</form>

@*}*@


<div class="modal fade" id="referenceDocModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="sucessUploadModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                    <p id="referenceDocModalMessage" class="text-center"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="manageDocResponse" data-success="false" class="btn btn-primary successful">Ok</button>
                </div>
            </div>
       
    </div>
</div>
<script src="~/Scripts/Custom/uploadRefDoc.js"></script>
<script>
    $('#btnCloseModal').click(function () {
        $('#sucessUploadModal').modal('hide');
    });
</script>