﻿@model List<BoardsXpress.Models.RefDocViewModel>
@{
    ViewBag.Title = "Reference Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string tempData = string.Empty;
}
@Styles.Render("~/Content/jsTree/themes/default/style.min.css")
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#"><span>Reference Documents and Resources</span></a></li>
</ol>
    <div class="row">
        <div class="col-md-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree">
                    @foreach (var item in Model)
                    {
                        if (tempData != item.meetingType)
                        {
                            <li>@item.meetingType</li>
                            tempData = item.meetingType;
                        }

                        <li><a href="#" onclick="loadHtmlData('@item.refDocId')">@item.refDocName</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-9 main-container">
            <div id="HtmlContainer">

            </div>
        </div>
    </div>
    <script>
        function loadHtmlData(refDocId) {
            $.ajax({
                url: '/RefDocs/loadHtmlData',
                type: "POST",
                data: JSON.stringify({ "refDocId": refDocId }),
                contentType: "application/json",
                success: function (result) {
                    if (!result) {
                        return;
                    }

                    if (result.Data.isHtml == true) {
                        $('#HtmlContainer').html(result.Data.msg);
                    }
                    else {
                        if (result.Data.msg.includes('http') == false) {
                            var exists = urlExists('https://' + result.Data.msg);
                            
                            result.Data.msg = ((exists) ? 'https://' : 'http://') + result.Data.msg;
                        }
                        var win = window.open(result.Data.msg, '_blank');
                        win.focus();
                    }
                },
                error: function (error) {

                }
            });
        }

        function urlExists(url, callback) {
            $.ajax({
                type: 'HEAD',
                url: url,
                success: function () {
                    callback(true);
                },
                error: function () {
                    callback(false);
                }
            });
        }
    </script>
