﻿@model BoardsXpress.tblUserGroup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblUserGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.groupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.groupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.readAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.readAccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.writeAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.writeAccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fullAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fullAccess)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.groupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
