﻿@model IEnumerable<BoardsXpress.Entities.tblUserGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.groupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.readAccess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.writeAccess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullAccess)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.groupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.readAccess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.writeAccess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullAccess)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.groupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.groupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.groupId })
        </td>
    </tr>
}

</table>
