﻿/*set cursor pointer for dashboard navs*/
.dashboard-leftmenu>ul>li {
    cursor:pointer;
}

/* Dashboard nav icon font size*/
.dashboard-leftmenu>ul>li>a>i {
    font-size:18px;
    color:black;
}

/*Dashboard nav items spacing*/
.dashboard-leftmenu>ul>li>a>span {
    padding-left: 8px;
    color:black;
}

/*Dashboard submenu*/
.dashboard-leftmenu>ul>li>ul>li{
    padding-bottom:12px;
    margin-left:10px;
    
}

.dashboard-leftmenu>ul>li>ul{
    list-style-type:none;
}

/*Dashboard submenu hover*/
.dashboard-leftmenu>ul>li>ul>li:hover{
    background-color:#ef4123;
}

/*frame for profile pic*/
#edit-profilepic{
  border: 6px solid #f5f5f5;
  padding: 10px;
}

/*Meeting Administration*/
#meeting-types button, .meetings{
    font-size:18px;
    width:200px;
    background-color:#ffffff;
     position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 50px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 50px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

#meeting-types button:before, #meeting-types button:after, .meetings:before, .meetings:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
#meeting-types button:after, .meetings:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

    #meeting-types button:hover, .meetings:hover {
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 50px #ef4123 inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 50px #ef4123 inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.8), 0 0 50px #ef4123 inset;
     
    }
/*Meeting Types heading*/
#meeting-types h4,  #delete-meetingtype h4{
    text-align:center;
}

/*padding for cancel sign and the header*/
#delete-meetingtype>div{
    padding:10px;
}

/*background for delete meeting*/
#delete-meetingtype{
    background:rgba(0,0,0,0.75);
}

/*Delete meeting header color*/
#delete-meetingtype h4{
    color:white;
}

/*meeting types display*/
#meeting-types>button, #delete-meetingtype>button{
    margin:5px;
    white-space:normal;
    height:126px;
}

/*meeting types text*/
#meeting-types p, #delete-meetingtype p  {
   font-size:40px;
}

/*cancel the delete meeting section*/
#cancel-deletemeeting{
    color:white;
    font-size:20px;
    font-weight:300;
    cursor:pointer;
}

.meetings{
    position: relative;
}

.tick-meeting{
    position:absolute;
    top:0;
    font-size:18px;
}

/*#meetingdate-selection,#selectMeetingDate{
  border-radius: 20px;
    width: 352px;
    height: 50px;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
}*/
