﻿/*Include Levenim font*/
/*@font-face {
  font-family: "Levenim";
  src: url("../fonts/Levenim-MT.ttf") format('truetype');
}*/

/*Apply Levenim font*/
/*body {
    font-family:"Levenim" !important;
    font-size:16px;
}*/

/*Fixes the movement of the body movement on for now*/
.modal-open, .modal-open .navbar-fixed-top {
  margin-right: 0 !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: -20px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*Navigation height header and footer*/
.navbar-default {
    background-color: #414042;
    background-image: none;
    background-repeat: no-repeat;
}
/*Main Navigation*/
.navbar-fixed-top {
    background-image: linear-gradient(to bottom, #3B62AB, #30508E);
    border-bottom: 1.5px solid #dddddd;
    padding: 0px 12px;
}

/*Navigation text*/
.navbar-nav > li > a, .dropdown-toggle {
    color:#ffffff !important;
}

/*drop down focus color*/
.dropdown a:focus{
    background-color:#414042 !important;
}

.dropdown-menu{
    margin-top:26px !important;
}

/*user name */
#user-name {
    background-color:#ef4123;
    padding:10px;
      border-radius: 4px;
}

/*caret color*/
.nav .caret, .nav a:hover .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

/*Header logo*/

    #logo {
        padding-top: 6px;
        /* padding-right: 30px; */
        height: 50px;
    }


@media screen and (min-width: 1680px) {
    #logo {
        height:50px;
        padding-bottom:4px;
    }
    .main-nav {
        padding-left:10px;
    }
}


/*Footer*/
footer{
  background-color: #ffffff !important;
  border-top: 1px solid #dddddd !important;
}

/*Footer image*/
footer img {
    height: 58px;
    padding-top: 1px;
    padding-bottom: 3px;
    margin-right:50px;
}

/*override bootstrap padding of the container*/
/*.container {
    padding: 0px;
}*/

/*override the padding of the breadcrumb*/
.breadcrumb {
    position:fixed;
    width:98%;
    margin-top:25px;
    padding: 4px 15px;
    z-index:1;
}

.main-container {
    padding-top:68px;
}

/*Home Content*/
/*#home-container {
    margin-top:60px;
}*/

/*override panel heading*/
.panel-heading {
    padding: 5px 15px;
}

/*search*/
#rightnav-search {
    margin-top:12px;
    height:40px;
    border-radius:20px;
}
    #rightnav-search > div {
    padding: 10px 10px;
    }
#rightnav-search input{
  border: 0;
  outline: 0;
  background: transparent;
  color:#ffffff !important;
}


/*normal search container*/
.normalsearch-container {
    margin-top:-8px;
    height:40px;
    border: 1px solid gray;
    border-radius:20px;
}

/*normal search input*/
    .normalsearch-container > input {
    padding-left:12px;
    }

/*normal search*/
#normal-search {
    color:#ffffff;
    padding-top:8px;
    padding-right:10px;
    cursor:pointer;
}

/*Advanced search container*/
.advancedsearch-container {
    margin-left:15px;
    margin-top:-6px;
    border: 1px solid gray;
    border-radius:15px;
}

/*advanced search*/
#advanced-search { 
  color:#ffffff;
  cursor:pointer;
  padding:10px;
}


/*search divider*/
#search-divider {
    color: #fff;
    position:relative;
    top:1px;
}

/*user profile*/
#user-profile {
padding-top:22px;
}

#user-profile>ul {
margin-left:-35px !important;
}

#user-profile img{
    height:50px;
    border-radius:50%;   
    border: 0.5px solid black;
}

#user-profile li{
    list-style-type:none;  
}
#user-profile li a:hover, #user-profile li a:focus{
    text-decoration:none;
}


/*padding of group of buttons*/
#rightnav-menu {
    padding-top:10px;
}
#user-profile ul{
    margin:0;
}

/*user logout*/
#logout span{
    padding-right:10px;
}

#logout{
    cursor:pointer;
}

/*file upload*/
#file-upload{
    padding-right:6px;
    padding-top:14px;
}

#file-upload >button{
    height:36px;
    padding:6px 4px !important;
}

/*navigation items color*/
.nav>li>a:hover, .nav>li>a.active{
    background-color:#ef4123 !important;
    color:#ffffff !important;
}

/*change hover height on big screen*/
/*@media (min-width: 850px) {
    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
        height: 68px;
    }
}*/

.main-nav {
    margin-top:8px;
}

/*jstree clicked anchor color*/
.jstree-default .jstree-clicked, .jstree-hovered {
    color:#ffffff !important;
    background-color: #ef4123 !important;
}


/*Login forms*/
.login {
  width: 400px;
  margin: 0px auto;
  font-size: 16px;
}
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #414042;
}
.login-header {
  background: #414042;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.login-container {
  background: #ebebeb;
  padding: 12px;
}
.login p {
  padding: 12px;
}
.login input {
  box-sizing: border-box;
  display: block;		
  width: 100%;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.login input[type="text"],
.login input[type="password"],
.login input[type="email"],
.login input[type="tel"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}
.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}
.login input[type="button"],
.login input[type="submit"] {
  background: #414042;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
.login input[type="button"]:hover,
.login input[type="submit"]:hover {
  color:#ffffff;
  background: #ef4123;
}
.login input[type="button"]:focus,
.login input[type="submit"]:focus {
  border-color: #05a;
}

.form-module .login-form {
  display: none;
 
}
.form-module .login-form:nth-child(2) {
  display: block;
}

/*Committee selection*/
#committeeSelection{
    border-radius: 20px;
    width: 352px;
    height: 50px;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
}

/*panel default color set to wordflow theme*/
.panel-default > .panel-heading {
    color:#ffffff;
    background-color: #414042;
}


/*for popup tab header*/
#tabContent >li.active>a {
    background-color: #ef4123;
    color:#000;
}
/**upload container css*/
/* Outer */
.popup {
    z-index:2;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    padding:5px 20px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    text-align:center;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

/*Drop down bootstrap override*/
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #ef4123 !important;
}

.dropdown-menu ul li a:hover{
    background-color: #ef4123 !important;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #ef4123;
}


.btn-warning {
    background-color: #ef4123;
}


.btn-warning:hover{
    background-color:#ef4123;
}


/*admin from Egenda 1*/
/*Admin Panel*/
.bigButtons{
	height: 150px !important;
    width: 150px !important;
    font-size:15px !important;
    word-break: break-word !important;
    border-radius: 20px !important;
    background-color: white !important;
    border: 2px solid #3F51B5 !important;
    outline : none !important;
    transition: all .2s ease-in-out;
}

.bigButtons:hover { 
    transform: scale(1.03); 
    background-color: #28d !important;
    color:white !important;
}

.bigButtons .glyphicon {
    font-size:35px;
}

/*@media screen and (max-width: 458px){
    .bigButtons {
        width: 260px !important;
        margin-bottom:10px;
    }
    
    .adminContainer{
        margin-top:120px;
    }	
}

@media screen and (min-width: 459px) and (max-width: 900px){
    .bigButtons {
        width: 160px !important;
        margin-bottom:10px;
    }	
}*/

/*Directory*/
.directory .glyphicon, .directory .fa {  
    margin-bottom: 10px;
    margin-right: 10px;
}

.directory small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.directory img{
    height:154px;
}

#meetingNav, #meetingNav ul {
    list-style-type:none;
    padding:6px 6px 6px 14px;
}

/*#meetingNav ul li {
    padding:2px;
}*/

/*#meetingNav ul li:before {
     content: "\f0a4"; 
  font-family: FontAwesome;
  display: inline-block;
  width: 1.3em; 
}

#meetingNav ul li:hover {   
   background-color: #ef4123;
   cursor:pointer;
}    

#meetingNav ul li a {
   text-decoration:none;
}

#meetingNav ul li a:hover, #meetingNav ul li a {
  color:#000;
}*/


.sidebars{
    background-color:#414042 !important;
    color:#f3dbb7;
}

.sidebars>ul>li>ul{
   list-style-type:disc;
}

.sidebars>ul>li>ul a:hover{
  text-decoration:none;
}

.sidebars>ul>li>a, .sidebars>ul>li>ul>li>a, .sidebars>ul>li>ul>li>ul>li>a{
    color:white !important;
}

.sidebars>ul>li>a:hover, .sidebars>ul>li>ul>li>a:hover, .sidebars>ul>li>ul>li>ul>li>a:hover,
.sidebars>ul>li>ul>li>a:visited, .sidebars>ul>li>ul>li>ul>li>a:visited{
	background-color:#ef4123 !important;
}

.sidebars>li>ul>li>a:visited{
    background-color:#ef4123 !important;
}

.sidebars>ul>li>a:visited{
    background-color:#414042;
}


@media (min-width: 850px) { 
  .sidebars{
    position: fixed;
    overflow-y: auto;
    top: 118px;
    bottom: 0px;
    width:20%;
  } 
}

/*Mobile screen size responsiveness*/
@media (max-width: 480px) {

    /*align breadcrumb*/
    .breadcrumb {
        margin-top:18px;
        width:92%;
    }
    /*align sidebar*/
    .sidebars {
        margin-top:58px;
    }

    /*center align meeting types*/
    #meeting-types, .admin-buttons {
        text-align:center;
    }

    /*space after each button*/
    .admin-buttons > div {
        margin-bottom:20px;
    }

    /*hide rightmenu*/
    .navbar-right {
        display:none;
    }

    /*display mobile navigation right menu*/
    #nav-mob {
        display:block;
    }

    /*align the position of the user profile*/
    #user-profile {
        margin-left:-40px;
    }

    /*align the search*/
    #rightnav-search {
        margin-left:-12px;
    }

    /*align the drop down menu*/
    .dropdown-menu {
        margin-top:7px !important;
    }/*end of mobile right nav menu*/  
}

/*User management and User attendees*/
#userManagementTabs >li {
   float:none;
   display:inline-block;
}

#userManagementTabs{
    text-align:center;
}

/*internation phone number*/
.intl-tel-input{
    display:block !important;
}

/*Hide google banner*/
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
/*avoid google translated content take margin*/
body {
    top: 0px !important; 
    }
.Title,.TitleChar{
    font-size:18px;
}
.Subject{
    font-size:14px;
}

.profile-container {
    border: 2px solid grey;
    border-radius:20px;
}

.annotator-hl{
    background:rgba(244, 241, 66, 1) !important;
}

.glyphicon:hover{
        cursor:pointer;
}

#doc-state{
border:1px solid black;
padding: 6px;
border-radius: 4px;
}


.btn-primary, .btn-primary:hover,.btn-primary:focus {
    color: #ffffff;
    background-color: #ef4123;
    border-color: #eea236;
}
.Heading2unnumbered,.Heading3unnumbered{
    font-weight:bold;
}

#meeting-types>button {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
}
 
/* Spacing */
.mr-5 {
    margin-right: 5px;
}

.mt-7 {
    margin-top: 7px;
}

.mt-10 {
    margin-top: 10px;
}

.mlr-15 {
    margin: 0px 15px 0px 15px;
}

.m-25 {
    margin: 25px;
}

.pt-10 {
    padding-top: 10px;
}

.p-25 {
    padding: 25px;
}

.p-50 {
    padding: 50px;
}

/* jQuery.Form validation message */
label.error {
    color: red !important;
}

/* Tables */
.table .left-border {
    border-left: solid 3px #888;
}

.table .w-97 {
   float: right; 
   width: 97%;
}

@media (min-width: 1228px) {
    /* Sidebar */
    .sidebar {
        position: fixed;
        top: 116px;
        bottom: 0px;
        left: 15px;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #414042;
        border-right: 1px solid #eee;
    }

    .sidebar-right {
        position: fixed;
        top: 116px;
        bottom: 0px;
        right: 15px;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #ffffff;
        border-left: 1px solid #ccc;
    }
}

@media (max-width: 1228px) {
    /* Sidebar */
    .sidebar {
        position: fixed;
        top: 162px;
        bottom: 0px;
        left: 15px;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #414042;
        border-right: 1px solid #eee;
    }

    .sidebar-right {
        position: fixed;
        top: 162px;
        bottom: 0px;
        right: 15px;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #ffffff;
        border-left: 1px solid #ccc;
    }

    .main-container {
        margin-top: 45px !important;
    }

    .breadcrumb {
        margin-top: 71px !important;
    }
}

@media (max-width : 765px) {
    /* Sidebar */
    .sidebar {
        z-index: 1000;
        padding: 20px;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #414042 !important;
        border: none;
        position: inherit;
        left: 15px;
        z-index: 1000;
        display: block;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .sidebar-right {
        position: inherit;
        margin-bottom: 0px;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #ffffff;
        border-left: none;
        border-top: 1px solid #ccc;
    }

    .main-container {
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    .breadcrumb {
        margin-top: 25px !important;
        position: inherit;
        right: 0px;
        width: 100%;
        height: 37px;
    }
}