﻿@model BoardsXpress.Models.PublishViewModel

<script src="~/Scripts/bootstrap-toggle.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script>
    $("input[type='checkbox']").unbind().change(function () {
        var parentRow = $(this).closest('tr#row');

        var changedItem = parentRow.find('td[data-column="docId"]').text();
        var itemState = $(this).is(':checked');
        var identifyHeader = $(this).hasClass('data1');
        var changedHeader;

        if (identifyHeader) {
            changedHeader = 'Review';
        } else {
            changedHeader = 'Approve';
        }

        $.ajax({
            url: '/Publish/updateReview',
            type: "POST",
            async: false,
            datatype: JSON,
            data: JSON.stringify({
                "review": changedHeader,
                "status": itemState,
                "docId": parentRow.find('td[data-column="docId"]').text(),
                "meetingId": parentRow.find('td[data-column="meetingId"]').text(),
                "agendaItemId": parentRow.find('td[data-column="agendaItemId"]').text(),
                "agendaItemRelatedId": parentRow.find('td[data-column="relatedItemId"]').text()
            }),
            contentType: "application/json",
            success: function (result) {
            },
            error: function (error) { }
        });
    });
</script>

<link rel="stylesheet" href="~/Content/bootstrap-toggle.css" />

@{
    string review = string.Empty;
    string approve = string.Empty;
}

<h5 class="pull-right" id="doc-state">
    Status
    @if (Model.status == "Draft")
    {

        <span class="label-danger" style="padding:4px;">@Model.status</span>
    }
    else
    {
        <label class="label-success" style="padding:4px;">@Model.status</label>
    }
</h5>



<table class="table table-striped docTable" id="sort" name="tblDocRep">
    <thead class="thead-inverse">
        <tr>
            <th style="display:none">ID</th>
            <th style="display:none">meetingID</th>
            <th style="display:none">agendaItemId</th>
            <th style="display:none">relatedItemId</th>
            <th>Agenda Item</th>
            <th>Document Name</th>
            <th>Submitted By</th>
            <th>Date Submitted</th>
            <th>CEO Review</th>
            <th>Chair Review</th>
            <th>Restrict Printing</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AgendaItemsViewModelList.OrderBy(x => x.itemOrder))
        {
            if (item.PublishItemViewModel != null)
            {
        <tr id="row" data-order="@item.itemOrder" class="contentRow">
            <td data-column="docId" style="display:none">@item.PublishItemViewModel.docId</td>
            <td data-column="meetingId" style="display:none">@item.meetingId</td>
            <td data-column="agendaItemId" style="display:none">@item.agendaId</td>
            <td data-column="relatedItemId" style="display:none"></td>
            <td data-column="agendaItem">@item.PublishItemViewModel.agendaItem</td>
            <td data-column="docName"><a href='@item.PublishItemViewModel.docPath' target='_blank'>@item.PublishItemViewModel.docName</a></td>
            <td data-column="publisher">@item.PublishItemViewModel.publisher</td>
            <td data-column="docCreatedDate">@item.PublishItemViewModel.docCreatedDate.ToString("dd/MM/yyyy")</td>

            @if (item.PublishItemViewModel.review)
    {
        review = "checked";
    }
            <td id="chk">
                <label class="checkbox-inline">
                    <input type="checkbox" class="data1" @review data-on="complete" data-off="pending" data-toggle="toggle">
                </label>
            </td>

            @if (item.PublishItemViewModel.approve) { approve = "checked"; }

            <td>
                <label class="checkbox-inline">
                    <input type="checkbox" class="data2" @approve data-on="complete" data-off="pending" data-toggle="toggle">
                </label>
            </td>
            <td>
                <div class="col-sm-2" style="position: relative;left: 21px;bottom: 5px;">

                    <div class="checkbox">

                        <label class="checkbox checkbox-bootstrap checkbox-lg">
                            <input id="printRestriction" name="printRestriction" disabled type="checkbox" value="true" @(item.PublishItemViewModel.printRestriction ? "checked=\"checked\"" : "") style="width: 25px;height: 20px;" />
                            <span class="checkbox-placeholder"></span>
                        </label>
                    </div>
                </div>
                @*<div class="checkbox">

                <label class="checkbox checkbox-bootstrap checkbox-lg">
                    <input id="printRestriction" name="printRestriction" disabled type="checkbox" value="true" @(item.PublishItemViewModel.printRestriction ? "checked=\"checked\"" : "") />
                    <span class="checkbox-placeholder"></span>

                </label>

            </div>*@

            </td>
            <td>
                <a class="btn btn-sm btn-default delete" id="#delete" data-toggle="modal" data-target="#deleteModal" role="button"><span class="glyphicon glyphicon-trash"></span> Remove</a>
            </td>
            @if (item.PublishItemViewModel.draftMinutesItem == true)
            {
            <td style="display:none" data-column="draftMinutesItem"><input id="draftMinutesItem" type="hidden" value="@item.PublishItemViewModel.draftMinutesItem.ToString()"></td>
            }
        </tr>
                approve = string.Empty;
                review = string.Empty;
            }
            else
            {
                <tr id="row" data-order="@item.itemOrder">
                    <td data-column="docId" style="display:none"></td>
                    <td data-column="meetingId" style="display:none">@item.meetingId</td>
                    <td data-column="agendaItemId" style="display:none">@item.agendaId</td>
                    <td data-column="relatedItemId" style="display:none"></td>
                    <td data-column="agendaItem" colspan="7">@item.agendaName</td>
                </tr>
            }

            if (item.AgendaItemsRelatedList.Any())
            {
                <tr class="relatedItems">
                    <td colspan="9">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        <table class="table table-condensed table-striped left-border w-97" id="sort">
                            <thead class="thead-inverse">
                                <tr>
                                    <th style="display:none">ID</th>
                                    <th style="display:none">meetingID</th>
                                    <th style="display:none">agendaItemId</th>
                                    <th style="display:none">relatedItemId</th>
                                    <th>Related Item</th>
                                    <th>Document Name</th>
                                    <th>Submitted By</th>
                                    <th>Date Submitted</th>
                                    <th>CEO Review</th>
                                    <th>Chair Review</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var relatedItem in item.AgendaItemsRelatedList)
                                {
                                    if (relatedItem.PublishItemViewModel != null)
                                    {
                                        <tr id="row" data-order="@relatedItem.itemOrder" class="contentRow">
                                            <td data-column="docId" style="display:none">@relatedItem.PublishItemViewModel.docId</td>
                                            <td data-column="meetingId" style="display:none">@item.meetingId</td>
                                            <td data-column="agendaItemId" style="display:none">@item.agendaId</td>
                                            <td data-column="relatedItemId" style="display:none">@relatedItem.Id</td>
                                            <td data-column="agendaItem">@relatedItem.PublishItemViewModel.agendaItem</td>
                                            <td data-column="docName"><a href='@relatedItem.PublishItemViewModel.docPath' target='_blank'>@relatedItem.PublishItemViewModel.docName</a></td>
                                            <td data-column="publisher">@relatedItem.PublishItemViewModel.publisher</td>
                                            <td data-column="docCreatedDate">@relatedItem.PublishItemViewModel.docCreatedDate.ToString("dd/MM/yyyy")</td>

                                            @if (relatedItem.PublishItemViewModel.review)
                                            {
                                                review = "checked";
                                            }
                                            <td id="chk">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" class="data1" @review data-on="complete" data-off="pending" data-toggle="toggle" onchange="changeCheckboxState(this);">
                                                </label>
                                            </td>

                                            @if (relatedItem.PublishItemViewModel.approve) { approve = "checked"; }

                                            <td>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" class="data2" @approve data-on="complete" data-off="pending" data-toggle="toggle" onchange="changeCheckboxState(this);">
                                                </label>
                                            </td>
                                            <td>


                                                <div class="col-sm-2" style="position: relative;left: 21px;bottom: 5px;">
                                                    <div class="checkbox">
                                                        <label class="checkbox checkbox-bootstrap checkbox-lg">
                                                            <input id="printRestriction" name="printRestriction" disabled type="checkbox" value="true" @(relatedItem.PublishItemViewModel.printRestriction ? "checked=\"checked\"" : "") style="width: 25px;height: 20px;" />
                                                            <span class="checkbox-placeholder"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-default delete" id="#delete" data-toggle="modal" data-target="#deleteModal" role="button"><span class="glyphicon glyphicon-trash"></span> Remove</a>
                                            </td>
                                        </tr>
                                        approve = string.Empty;
                                        review = string.Empty;
                                    }
                                    else
                                    {
                                        <tr id="row" data-order="@relatedItem.itemOrder">
                                            <td data-column="docId" style="display:none"></td>
                                            <td data-column="meetingId" style="display:none">@item.meetingId</td>
                                            <td data-column="agendaItemId" style="display:none">@relatedItem.AgendaItemId</td>
                                            <td data-column="relatedItemId" style="display:none">@relatedItem.Id</td>
                                            <td data-column="agendaItem" colspan="7">@relatedItem.Name <span class="label label-info">No document attached for this agenda item</span></td>
                                        </tr>
                                    }

                                    approve = string.Empty;
                                    review = string.Empty;
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
<div class="publish-documents" style="text-align:center;">
    <input type="submit" class="btn btn-primary" id="publish" value="Publish">
</div>


