﻿@model  BoardsXpress.Models.PublishViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";

    string review = string.Empty;
    string approve = string.Empty;
}

<div>
    <span id='MeetingTypesID' hidden>@Model.meetingTypeId</span>
    <span id='currentMeetingId' hidden>@Model.meetingId</span>

    <span class="btn btn-xs btn-default" data-toggle="tooltip" data-original-title="Takes you to the admin panel" data-placement="top" onclick="location.href = '/MeetingAdministration?id=@Model.meetingTypeId'"><< Go Back to Admin Panel</span>
    <h4 style="text-align:center;">
        Document Repository for @Model.meetingTypeName <br /><br />
        <label>@Model.meetingDate</label>

    </h4>

    <div id="publishedDocumentsList"></div>

</div>

<!--unchecked Modal-->
<div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="checkModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="checkModal">Warning</h4>
            </div>
            <div class="modal-body">
                <p id="deleteBodyText">Please make sure all are reviewed and finalized</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>


<!--publish Modal-->
<div class="modal fade" id="publishModal" tabindex="-1" role="dialog" aria-labelledby="publishModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="publishModal">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p id="deleteBodyText">Are you sure you would like to publish?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="yesPublish">Yes</button>
            </div>
            <!--Upload file-->
            <div>
                <!--Progress bar section-->
                <div class="progress" style="display:none; margin-top:10px;">
                    <div class="progress-bar progress-bar-striped">0%</div>
                </div>
                <div id="status"></div>
            </div>
        </div>
    </div>
</div>

<!--publish Modal Draft Minutes-->
<div class="modal fade" id="publishModalDraftMinutes" tabindex="-1" role="dialog" aria-labelledby="publishModalDraftMinutes" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="publishModalDraftMinutes">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p id="deleteBodyText">You are also publishing the Draft Minutes. Are you sure you would like to publish?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="yesPublishDraftMinutes">Yes</button>
            </div>
            <!--Upload file-->
            <div>
                <!--Progress bar section-->
                <div class="progress" style="display:none; margin-top:10px;">
                    <div class="progress-bar progress-bar-striped">0%</div>
                </div>
                <div id="status"></div>
            </div>
        </div>
    </div>
</div>

<!--progress modal-->
<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="progressModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="progressModal">Processing</h4>
            </div>
            <div class="modal-body">
                <div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>
            </div>
        </div>
    </div>
</div>

<!--Success Modal-->
<div class="modal fade" id="sucessModal" tabindex="-1" role="dialog" aria-labelledby="sucessModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="sucessModal">Message</h4>
            </div>
            <div class="modal-body">
                <p id="successBodyText">The documents are published and released </p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary successful">Ok</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">Delete the selected document</h4>
            </div>
            <div class="modal-body">
                <p id="deleteBodyText">Are you sure you want to delete? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="deleteRepo">Yes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Custom/publish.js"></script>

<script>
    //track page leave event and then update the order of the document
    window.onbeforeunload = function (e) {
        //e.preventDefault();
        var Attdocs = [];
        $(".docTable tr:gt(0)").each(function () {
            var value = $(this).find("td:nth-child(0)").text();
            Attdocs.push(value);
        });
        $.ajax({
            url: '/DocumentLibraries/updateDocOrder',
            async: false,
            type: "POST",
            data: JSON.stringify({ "documents": Attdocs }),
            dataType: "json",
            contentType: "application/json",
            error: function (data) {
                console.log(data);
                //alert(data.Message);
            },
            success: function (data) {
                //window.location.href = window.location.href;
                window.location.reload();
            }
        });
        return null;
    }
</script>