﻿@model BoardsXpress.Models.AgendaViewModel

<table class="table" id="sort" name="tblDocRep">
    <thead class="thead-inverse">
        <tr>
            <th class="text-nowrap text-center">Order</th>
            <th style="display:none">ID</th>
            <th style="display:none">Meeting ID</th>
            <th style="display:none">Meeting Type Id</th>
            <th class="text-center">Item</th>
            <th width="50%">Agenda Item Name</th>
            <th style="display:none">Parent Agenda Id</th>
            <th width="50%" class="text-nowrap text-center">Recurring Item</th>
            <th hidden>Related Item #1</th>
            <th hidden>Related Item #2</th>
            <th hidden>Related Item #3</th>
            <th hidden>Related Item #4</th>
            <th class="text-nowrap text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AgendaItemsViewModelList)
        {
        <tr id="row" class="@(item.itemOrder % 2 != 0 ? "" : "active")" data-item-order="@item.itemOrder">
            <td class="text-nowrap text-center">
                <a class="btn btn-xs btn-default btnUpDown" role="button" data-action="up"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>
                <a class="btn btn-xs btn-default btnUpDown" role="button" data-action="down"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
            </td>
            <td data-column="agendaId" style="display:none">@item.agendaId</td>
            <td data-column="meetingId" style="display:none">@item.meetingId</td>
            <td data-column="meetingTypeId" style="display:none">@item.meetingTypeId</td>
            <td class="text-center"><strong>@item.itemOrder</strong></td>
            <td data-column="agendaName">@item.agendaName</td>
            <td data-column="parentAgendaId" style="display: none;">@item.parentAgendaId</td>
            <td data-column="agendaRecurringItem" class="text-center"><input type="checkbox" @Html.Raw(@item.recurringItem ? "checked" : "") disabled /></td>
            <td data-column="attachedItem" style="display:none">@item.attachedItem</td>
            <td data-column="attachedItem1" style="display:none">@item.attachedItem1</td>
            <td data-column="attachedItem2" style="display:none">@item.attachedItem2</td>
            <td data-column="attachedItem3" style="display:none">@item.attachedItem3</td>
            <td class="text-nowrap text-center">
                <a class="btn btn-sm btn-primary btnAgendaItemRelated" role="button" data-action="add" data-toggle="modal" data-target="#agendaItemRelatedModal"><span class="glyphicon glyphicon-plus"></span> Add Related Item</a>
                <a class="btn btn-sm btn-default btnAgendaItem" data-action="edit" data-toggle="modal" data-target="#addPigeon" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a class="btn btn-sm btn-default btnDeleteAgendaItem" data-toggle="modal" data-target="#deleteModal" role="button"><span class="glyphicon glyphicon-trash"></span> Remove</a>
            </td>
        </tr>
            if (item.AgendaItemsRelatedList.Count > 0)
            {
                <tr>
                    <td colspan="11">
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        <table class="table table-condensed table-striped left-border w-97">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="text-nowrap text-center">Order</th>
                                    <th style="display:none">Meeting Id</th>
                                    <th style="display:none">ID</th>
                                    <th style="display:none">Agenda Item ID</th>
                                    <th class="text-center">Item</th>
                                    <th width="50%">Related Item Name</th>
                                    <th width="50%" class="text-nowrap text-center">Recurring Item</th>
                                    <th class="text-nowrap text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var relatedItem in item.AgendaItemsRelatedList)
                                {
                                    <tr id="row" data-item-order="@relatedItem.itemOrder">
                                        <td class="text-nowrap text-center">
                                            <a class="btn btn-xs btn-default btnUpDown" role="button" data-action="up"><span class="glyphicon glyphicon-circle-arrow-up"></span></a>
                                            <a class="btn btn-xs btn-default btnUpDown" role="button" data-action="down"><span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                                        </td>
                                        <td data-column="meetingId" style="display:none">@item.meetingId</td>
                                        <td data-column="id" style="display:none">@relatedItem.Id</td>
                                        <td data-column="agendaItemId" style="display:none">@relatedItem.AgendaItemId</td>
                                        <td class="text-center"><strong>@String.Format("{0}.{1}", item.itemOrder, relatedItem.itemOrder)</strong></td>
                                        <td width="50%" data-column="name" width="100%">@relatedItem.Name</td>
                                        <td width="50%" data-column="recurringItem" class="text-center"><input type="checkbox" @Html.Raw(relatedItem.recurringItem ? "checked" : "") disabled /></td>
                                        <td class="text-nowrap text-center">
                                            <a class="btn btn-sm btn-default btnAgendaItemRelated" id="btnEditAgendaItemRelated" data-action="edit" data-toggle="modal" data-target="#agendaItemRelatedModal" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                                            <a class="btn btn-sm btn-default btnDeleteAgendaItemRelated" id="btnDeleteAgendaItemRelated" data-action="delete" data-toggle="modal" data-target="#deleteModal" role="button"><span class="glyphicon glyphicon-trash"></span> Remove</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
