﻿@model  BoardsXpress.Models.AgendaViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";
}
<span id='MeetingTypesID' hidden>@Model.meetingTypeId</span>
<span id='_meetingId' hidden>@Model.meetingId</span>
<div>
    <span class="btn btn-xs btn-default" data-toggle="tooltip" data-original-title="Take you to the admin panel" data-placement="top" onclick="location.href = '/MeetingAdministration?id=@Model.meetingTypeId'"><< Go Back to Admin Panel</span>
    <h4 style="text-align:center;">Meeting Agenda for @Model.AgendaItemsViewModelList.Select(s => s.meetingType).FirstOrDefault() - @ViewBag.meetingDate.ToString("dd MMMM, yyyy")</h4>
    <button data-toggle="modal" data-target="#addPigeon" data-action="add" class="btn btn-primary pull-right pigeon btnAgendaItem">Add agenda item</button>

    <div id="agendaItemsList"></div>
</div>

<!-- Agenda modal -->
<div class="modal fade" id="addPigeon" tabindex="-1" role="dialog" aria-labelledby="addPigeonLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addPigeonLabel"><span id="agendaItemTitle">Add new</span> agenda item for @Model.AgendaItemsViewModelList.Select(s => s.meetingType).FirstOrDefault() </h4>
            </div>
            <form class="form" name="frmAgendaItem" id="frmAgendaItem">
                <div class="modal-body">
                    <div class="well">
                        <input type="hidden" id="agendaId">
                        <input type="hidden" id="meetingId">
                        <input type="hidden" id="meetingTypeId">
                        <div class="form-group">
                            <label for="agendaItemName">Agenda Item</label>
                            <input type="text" class="form-control auto-focus" name="agendaItemName" id="agendaItemName" required />
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5" for="chkDraftMinutesItem">Is this a draft minutes item?</label>
                            <div class="col-sm-2">
                                <div class="checkbox">
                                    <label class="checkbox checkbox-bootstrap checkbox-lg">
                                        <input type="checkbox" id="chkDraftMinutesItem" name="chkDraftMinutesItem">
                                        <span class="checkbox-placeholder"></span>
                                    </label>
                                </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-5" for="chkRecurringItem" style="top: 14px;">Is this a recurring item?</label>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label class="checkbox checkbox-bootstrap checkbox-lg">
                                            <input type="checkbox" id="chkRecurringItem" name="chkRecurringItem">
                                            <span class="checkbox-placeholder"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary submitPigeon" id="btnSubmit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Agenda Item Related Modal -->
<div class="modal fade" id="agendaItemRelatedModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="agendaItemRelatedModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span id="agendaItemRelatedTitle">Add new</span> related item</h4>
            </div>
            <form class="form" id="frmAgendaItemRelated" name="frmAgendaItemRelated">
                <div class="modal-body">
                    <div class="well">
                        <input type="hidden" id="agendaItemRelated_Id">
                        <input type="hidden" id="agendaItemRelated_agendaItemId">
                        <div class="form-group">
                            <label for="agendaItemName">Related Item</label>
                            <input type="text" class="form-control auto-focus" name="agendaItemRelated_Name" id="agendaItemRelated_Name" required />
                        </div>
                        <div class="form-group">
                            <label for="chkDraftMinutesItem">Is this a draft minutes item?</label>
                            <div class="checkbox">
                                <label class="checkbox checkbox-bootstrap checkbox-lg">
                                    <input type="checkbox" id="chkDraftMinutesItem" name="chkDraftMinutesItem">
                                    <span class="checkbox-placeholder"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="chkRecurringRelatedItem">Is this a recurring item?</label>
                            <div class="checkbox">
                                <label class="checkbox checkbox-bootstrap checkbox-lg">
                                    <input type="checkbox" id="chkRecurringRelatedItem" name="chkRecurringRelatedItem">
                                    <span class="checkbox-placeholder"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="btnSubmitAgendaItemRelated">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Agenda Item Related Modal -->
<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">Delete the selected Item</h4>
            </div>
            <div class="modal-body">
                <p id="deleteBodyText">Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="yes">Yes</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Custom/agenda.js"></script>
