/** 
 *
 * Traffic HTML Error Pages v 1.0
 * Developed by MogooLab - www.mogoolab.com
 *
 **/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, menu, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus {
        outline: 0;
}
body {
	background: #fff;
	line-height: 1;
}
ol, ul, menu {
	list-style: none;
}
table {
        border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a img {
	border: 0;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

a, a:hover, a:active {
	text-decoration:none;
}



/******************************************************************************/

body, html {
  width:100%;
  margin:0 auto;
  padding:0;
  background: #010101 url("images/background.png") repeat-x top left;
}

/* page wrappers **************************************************************/


/* page Wrapper */
.wrapper { 
  	width:100%;
  	margin:-200px auto 0;
  	display:table;
	position:absolute;
	top:50%;
}

/* content wrapper */
.mainWrapper {
    margin: 0 auto;
    position: relative;
    width: 959px;
}

/* main holder */
.mainHolder {
    background: url("images/container.png") no-repeat scroll left top transparent;
    display: block;
    height: 416px;
    position: relative;
    width: 959px;
    z-index: 1000;
}

/* your logo */
#logo {
    background: url("~/Media/assets/egenda_logo_color.png") repeat-x scroll left top transparent;
    display: block;
    height: 80px;
    left: 30px;
    position: absolute;
    text-indent: -9999px;
    top: -55px;
    width: 82px;
    z-index: 900;
}

/* airplane message holder */
.message {
    color: #000000;
    display: block;
    font-family: 'Chivo',sans-serif;
    font-size: 20px;
    height: 23px;
    line-height: 23px;
    margin: 0;
    overflow: hidden;
    padding: 28px 0 0 330px;
    position: relative;
}

/* error 404 */
.errorNumber {
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: 'Istok Web',sans-serif;
    font-size: 81px;
    height: 70px;
    margin: 54px 0 0 266px;
    text-align: center;
    width: 190px;
}

/*search holder */
.search {
    background: url("images/search_form.png") no-repeat scroll left top transparent;
    float: left;
    height: 44px;
    margin: 69px 0 0 110px;
    text-align: left;
    width: 345px;
}

.searchInput, .searchButton {
	float:left;
	width:68px;
	height:30px;

}

.searchInput {
    margin: 5px 0 0 8px;
    width: 270px;
}

.searchButton {
    height: 44px;
    margin: 0;
    width: 67px;
}

/* search input */
.searchInput input[type="text"] {
    background: transparent;
    border: 0 none;
    color: #000000;
    float: left;
    font-family: 'Istok Web',sans-serif;
    font-size: 1.1em;
    height: 23px;
    letter-spacing: -1px;
    line-height: 23px;
    margin: 5px 0 0;
    width: 270px;
}

/* search button */
.searchButton input[type="submit"] {
	
	background: url("images/transparent.png") no-repeat scroll top left transparent;
    border: 0 none;
    display: block;
    float: left;
    height: 44px;
    margin: 0;
    text-indent: -9999px;
    width: 67px;
}

.trafficLight {
    background: url("images/traffic_light_red.png") no-repeat scroll left top transparent;
    clear: both;
    display: block;
    float: left;
    height: 31px;
    margin: 26px 0 0 529px;
    text-indent: -9999px;
    width: 25px;
}

.trafficLightRed {
	background:url("images/traffic_light_red.png") top left no-repeat;
}

.trafficLightYellow {
	background:url("images/traffic_light_yellow.png") top left no-repeat;
}

.trafficLightGreen {
	background:url("images/traffic_light_green.png") top left no-repeat;
}

footer {
    float: left;
    padding: 20px 0 0;
    width: 959px;
}



/* footer copy */
footer p.copy {
    color: #FFFFFF;
    float: left;
    font-family: 'Chivo',sans-serif;
    font-size: 0.7em;
    margin: 3px 0 0;
    text-align: left;
    width: 300px;
}

/* footer menu */
footer menu {
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 600px;
}

footer menu li {
    display: inline;
    font-family: 'Chivo',sans-serif;
    font-size: 1em;
    padding: 0 10px;
}


footer menu li a {
	color:#fff;
}
footer menu li a:hover {
	color:#8cc616;
}
