﻿
@{
    ViewBag.Title = "GotMeetingConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br><br><br>
<form class="container text-center">
    <div class="form-group">
        <label>Click on  Accept or Decline on Email Message to add event to your Email Calender </label>
    </div>
    <div class="form-group text-center">
        <h2>Thank you for your response</h2>
    </div>
    <div class="form-group text-center">

    </div>
</form>

