﻿
@model  List<BoardsXpress.Models.MeetingViewModels>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardSidebar.cshtml";
    var meetingTypeId = @Model.Select(s => s.meetingTypeId).FirstOrDefault();
}


<span id='MeetingTypesID' hidden>@meetingTypeId</span>
<div id="admin-container">
    <span class="btn btn-xs btn-default" data-toggle="tooltip" data-original-title="Takes you to the admin panel" data-placement="top" onclick="location.href = '/MeetingAdministration?id=@meetingTypeId'"><< Go Back to Admin Panel</span>
    <h4 style="text-align:center;">@Model.Select(s => s.meetingType).FirstOrDefault() Meeting Calendar</h4>
    <button data-toggle="modal" data-target="#addEvent" class="btn btn-warning pull-right pigeon">Add Meeting</button>
    <div>
        @if (Model.Where(w => w.meetingId == Guid.Parse("00000000-0000-0000-0000-000000000000")).Count() == 0)
        {
            <table class="table table-striped" id="sort">
                <thead class="thead-inverse">
                    <tr>
                    <tr>
                        <th style="display:none">ID</th>
                        <th>Meeting Date</th>
                        <th>Meeting Venue</th>
                        <th>Start Time</th>
                        <th>Finish Time</th>
                            @*<th>Notes</th>*@
                        @*<th>Is Current</th>*@
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr id="row">

                        <td data-column="meetingId" style="display:none">@item.meetingId</td>
                        @if (item.rotaryResolution == true)
    {
                    <td data-column="meetingDate">@item.meetingDate.ToString("dd/MM/yyyy") (Rotary Resolution)</td>
                    <td hidden data-column="rotaryResolution">@item.rotaryResolution</td>
}
else
{
                    <td data-column="meetingDate">@item.meetingDate.ToString("dd/MM/yyyy")</td>
                    <td hidden data-column="rotaryResolution">@item.rotaryResolution</td>
}
                        <td data-column="meetingVenue">@item.meetingVenue</td>
                        <td data-column="meetingStartTime">@item.startTime</td>
                        <td data-column="meetingFinishTime">@item.finishTime</td>
                        @* <td>@item.meetingNotes</td>*@
                        @*@if(item.isCurrent == true)
        {
        <td>Yes</td>
        }
        else
        {
        <td>No</td>
        }*@
                        <td class="text-nowrap text-center" width="1%">
                            <a class="btn btn-sm btn-default editEvent" id="editable" data-action="edit" data-toggle="modal" data-target="#editModal" role="button"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            @if (DateTime.Now >= item.meetingDate)
        {
                    <a class="btn btn-sm btn-default delete" id="deletedatepassed" data-toggle="modal" data-target="#noeditModal" role="button"><span class="glyphicon glyphicon-trash"></span> Remove</a>
}
else
{
                    <a class="btn btn-sm btn-default delete" id="delete" data-toggle="modal" data-target="#deleteModal" role="button"><span class="glyphicon glyphicon-trash"></span> Remove</a>
}
                            @*<span class="glyphicon glyphicon-envelope" id="send-invitation" data-toggle="modal" data-target="#invitationModal"></span>*@
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
        }
    </div>
</div>


<!--Add event modal-->
<div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="addEventLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addEventLabel">Add Meeting for @Model.Select(s => s.meetingType).FirstOrDefault()</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddEvent">
                    <div class="form-group" id="divEventDate">
                        <label for="message-text" class="form-control-label" id="modal-scope">Meeting Date:</label>
                        <input type="text" class="datepicker form-control" id="eventDate" name="eventDate">
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="form-control-label" id="modal-scope">Start Time:</label>
                        <input type="text" class="form-control" id="eventStartTime" name="meetingStartTime">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label" id="modal-scope">Finish Time: <span class="small">(optional)</span></label>
                        <input type="text" class="form-control" id="eventFinishTime" name="meetingFinishTime">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label" id="modal-scope">Meeting Venue:</label>
                        <input type="text" class="form-control" id="eventVenue">
                    </div>
                    <!--<div class="form-group">
                        <label for="chkRecurringItem">Is this a Rotary Resolution Meeting?</label>
                        <div class="checkbox">
                            <label class="checkbox checkbox-bootstrap checkbox-lg">
                                <input id="rotaryResolution" name="rotaryResolution" type="checkbox">
                                <span class="checkbox-placeholder"></span>
                            </label>
                        </div>
                    </div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary submitEvent" id="btnSubmit">Save</button>
            </div>
        </div>
    </div>
</div>



<!--Edit Modal-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editModal">Edit Meeting for @Model.Select(s => s.meetingType).FirstOrDefault()</h4>
            </div>
            <div class="modal-body">
                <form id="frmEditEvent">
                    <div class="form-group" hidden>
                        <label for="message-text" class="form-control-label" id="modal-scope">Meeting Id</label>
                        <input type="text" class="form-control" id="editMeetingId">
                    </div>
                    <div class="form-group" id="divEditEventDate">
                        <label for="message-text" class="form-control-label" id="modal-scope">Meeting Date</label>
                        <input type="text" class="datepicker form-control" id="editEventDate" name="editEventDate">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label" id="modal-scope">Start Time</label>
                        <input type="text" class="form-control" id="editEventStartTime" name="editEventStartTime">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label" id="modal-scope">Finish Time: <span class="small">(not required)</span></label>
                        <input type="text" class="form-control" id="editEventFinishTime">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label" id="modal-scope">Meeting Venue</label>
                        <input type="text" class="form-control" id="editEventVenue">
                    </div>
                    <!--<div class="form-group">
        <label for="chkRecurringItem">Is this a Rotary Resolution Meeting?</label>
        <div class="checkbox">
            <label class="checkbox checkbox-bootstrap checkbox-lg">
                <input id="editRotaryResolution" name="editRotaryResolution" type="checkbox">
                <span class="checkbox-placeholder"></span>
            </label>
        </div>
    </div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="done">Done</button>
            </div>
        </div>
    </div>
</div>


<!--Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">Delete the selected @Model.Select(s => s.meetingType).FirstOrDefault() Meeting</h4>
            </div>
            <div class="modal-body alert-danger">
                @if (Model != null)
                {
                    <p id="deleteBodyText">
                        There are currently documents attached to this meeting. Deleting
                        this meeting will also remove all associated documents. Are you sure you want to delete?
                    </p>
                }
                else
                {
                    <p id="deleteBodyText">Are you sure you want to delete? </p>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="yes">Yes</button>
            </div>
        </div>
    </div>
</div>

<!--No Edit Modal-->
<div class="modal fade" id="noeditModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">@Model.Select(s => s.meetingType).FirstOrDefault() Meeting</h4>
            </div>
            <div class="modal-body alert-danger">
                    <p id="noeditBodyText">Sorry! you cannot edit or delete the meeting after the meeting date.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/Custom/meeting.js"></script>