﻿@model  BoardsXpress.Models.UserRoleAssignmentViewModels
@{
    ViewBag.Title = "RoleAssignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RoleAssignment</h2>
 @using (Html.BeginForm("Roles", "UserManagement", FormMethod.Post))
    {

           <div class="form-group row">
                 @Html.HiddenFor(model=>Model.userDetails.Id)
                       @*@String.Format("{0}  {1} {2}", item.userDetails.FirstName, item.userDetails.MiddleName, item.userDetails.LastName)*@
                   
                </div>

                <div>
                    <table>
                      @foreach (var i in Model.userRole)
                      {
                            <tr>
                                <td>
                                   @Html.RadioButtonFor(m => m.userRoleSelected, i.Value, new { @id = i.Text })
                                   @*@Html.RadioButton("UserRole", i.Value, i.Selected, new { @id = i.Text })*@
                                    @*@Html.RadioButton(item.userDetails.UserName + "userRole", i.groupName, new { @id = i.groupId })*@
                                </td>
                                <td>
                                  @Html.Label(i.Text) 
                                    
                                </td>
                            </tr>
                        }
                    </table>
                    <br />
                                       
                </div>

    
    <input type="submit" value="Submit" />
 }
