﻿@model BoardsXpress.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Model.UserName</h4>
    <table class="table">
        <tr>
            <td>
                
                    <div class="col-md-7">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                               @String.Format("{0}  {1} {2}", Model.FirstName,Model.MiddleName, Model.LastName)
                               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                                @Model.Gender
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Organisation</label>
                            <div class="col-sm-9">
                                @Model.Organisation
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Job Position</label>
                            <div class="col-sm-9">
                                @Model.Designation
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Telephone</label>
                            <div class="col-sm-9">
                                @Model.PhoneNumber
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                @Model.Email
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                @Model.UserName
                            </div>
                        </div>
                        <div class="row" id="profile-container">
                            <div class="col-md-4">
                                @if (Model.Avatar != null)
                                {
                                    <img id="edit-profilepic" src="@Model.Avatar" />
                                }
                                else

                                {
                                    <img id="edit-profilepic" src="~/Media/avatar/avatar.png" />
                                }
                            </div>
                            <button class="btn btn-small btn-default pull-right">Edit Profile</button>
                        </div>
                </div>
            <td>
                </tr>
</table>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
    </div>