﻿@model IEnumerable<BoardsXpress.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (Model.Count() > 0)
{
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="row" id="profile-container">
                        <div class="col-md-4">
                           @if (@item.Avatar != null)
                           {
                            <img id="edit-profilepic" src="@item.Avatar" />
                           }
                           else

                           {
                            <img id="edit-profilepic" src="~/Media/avatar/avatar.png" />
                           }
                        </div>
                        <div class="col-md-7">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    @String.Format("{0} {1} {2}", item.FirstName,item.MiddleName,item.LastName)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Telephone</label>
                                <div class="col-sm-9">
                                    @item.PhoneNumber
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    @item.Email
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Gender</label>
                                <div class="col-sm-9">
                                   @item.Gender
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Job Position</label>
                                <div class="col-sm-9">
                                    @item.Designation
                                </div>
                            </div>
                            @*<button class="btn btn-small btn-default pull-right" >Assign Role</button>*@
                            @Html.ActionLink("Assign Role", "AssignRole", new { userId = item.Id })
                        </div>
                    </div>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
    <p>user not added</p>

}
