﻿@model IEnumerable<BoardsXpress.Models.ApplicationUser>

@{
    ViewBag.Title = "Directory Page";
}

<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#"><span>Directory</span></a></li>
</ol>

<div class="container main-container">
    <div class="row directory">

        @foreach (var item in Model)
        {

            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        @if (!string.IsNullOrEmpty(item.Avatar))
                        {
                            <div class="col-sm-6 col-md-4">
                                <img src=@item.Avatar.Trim() alt="" class="img-rounded img-responsive" />
                            </div>}
                        else

                        {
                            <div class="col-sm-6 col-md-4">
                                <img src="~/Media/avatar/avatar.png" alt="" class="img-rounded img-responsive" />
                            </div>
                        }
                        <div class="col-sm-6 col-md-8">
                            <h4>@item.FirstName</h4>
                            <p>
                                <i class="glyphicon glyphicon-envelope"></i><a href="mailto:@item.Email">@item.Email</a>
                                <br />
                                <i class="glyphicon glyphicon-earphone"></i> @item.PhoneNumber
                                <br />
                                <i class="fa fa-building-o"></i>@item.Organisation
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }



    </div>
</div>
