﻿@model BoardsXpress.tblMeeting

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblMeeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.meetingType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetingType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meetingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finishTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finishTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meetingVenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetingVenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meetingNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meetingNotes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.meetingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
