﻿@model IEnumerable<BoardsXpress.tblMeeting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.meetingType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meetingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.finishTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meetingVenue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.meetingNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.meetingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meetingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.finishTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meetingVenue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.meetingNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.meetingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.meetingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.meetingId })
        </td>
    </tr>
}

</table>
