﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3 {
        color: cornflowerblue;
    }

    .guideImages {
        text-align: center;
    }

        .guideImages > img {
            max-width: 650px;
        }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Help</a></li>
    <li class="active">User Guide</li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li><a href="#question1">Welcome to Egenda</a></li>
                            <li><a href="#question2">Support</a></li>
                            <li><a href="#question3">Setting Up Your Password</a></li>
                            <li><a href="#question4">Logging In to Egenda</a></li>
                            <li><a href="#question5">Forgotten Password</a></li>
                            <li><a href="#question6">Egenda Navigation</a></li>
                            <li><a href="#question7">Accessing Your Board Papers</a></li>
                            <li><a href="#question8">Annotating Your Board Papers</a></li>
                            <li><a href="#question9">Uploading Meeting Documents</a></li>
                            <li><a href="#question10">Accessing Reference Documents and Resources</a></li>
                            <li><a href="#question11">RSS Feed</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">User Guide</h1>
                <h3 id="question1">Welcome to Egenda</h3>
                <p>Egenda by WordFlow is the new web based solution for board papers that transforms meeting papers into fully-interactive and totally secure websites - available to authorised users anywhere, any time and on any device.</p>
                <p>With Egenda your papers are easily accessible as web pages.</p>
                <ul>
                    <li>
                        <strong>Accessible</strong><br />
                        All papers from current and past meetings are easily accessible from the website
                    </li>
                    <br />
                    <li>
                        <strong>Searchable</strong><br />
                        Enabling you to easily query a topic across multiple meetings with keyword search and cross referencing.
                    </li>
                    <br />
                    <li>
                        <strong>Mobile Optimised</strong><br />
                        Easily navigate content on a mobile device with no scrolling through long PDFs
                    </li>
                    <br />
                    <li>
                        <strong>Enriched</strong><br />
                        As a website you can enrich with real time information – RSS feeds, stock prices, company announcements etc.
                    </li>
                    <br />
                    <li>
                        <strong>Completely Secure</strong><br />
                        Iron clad physical security and robust encryption
                    </li>
                    <br />
                </ul>


                <h3 id="question2">Support</h3>
                <p>If you require assistance with using Egenda, call the WordFlow help desk during business hours on +61 416 100 958, or email at caroline@wordflow.info.</p>
                <p>Caroline Trotman is our contact at WordFlow who will help you with any issues you may have.</p>


                <h3 id="question3">Setting Up Your Password</h3>
                <p>Your system administrator has created your profile. You will receive an email asking that you set up your password.</p>
                <p>In order to ensure security of your board materials, passwords need to be at least 8 characters long and include the 3 following character types:</p>
                <ol>
                    <li>Upper Case Letters (ABCD…)</li>
                    <li>Lower Case Letters (abcd…)</li>
                    <li>Numbers (1,2,3,4,…..)</li>
                    <li>Special Characters (!#$....)</li>
                    <li>Minimum 6 Characters</li>
                </ol>
                <p>When you enter your password for the first time you will be prompted to log in. </p>
                <p>Don’t forget, your password is case sensitive.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/psdstrength-scshot.png" />
                </div>


                <h3 id="question4">Logging In to Egenda</h3>
                <p>To begin using Egenda, enter the address for the AIST Egenda web site into your browser</p>
                <a href="https://www.boardsxpress-aist.azurewebsites.net">www.boardsxpress-aist.azurewebsites.net</a>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/login.png" />
                </div>
                <ol>
                    <li>Enter your User Name – this is your email address</li>
                    <li>Enter your password – remember this is case sensitive</li>
                    <li>Click Log In</li>
                    <li>You are now logged in.</li>
                </ol>

                <h3 id="question5">Forgotten Password</h3>
                <p>If you have forgotten your password, click on the Forgotten Password link and follow the prompts.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/forgotpsd-scshot.png" />
                </div>
                <p>A link to set up your new password will be automatically sent to your email address. </p>

                <h3 id="question6">Egenda Navigation </h3>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/Top-Nav.png" />
                </div><br>
                <h4>Calendar</h4>
                <p>This item shows all meetings that have been entered into the Meeting Calendar. The Meeting Calendar is controlled by the Systems Administrator.</p>
                <h4>Directory</h4>
                <p>This item shows the Summary details of all the profiles that relate to your meeting. This Directory is created by your systems administrator.</p>
                <p>You can edit your profile under the My Profile option – see below under My Profile.</p>
                <p>You can send emails to other members of the Board from the Directory. </p>

                <h4>Reference Documents and Resources</h4>
                <p>This repository holds all the reference documents and weblinks that relate to your meeting.</p>

                <h4>RSS Feeds</h4>
                <p>Egenda enables you to access real time information through RSS feeds. You can set up as many feeds as are relevant to your meeting.</p>

                <h4>Help</h4>
                <p>This is where you access the Director and Executive User Guide and Frequently Asked Questions.</p>

                <h4>Upload Document</h4>
                <p>Use this navigation to upload documents to the Document Repository. If you are contributing a document to a meeting this button will take you to the screen for uploading documents.</p>

                <h4>Search</h4>
                <p>This enables you to search based upon keywords across all Key word search across all documents.</p>

                <h4>Advanced Search</h4>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/advsearch-scshot.png" />
                </div><br>
                <p>Advanced search enables you to conduct a more detailed search of content across all meetings in a meeting type. </p>
                <p>To conduct an advanced search:</p>

                <h4>My Profile</h4>
                <p>Your personal information is stored here. When you click on this button, the three options for the User Profile are displayed:</p>

                <div style="margin-left:20px;">
                    <h5>My Profile</h5>
                    <p>This section containts your personal contact information. You can edit this information at any time.</p>

                    <h5>My Documents</h5>
                    <p>This section containts a list of all documents you have uploaded to Egenda. This list is cumulative and provides you with an ongoing easily accessible record of your meeting paprers. </p>

                    <h5>Logout</h5>
                    <p>This is where you logout from Egenda.</p>
                </div>



                <h3 id="question7">Accessing Your Board Papers</h3>
                <p>When you log in, you will see the home page of Egenda. On the top left of the page will show the date of the meeting to which the papers in the navigation relate.</p>
                <p>For your first use of Egenda, this will show only one meeting date.</p>
                <p>For subsequent meetings, papers for prior meetings will be shown under the Previous Meetings navigation item.</p>
                <p>Reading your Board Papers is as simple as reading a website.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/AccessingYourPaper.png" />
                </div><br />
                <p>Your home page will show the papers for the next board meeting in the navigation of the website.</p>
                <p>To read your board papers, select the item from the left hand navigation and open this document. Scrolling will take you through the entire document.</p>
                <p>To read the next document, simply click the item on the navigation and the document opens as a webpage.</p>
                <p>Egenda enables you to easily read all your board papers just as you would read through pages on a website. There is no opening and closing of individual documents.</p>

                <h3 id="question8">Annotating Your Board Papers</h3>
                <p>Egenda allows you to record your comments as you review your board papers with its annotation feature. During your meeting you can then easily view your comments as each paper is discussed. </p>
                <p><strong>Annotations are:</strong></p>
                <ul>
                    <li>Attached to the page on which they are created</li>
                    <li>Easily retrieved by reference to the highlight that displays where you have made your note</li>
                    <li>Private to your Egenda log in. No-one else can see your annotations.</li>
                    <li>Deleted prior to archiving of Board papers.</li>
                </ul>
                <p>To annotate your papers</p>
                <ol>
                    <li>Position your cursor over the content you wish to make a note</li>
                    <li>Double click the left button on your mouse or track pad.</li>
                    <li>A highlight box will appear.</li>
                    <li>Type your comments in the box and select <strong>Save</strong></li>
                </ol>


                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/annotate-scshot.png" />
                </div>

                <p>To Retrieve Your Annotations</p>
                <ol>
                    <li>When you access this paper in your meeting, you will see where notes have been made as the relevant word(s) will be highlhted.</li>
                    <li>Simply click on the highlighted and your annotation will appear.</li>
                    <li>To close the annotation , click Save.</li>
                </ol>


                <h3 id="question9">Uploading Meeting Documents</h3>
                <p>Meeting papers are uploaded for review prior to publishing to the meeting participants.</p>
                <p>If you are responsible for contributing a document to the Meeting, the steps are as follows:</p>
                <ol>
                    <li>Select Upload Document from the top navigation bar.</li>
                </ol>
                <p>You will see the following pop-up:</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload-scshot.png" />
                </div><br />
                <p>Select the Meeting type and meeting date.</p>
                <p>Select the specific Agenda Item (from the drop down menu) associated with the document to be uploaded.</p>
                <p>Select Choose Files and navigate to the location of the document to be uploaded. Select the document and select Upload.</p>
                <p>An upload progress bar will be presented. Once the document upload is completed an upload successful message will appear. </p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload-scshot.png" />
                </div><br />
                <p>Note: Once a document has been uploaded, it can only be removed by an authorised user, such as a Systems Administrator or the Meeting Chair.</p>
                <p>If you upload a document and wish to remove and replace it, please contact your Systems Administrator.</p>

                <h3 id="question10">Accessing Reference Documents and Resources</h3>
                <p>This repository is for documents that are not current meeting agenda items but are resources to which the Board and Committee members require access, such as Constitutions, Charters, and Terms of Reference etc.</p>
                <p>This repository caters for documents as well as Web links.</p>
                <p><strong>To access Reference Documents:</strong></p>
                <ol>
                    <li>Click on this item in the main navigation. A drop down menu will appear listing all the reference materials</li>
                    <li>Select the item you want to view and click.</li>
                    <li>This item will open as a web page.</li>
                </ol>
                <p>Note: In some instances Reference Documents may be in other than HTML – in PDF, PowerPoint or Excel for example. These documents will open in their native format.</p>
                <p><strong>To Access Web Links:</strong></p>
                <ol>
                    <li>Simply click on the link and this web page will open in a separate tab. This enables you to view the linked content without closing down boards express.</li>
                    <li>When you have finished viewing this content, close the tab. </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<script>
    $(document).ready(function () {
        $(".userGuide a").on('click', function () {
            var link = $(this).attr('href');
            $('html,body').animate({ scrollTop: ($(link).offset().top - 155) }, 'slow');
        });
    });
    $('label.tree-toggler').click(function () {
        $(this).parent().children('ul.tree').toggle(300);
    });
</script>




