﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3,h4, .guide_highlight {
        color: cornflowerblue;
    }
    .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Induction Training</a></li>
    <li class="active"><a href="#">Meeting Roles</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("A Guide to Egenda", "InductionTraining", "Training", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Your Password and Logging In", "InductionTraining", "Training", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("Your Member Profile", "InductionTraining", "Training", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Profile", "InductionTraining", "Training", new { pageNumber = 3 }, "")</li>
                            <li class="active">@Html.ActionLink("Meeting Roles", "InductionTraining", "Training", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Calendar", "InductionTraining", "Training", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Contributing Documents to a Meeting", "InductionTraining", "Training", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "InductionTraining", "Training", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Viewing Your Meeting Documents", "InductionTraining", "Training", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Annotating a Web Page", "InductionTraining", "Training", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("Accessing Reference Documents", "InductionTraining", "Training", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">Induction Training</h1>
                <h3 id="question5">Meeting Roles</h3>
                <p>For each meeting, the Committee Administrator will assign roles to each member of the committee. The roles and the permissions attached to each role are determined by the University, and can only be amended by the Meeting Administrator or the Chair of the Meeting.</p>

                <p>Roles are</p>
                <ul>
                    <li>Committee Chair</li>
                    <li>Committee Member</li>
                    <li>Administrator</li>
                    <li>Academic / Professional Staff</li>
                    <li>OGS Staff</li>
                    <li>External</li>
                </ul>
            </div>
            <div style="text-align: center; margin-top:50px;"><a href="/Training/InductionTraining?pageNumber=5" class="btn btn-primary btn-group-lg">Next</a></div>
        </div>
    </div>
</div>