﻿
@{
    ViewBag.Title = "User Guide";
}

<style>
    h3,h4, .guide_highlight {
        color: cornflowerblue;
    }

    .guideImages {
        text-align: center;
    }

        .guideImages > img {
            max-width: 650px;
        }

    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Induction Training</a></li>
    <li class="active"><a href="#">Annotating a Web Page</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("A Guide to Egenda", "InductionTraining", "Training", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Your Password and Logging In", "InductionTraining", "Training", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("Your Member Profile", "InductionTraining", "Training", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Profile", "InductionTraining", "Training", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Meeting Roles", "InductionTraining", "Training", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Calendar", "InductionTraining", "Training", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Contributing Documents to a Meeting", "InductionTraining", "Training", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "InductionTraining", "Training", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Viewing Your Meeting Documents", "InductionTraining", "Training", new { pageNumber = 8 }, "")</li>
                            <li class="active">@Html.ActionLink("Annotating a Web Page", "InductionTraining", "Training", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("Accessing Reference Documents", "InductionTraining", "Training", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">Induction Training</h1>
                <h3 id="question10">Annotating a Web Page</h3>
                <p>Writing personal notes on meting papers is a time honored tradition – triggers for questions you want to ask in a meeting, discussion around points you want to explore.</p>
                <p>Egenda annotations allows you to add private annotations to meeting papers as you read.</p>
                <p>A simple double click no the left button on your mouse opens up an n annotation box, in which you can write your comments. These comments are private to you – and can only be accessed under your login.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/annotate.png" />
                </div>
                <br />
            </div>
            <div style="text-align: center; margin-top:50px;"><a href="/Training/InductionTraining?pageNumber=10" class="btn btn-primary btn-group-lg">Next</a></div>
        </div>
    </div>
</div>