﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3,h4 {
        color: cornflowerblue;
    }
    .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Induction Training</a></li>
    <li class="active"><a href="#">Your Meeting Profile</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("A Guide to Egenda", "InductionTraining", "Training", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Your Password and Logging In", "InductionTraining", "Training", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("Your Member Profile", "InductionTraining", "Training", new { pageNumber = 2 }, "")</li>
                            <li class="active">@Html.ActionLink("Your Meeting Profile", "InductionTraining", "Training", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Meeting Roles", "InductionTraining", "Training", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Calendar", "InductionTraining", "Training", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Contributing Documents to a Meeting", "InductionTraining", "Training", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "InductionTraining", "Training", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Viewing Your Meeting Documents", "InductionTraining", "Training", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Annotating a Web Page", "InductionTraining", "Training", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("Accessing Reference Documents", "InductionTraining", "Training", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">Induction Training</h1>
                <h3 id="question4">Your Meeting Profile</h3>
                <p>Egenda is your one stop location for all your meeting papers for every committee and meeting in which you are involved in the University. When you login your home page will show all your meetings in which you are involved. For each meeting, your system administrator will have assigned your role in the meeting, which determines your permission level within Egedna.</p>
                <p>An example of this home page is</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/meeting_profile.png" />
                </div>
            </div>
            <div style="text-align: center; margin-top:50px;"><a href="/Training/InductionTraining?pageNumber=4" class="btn btn-primary btn-group-lg">Next</a></div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<script>
    $(document).ready(function () {
        $(".userGuide a").on('click', function () {
            var link = $(this).attr('href');
            $('html,body').animate({ scrollTop: ($(link).offset().top - 155) }, 'slow');
        });
    });
    $('label.tree-toggler').click(function () {
        $(this).parent().children('ul.tree').toggle(300);
    });
</script>




