﻿
@{
    ViewBag.Title = "User Guide";
}

<style>
    h3,h4, .guide_highlight {
        color: cornflowerblue;
    }
     .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Induction Training</a></li>
    <li class="active"><a href="#">Contributing Documents to a Meeting</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("A Guide to Egenda", "InductionTraining", "Training", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Your Password and Logging In", "InductionTraining", "Training", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("Your Member Profile", "InductionTraining", "Training", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Profile", "InductionTraining", "Training", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Meeting Roles", "InductionTraining", "Training", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Calendar", "InductionTraining", "Training", new { pageNumber = 5 }, "")</li>
                            <li class="active">@Html.ActionLink("Contributing Documents to a Meeting", "InductionTraining", "Training", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "InductionTraining", "Training", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Viewing Your Meeting Documents", "InductionTraining", "Training", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Annotating a Web Page", "InductionTraining", "Training", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("Accessing Reference Documents", "InductionTraining", "Training", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">Induction Training</h1>
                <h3 id="question7">Contributing Documents to a Meeting</h3>
                <p>Egenda enables all users to easily contribute documents to a meeting agenda through the central document repository.</p>
                <p>The document repository holds all the meeting papers for each individual meeting.</p>
                <p>To contribute a document to a meeting agenda, follow these steps</p>
                <p>1.	Select Upload Document from the top navigation</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_btn.png" />
                </div>
                <br />
                <p>2.	You will see the following dialogue box.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_dialog.png" />
                </div>
                <br />
                <p>The Meeting Agenda will have been pre-populated by your administrator. Select the Agenda item for which you are contributing content – the example we have used is a Finance Report</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_prog.png" />
                </div>
                <br />
                <p>To upload your document’ select the Browse button and locate the file you wish to upload from your document source.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_1.png" />
                </div>
                <br />
                <p>If you wish to restrict the ability to print this report, select the Restrict Printing option.</p>
                <p>Select upload to upload the file into the document repository.</p>
                <p>When the document has been uploaded, you will see a message confirming that your upload has been successful.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_2.png" />
                </div>
                <br />
            </div>
            <div style="text-align: center; margin-top:50px;"><a href="/Training/InductionTraining?pageNumber=7" class="btn btn-primary btn-group-lg">Next</a></div>
        </div>
    </div>
</div>
