﻿
@{
    ViewBag.Title = "User Guide";
}

<style>
    h3 {
        color: cornflowerblue;
    }
     .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li class="active"><a href="#">Induction Training</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li class="active">@Html.ActionLink("A Guide to Egenda", "InductionTraining", "Training", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Your Password and Logging In", "InductionTraining", "Training", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("Your Member Profile", "InductionTraining", "Training", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Profile", "InductionTraining", "Training", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Meeting Roles", "InductionTraining", "Training", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Calendar", "InductionTraining", "Training", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Contributing Documents to a Meeting", "InductionTraining", "Training", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "InductionTraining", "Training", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Viewing Your Meeting Documents", "InductionTraining", "Training", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Annotating a Web Page", "InductionTraining", "Training", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("Accessing Reference Documents", "InductionTraining", "Training", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">Induction Training</h1>
                <h3 id="question1">A Guide to Egenda</h3>
                <p>Egenda is a web based meeting management solution that converts all your meeting papers to searchable web pages, and is as simple to use as navigating a website.</p>
                <p>Egenda is Egedna captures in a single location all the meeting papers for every meeting in which you are involved. You need only one login to access current and past papers for your entire portfolio of meetings.</p>
                <p>The Agenda for your meeting becomes the navigation for the website, and you access your papers from the navigation.</p>
                <p>This induction program will teach you all the steps you need to know to successfully use Egenda for your meeting, and covers</p>
                <ol>
                    <li>Login Procedures</li>
                    <li>Password Practices</li>
                    <li>Your Meeting Profile</li>
                    <li>Contributing Meeting Papers</li>
                    <li>Accessing your Meeting Papers</li>
                    <li>Annotating Your Meeting Papers</li>
                    <li>Accessing Reference Documents</li>
                    <li>Managing Your User Profile</li>
                </ol>
            </div>

            <div style="text-align: center; margin-top:50px;"><a href="/Training/InductionTraining?pageNumber=1" class="btn btn-primary btn-group-lg">Next</a></div>
        </div>
    </div>
</div>




