﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3,h4, .guide_highlight {
        color: cornflowerblue;
    }
     .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Induction Training</a></li>
    <li class="active"><a href="#">Viewing Your Meeting Documents</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("A Guide to Egenda", "InductionTraining", "Training", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Your Password and Logging In", "InductionTraining", "Training", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("Your Member Profile", "InductionTraining", "Training", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Profile", "InductionTraining", "Training", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Meeting Roles", "InductionTraining", "Training", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Calendar", "InductionTraining", "Training", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Contributing Documents to a Meeting", "InductionTraining", "Training", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "InductionTraining", "Training", new { pageNumber = 7 }, "")</li>
                            <li class="active">@Html.ActionLink("Viewing Your Meeting Documents", "InductionTraining", "Training", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Annotating a Web Page", "InductionTraining", "Training", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("Accessing Reference Documents", "InductionTraining", "Training", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">Induction Training</h1>
                <h3 id="question9">Viewing Your Meeting Documents</h3>
                <p>Your home page in Egenda will show all the committees to which you belong and the papers for your committees. For example;</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/met_details.png" />
                </div>
                <br />
                <p>To access meeting papers, select the committee. The dates for which papers are available will the display, for example</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/met_details1.png" />
                </div>
                <br />
                <p>Select the meeting date for which you wish to view the papers, and the navigation will then display for that meeting, for example:</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/met_details2.png" />
                </div>
                <br />
                <p>To view a meeting paper, simply click on the item in the navigation and the paper will open as a web page</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/met_details3.png" />
                </div>
                <br />
                <p>Repeat this step as you work through the meeting agenda.</p>
            </div>
            <div style="text-align: center; margin-top:50px;"><a href="/Training/InductionTraining?pageNumber=9" class="btn btn-primary btn-group-lg">Next</a></div>
        </div>
    </div>
</div>