﻿
@{
    ViewBag.Title = "User Guide";
}

<style>
    h3, h4, .guide_highlight {
        color: cornflowerblue;
    }

    .guideImages {
        text-align: center;
    }

        .guideImages > img {
            max-width: 650px;
        }

    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Induction Training</a></li>
    <li class="active"><a href="#">Accessing Reference Documents</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("A Guide to Egenda", "InductionTraining", "Training", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Your Password and Logging In", "InductionTraining", "Training", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("Your Member Profile", "InductionTraining", "Training", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Profile", "InductionTraining", "Training", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Meeting Roles", "InductionTraining", "Training", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Calendar", "InductionTraining", "Training", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Contributing Documents to a Meeting", "InductionTraining", "Training", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "InductionTraining", "Training", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Viewing Your Meeting Documents", "InductionTraining", "Training", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Annotating a Web Page", "InductionTraining", "Training", new { pageNumber = 9 }, "")</li>
                            <li class="active">@Html.ActionLink("Accessing Reference Documents", "InductionTraining", "Training", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">Induction Training</h1>
                <h3>Accessing Reference Documents</h3>
                <p>Egenda holds all the reference documents you require for each committee in which you are engaged. To access these documents, select Reference Documents from the top navigation. In the left hand navigation you will them see a list of reference documents that relate to your committee.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/ref_doc1.png" />
                </div>
                <br />
            </div>
            <div style="text-align: center; margin-top:50px;"><button id="finishTraining" name="finishTraining" class="btn btn-primary btn-group-lg">Finish Training</button></div>
        </div>
    </div>
</div>

<!--Success Modal-->
<div class="modal fade" id="sucessModal" tabindex="-1" role="dialog" aria-labelledby="sucessModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="sucessModal">Message</h4>
            </div>
            <div class="modal-body">
                <p id="successBodyText">Your training is completed</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary successful">Ok</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Custom/training.js"></script>