﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3,h4 {
        color: cornflowerblue;
    }
     .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Induction Training</a></li>
    <li class="active"><a href="#">Your Password and Logging In</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("A Guide to Egenda", "InductionTraining", "Training", new { pageNumber = 0 }, "")</li>
                            <li class="active">@Html.ActionLink("Your Password and Logging In", "InductionTraining", "Training", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("Your Member Profile", "InductionTraining", "Training", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Profile", "InductionTraining", "Training", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Meeting Roles", "InductionTraining", "Training", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Calendar", "InductionTraining", "Training", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Contributing Documents to a Meeting", "InductionTraining", "Training", new { pageNumber = 6 }, "")</li>
                            <li>@Html.ActionLink("Uploading Meeting Documents", "InductionTraining", "Training", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Viewing Your Meeting Documents", "InductionTraining", "Training", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Annotating a Web Page", "InductionTraining", "Training", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("Accessing Reference Documents", "InductionTraining", "Training", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">Induction Training</h1>
                <h3 id="question2">Your Password and Logging In</h3>
                <p>Your User profile will be created by your System Administrator.</p>
                <p>You will receive an email asking you to LOGIN AND SET UP YOUR PASSWORD.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/reset.png" />
                </div>
                <br />
                <p>When you have set up your password you will immediately be taken to the login screen.</p>
                <h4>Log In for the First Time</h4>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/login-scshot.png" />
                </div>
                <br />
                <p>Enter User Name – Your user name is the email address that your Set Up Password Message was sent to.</p>
                <p>Enter Your Password</p>
                <p>Click Log In.</p>
                <p>You are now logged in as the <strong>Administrator</strong>.</p>
                <h4>Forgotten Password</h4>
                <p>If you have forgotten your password, click on the Forgotten Password link and follow the prompts.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/forgotpsd-scshot.png" />
                </div>
                <br />
                <p>A new temporary password will be automatically sent to your email address. When entering the temporary password you will be prompted to reset the password before proceeding.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/forgot_reset.png" />
                </div>
            </div>

            <div style="text-align: center; margin-top:50px;"><a href="/Training/InductionTraining?pageNumber=2" class="btn btn-primary btn-group-lg">Next</a></div>
        </div>
    </div>
</div>