﻿
@{
    ViewBag.Title = "UserGuide";
}

<style>
    h3,h4, .guide_highlight {
        color: cornflowerblue;
    }
     .guideImages{
         text-align:center;
     }
    .guideImages >img {
        max-width:650px;
    }
    .nav .nav-list li.active {
        background-color: #ef4123 !important;
    }
</style>
<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#">Induction Training</a></li>
    <li class="active"><a href="#">Uploading Meeting Documents</a></li>
</ol>

<div class="main-container">
    <div class="row">
        <div class="col-sm-3">
            <div class="well sidebars">
                <ul class="nav nav-list tree userGuide">
                    <li>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("A Guide to Egenda", "InductionTraining", "Training", new { pageNumber = 0 }, "")</li>
                            <li>@Html.ActionLink("Your Password and Logging In", "InductionTraining", "Training", new { pageNumber = 1 }, "")</li>
                            <li>@Html.ActionLink("Your Member Profile", "InductionTraining", "Training", new { pageNumber = 2 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Profile", "InductionTraining", "Training", new { pageNumber = 3 }, "")</li>
                            <li>@Html.ActionLink("Meeting Roles", "InductionTraining", "Training", new { pageNumber = 4 }, "")</li>
                            <li>@Html.ActionLink("Your Meeting Calendar", "InductionTraining", "Training", new { pageNumber = 5 }, "")</li>
                            <li>@Html.ActionLink("Contributing Documents to a Meeting", "InductionTraining", "Training", new { pageNumber = 6 }, "")</li>
                            <li class="active">@Html.ActionLink("Uploading Meeting Documents", "InductionTraining", "Training", new { pageNumber = 7 }, "")</li>
                            <li>@Html.ActionLink("Viewing Your Meeting Documents", "InductionTraining", "Training", new { pageNumber = 8 }, "")</li>
                            <li>@Html.ActionLink("Annotating a Web Page", "InductionTraining", "Training", new { pageNumber = 9 }, "")</li>
                            <li>@Html.ActionLink("Accessing Reference Documents", "InductionTraining", "Training", new { pageNumber = 10 }, "")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid paper-container">
                <h1 style="text-align: center;">Induction Training</h1>
                <h3 id="question8">Uploading Meeting Documents</h3>
                <p>From the Home page top navigation.  Select Upload Document.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_doc1.png" />
                </div>
                <br />
                <p>You will see the following screen.</p>
                <p>This will be automatically populated with the Meeting Type and the meeting date that you are working on.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_mdoc.png" />
                </div>
                <br />
                <p>Select the specific Agenda Item (from the drop-down menu) associated with the document to be uploaded.</p>
                <p>If your document is for a related item, select this item from the menu.</p>
                <p>Select Browse and navigate to the location of the document to be uploaded.</p>
                <p>Select the document and select Upload.</p>
                <p>An upload progress bar will be presented.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_prog.png" />
                </div>
                <br />
                <p>When the document has been successfully uploaded you will see the message below.</p>
                <div class="guideImages img-responsive">
                    <img src="~/Media/assets/upload_success.png" />
                </div>
                <br />
                <p>Repeat the upload process for all subsequent documents.</p>
            </div>
            <div style="text-align: center; margin-top:50px;"><a href="/Training/InductionTraining?pageNumber=8" class="btn btn-primary btn-group-lg">Next</a></div>
        </div>
    </div>
</div>