﻿@*meeting types*@
<div id="meetingType-container">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right" id="meeting-create">
                <button class="btn btn-lg btn-warning glyphicon glyphicon-plus" data-popup-open="popup-2" data-toggle="tooltip" data-original-title="Create Meeting Type" data-placement="bottom"></button>
            </div>
        </div>
    </div>
    <div class="row meeting-admin">
        <div class="col-sm-12">
            <div id="meeting-types">
                <button class="btn">Board</button>
                <button class="btn">Committee</button>
                <button class="btn">Exco</button>
                <button class="btn">Governance</button>
                <button class="btn">Emergency</button>
                <button class="btn">Special</button>
                @*<div><i class="fa fa-television meeting-icon"></i><span class="meeting-type">Board</span></div>*@
            </div>
        </div>
    </div>
</div>
@*end of meeting types*@


<div class="popup" data-popup="popup-2">
    <div class="popup-inner">
        <h4>Enter Meeting Title</h4>
        <br />
        <div class="form-group row">
            <label for="message-text" class="col-md-3 col-form-label">Enter Meeting Title:</label>
            <div class="col-md-9">
                <input type="text" class="form-control" />
            </div>
        </div>
        <br />
        @*Action buttons*@
        <div id="custom-modalfooter">
            @*<button data-popup-close="popup-2" class="btn btn-default pull-left">Cancel</button>
            <button class="btn btn-primary pull-right">Ok</button>*@
            <button class="btn btn-primary">Ok</button>
        </div>
        <br />
        <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
    </div>
</div>
