﻿@model  List<BoardsXpress.Models.MeetingViewModels>
<div id="meetingType-container">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right" id="meeting-create">
                <button class="btn btn-lg btn-warning glyphicon glyphicon-plus" data-toggle="tooltip" data-original-title="Create Meeting Type" data-placement="bottom"></button>
            </div>
            <div class="form-group" id="meetingType-inputForm" hidden>
                <input type="text" id="meetingType-input" />
                <button class="btn btn-primary" id="meeting-submit">Ok</button>
            </div>
        </div>
    </div>
    <div class="row meeting-admin">
        <div class="col-sm-12">
            <div id="meeting-types">
                @*<button class="btn">Board</button>
                <button class="btn">Committee</button>
                <button class="btn">Exco</button>
                <button class="btn">Governance</button>
                <button class="btn">Emergency</button>
                <button class="btn">Special</button>*@
                @if (Model.Select(s => s.meetingTypeId).Count() > 0 && Model.Select(s => s.meetingType).FirstOrDefault() != null)
                {
                    foreach (var item in Model)
                    {
                        <button class="btn" id="@item.meetingTypeId">@item.meetingType</button>
                    }
                }
                else
                {
                    <p>Meeting Type has not been created</p>
                }

                @*<div><i class="fa fa-television meeting-icon"></i><span class="meeting-type">Board</span></div>*@
            </div>
        </div>
    </div>
</div>
@*end of meeting types*@

@*admin page*@
<div id="admin-container" hidden>
    <span class="glyphicon glyphicon-backward" id="adminContainer-back" data-toggle="tooltip" data-original-title="Go Back" data-placement="top" style="font-size:20px;cursor:pointer;"></span>
    <h3 style="text-align:center; margin-top:-2px;"></h3><br />
    <div class="row">
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/usermanagement';"><span class="glyphicon glyphicon-user"></span></br>Set Up and Manage Users</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/calendar';"><span class="glyphicon glyphicon-calendar"></span></br>Manage Meeting Calendar</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/agendaitem';"><span class="glyphicon glyphicon-list-alt"></span></br>Create Meeting Agenda</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/documentrepo';"><span class="glyphicon glyphicon-phone"></span></br>Review and Publish Documents</button>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons" onclick="location.href = '/uploadRefDoc';"><span class="glyphicon glyphicon-file"></span></br>Manage Reference Documents and Resources</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons"><span class="glyphicon glyphicon-comment"></span></br>Manage Annotations</button>
        </div>
        <div class="col-sm-3 col-md-3 ">
            <button class="bigButtons"><span class="glyphicon glyphicon-briefcase"></span></br>Manage Archives</button>
        </div>
    </div>
    </br>
</div>

