﻿@model  List<BoardsXpress.Models.MeetingViewModels>
@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/Dashboard.css")
@Styles.Render("~/Content/font-awesome.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")


<ol class="breadcrumb">
    <li><a href="/home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="/Dashboard">Dashboard</a></li>
    <li><a href="#" class="active">User Profile</a></li>
</ol>
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            @*<div class="panel-heading">
                    Dashboard <span></span>
                </div>*@
            <div class="panel-body dashboard-leftmenu">
                <ul class="nav">
                    <li id="administration"><a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#load-partial" href="/Dashboard/MeetingAdministration"><i class="fa fa-meetup"></i><span>&nbsp;Meeting Admininstration</span></a></li>
                    <li class="nav-divider"></li>
                    <li id="documents"><a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#load-partial" href="/Dashboard/MyDocuments"><i class="fa fa-file"></i><span>&nbsp;My Documents</span></a></li>
                    <li class="nav-divider"></li>
                    <li id="profile"><a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#load-partial" href="/Dashboard/UserProfile "><i class="fa fa-user"></i><span>&nbsp;My Profile</span></a></li>
                   

                    @*@Html.ActionLink("Test", "Test", "Dashboard", new AjaxOptions { UpdateTargetId = "oks", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" })*@
                    @*<a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#oks" href="/Dashboard/UserProfile">Click to get server time asynchronously</a>*@
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body" id="load-partial">
                @*default load*@
                @Html.Partial("_MeetingAdministration")
            </div>@*end of panel body*@
        </div>@*end of panel*@
    </div>@*end of right col*@
</div>@*end of page row*@

@section Scripts{
    <script>
        $(document).on('click', '#meeting-types>button', function () {
            $('#admin-container').find('h3').html($(this).html());
            $('#meetingType-container').hide();
            $('#admin-container').show();
            var meetingId = $(this).context.id;
            var userId= getUserId();          
        })
        $(document).on('click', '#adminContainer-back', function () {
            $('#admin-container').hide();
            $('#meetingType-container').show();
        })

        $(document).on('click', '#meeting-create', function () {
            $('#meetingType-inputForm').show();
        })

        $(document).on('click', '#meeting-submit', function () {
            $.ajax({
                url: '/MeetingTypes/Create',
                type: "POST",
                datatype: "json",
                data: getInfoAsJson(),
                contentType: "application/json",
                success: function (result) {
                    location.reload();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })

        function getInfoAsJson() {
            return JSON.stringify({
                meetingType: $('#meetingType-input').val()
            });

        }



</script>
}








